html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', arial, sans-serif;
    color: #97708E;
}
body {
    background: url('../img/background/oranje.jpg');
    background-repeat: no-repeat;
    background-size: 100% 51em;
    font-size: 14px;
}
h1 {
    font-size: 1.2em;
}
button{
    border-radius: 5px;
}
form label {
    font-size: 0.6em;
}
/*navbar*/
#kendomenu{
  color:white !important;
}
#labelKalenderCategorie
{
    color:white;
    font-size: 1.2em;
}
.k-item{
    border:none;
}
.k-menu.k-header {
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent !important;
    color: white;
    font-size: 1.3em;
    position: relative;
    top: 0.5em;
}
#kendomenu .k-menu{
    color:white !important;
}
#kendomenu .k-group{
    background-color: #97708E;
}
#kendomenu .k-link{
    color: white !important;
}
.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active, .k-state-hover {
    background-color: transparent !important;
    background-image: none !important;
    color: brown !important;
}

#kendomenu .k-item>a:hover{
    background-color: #C8AEBF;
}

.right {
    float: right !important;
}

#kendomenu .k-state-hover > .k-link, .k-other-month.k-state-hover .k-link, div.k-filebrowser-dropzone em {
    color: white;
}

.k-menu .k-item, .k-widget.k-menu-horizontal > .k-item {
    border-width: 0 0 0 0 !important;
}

/*einde navbar*/

/*login */
#login input, #login button{
    width: 85%;
    color:white;
    padding:0.5em;
    font-size:1.5em;
    border-radius: 0 5px 5px 0;
    text-align: center;
    font-weight: bold;
    float:left;
    height:50px;
    border:none;
    margin-bottom:0.5em;
}

#login input{
    background-color: #A77C97 !important;
}

#login button{
    background-color: #772C53;
    width: 100% !important;
    border-radius: 5px;
}

#login {
    width: 20%;
    left: 50%;
    position: relative;
    margin-left: -10%;
    margin-top: 15%;
}

#login span{
    border-radius: 3px 0px 0px 3px;
    display: block;
    line-height: 50px;
    text-align: center;
    width: 15%;
    background-color: #772C53;
    color: white;
    float:left;
    height: 50px;
    top: 0 !important;
}
/*einde login */


.logoCF {
    width: 50%;
    margin-bottom: -40px;
}

/*om een object verticaal te centreren*/
.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.center-table {
    margin: 0 auto !important;
    float: none !important;
}

/*bootstrap breadcrump customizing*/
.breadcrumb {
    background: #FFFFFF;
    margin: 0em;
    padding: 0em;
    font-size: 0.8em;
}

.jumbotron {
    margin: 0em;
    padding: 0em;
    background: #FFF;
}

.selectedLink {
    background: #CFE8C5;
}

.jumbotron h1 {
    font-size: 2.2em;
}

.jumbotron p {
    font-size: 1.2em;
}

.modal-dialog {
    width: 95%;
    height: 92%;
}


.modal-body {
/* overflow-y : scroll;*/
}

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #E4F1F7;
    color: #003F6F;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35px;
}

/*de titeltext van de bootstrap modal dialog*/
.modal-header h4 {
    margin-top: -8px;
    line-height: 35px;
    color: #003F6F;
}

/*kleur van bootstrap*/
.panel-heading {
    background-color: #781340 !important
}

.k-grid td {
    /*padding-left: 0.2em;
    padding-right: 0.2em; 
    padding-top: 0.1em; 
    padding-bottom: 0.1em; */
    white-space: nowrap;

}

.k-grid tbody tr {
    font-size: 0.85em;

}

.k-grid table tr:hover td {
    cursor: pointer !important;

}

#GridID .k-grid-header {
    padding: 0 !important;

}

/*de columnheaders van de Kendo UI Grid*/
.k-grid-header {
    font-size: 0.8em;
}

.k-grid-header-wrap th {
    font-size: 0.8em;
}

.myKendoPopup {
    font-size: 1.0em;
    border-collapse: separate;
    border-spacing: 4px; /* cellspacing */
    background: transparent;

}

.myKendoPopup tr {
    padding: 3px 3px;
}

.table-no-border > thead > tr > th,
.table-no-border > tbody > tr > th,
.table-no-border > tfoot > tr > th,
.table-no-border > thead > tr > td,
.table-no-border > tbody > tr > td,
.table-no-border > tfoot > tr > td {
    border-top: none;
}
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
    color: #f5f5f5;
    background-color: #A77C97;
    border-color: #A77C97;
}
.dangerCellClass {
    background-color: red;
}

.highPriorityCellClass {
    background-color: orange;
}

.normalPriorityCellClass {
    background-color: rgb(255, 255, 0) ;
}

.lowPriorityCellClass {
    background-color: lightgreen;
}

/*geen multiline, wrap en fixed row height*/
#grid tbody tr {
    height: 20px;
}

#grid td {
    white-space: nowrap;
}

.result-iframe {
    border: none;
    width: 100%;
    height: 55px;
    clear: both;
    background: red;
    display: none;
    scrollbar: no;
}

.knop{
    background-color: #772C53;
    border-radius: 5px;
    padding: 0.5em;
    width: 94%;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.k-button:active, .k-button.k-state-active{
    background-color: inherit !important;
    border: none !important;
}
.k-primary:focus{
    background-color: #772C53 !important;
    background-image: inherit;

}

.k-primary:focus:active:not(.k-state-disabled):not([disabled]), .k-primary:focus:not(.k-state-disabled):not([disabled]),.k-button:focus:active:not(.k-state-disabled):not([disabled]) {
    box-shadow:none !important;
}
.k-state-active{
    border-color: #C5C5C5 !important;
}

#divWoReadOnly{
    color:red;
    width:100%;
    font-size: 80%;
}


.k-primary{
    background-color: #772C53 !important;
    border: none !important;
    background-image: none, linear-gradient(to bottom, #A77C97 0px,#772C53 100%);
}

.k-primary:hover, .k-primary:active{
    background-color: #772C53 !important;
    background-image: none, linear-gradient(to bottom, #772C53 0px, #97708E 100%) !important;
}
 