     
{% extends 'main.twig' %}

{% block pageContent %}
{% if errormessages|length > 0 %}
        <div class="alert alert-danger" role="alert" length="250px">
            <ul class="errors">
                {% for errormsg in errormessages %}
                    <li>{{ errormsg }}</li>

                {% endfor %}
            </ul>
        </div>
            
    {% endif %}
    {% if succesmessages|length > 0 %}
        <div class="alert alert-success" role="alert">

            <ul class="errors">
                {% for succesmsg in succesmessages %}
                    <li>{{ succesmsg }}</li>

                {% endfor %}
            </ul>
        </div>
    {% endif %}
            
         <table class="span5 center-table tableNoBorder">  
             <caption class="text-left"><p class = "textMainTopicTitle">Profiel verwijderen</p>
                 <p class = "textMainTopicDescr"> {{ infomessage }}</p>
            </caption>  
  
<form action="{{ global_UrlDeleteAccount }}" method="post" {{ form_enctype(form) }}>
          <div class="input-group">          
   
        <tr><td> {{ form_label(form.email) }}</td>
            <td>   {{ form_widget(form.email) }}</td></tr>
         
                      
           <tr><td>  {{ form_rest(form) }}
               <button class="btn btn-primary" name="form_delete_btn_sent" value="1">profiel verwijderen</button>
               </td>
            <td class="right"></td></tr>  
          </div>
       </form>
         </table>                      
       {% endblock pageContent %}              