{% extends 'main.twig' %}

{% block pageContent %}

    {% if global_Registration.UserIsLoggedOn %}
        <div class="container">
            <div class="jumbotron col-sm-8 center-table">
                <h1>Welkom {{ global_Registration.GetUserText() }} !</h1>
            </div>
        </div>

    {% else %}
        {% include 'partMessages.twig' %}
        <div id="login">
            <form action="{{ global_UrlLogon }}" method="post" {{ form_enctype(form) }}>
                <fieldset>
                    <p><span class="glyphicon glyphicon-user"></span>{{ form_widget(form.personeelsnummer) }}</p>
                    <p><span class="glyphicon glyphicon-lock"></span>{{ form_widget(form.wachtwoord) }}</p>
                    <button class="btn" name="form_login_btn_login" value="1"> Aanmelden </button>
                </fieldset>
            </form>
        </div>
    {% endif %}

{% endblock %}
