{% extends 'main.twig' %}

{% block pageContent %}
    <div class="row">
         <div class="col-sm-6 center-table"> 
    {% include 'partMessages.twig' %}

    {% if showForm %}

       
           
                
              <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading" style="background:#E4F1F7;color:#003F6F;">Accountgegevens wijzigen</div>
                      <div class="panel-body">
                            <p>{{ infomessage|raw }}</p>
                          </div>  
                          <form action="{{ global_UrlAccountWijzigen }}" method="post" {{ form_enctype(form) }}>
                        <!-- Table -->
                        <table class="table">  
                          
                          
                                        

                                    <tr><td>  {{ form_label(form.password) }}</td>
                                        <td>    {{ form_widget(form.password) }}</td></tr>     
                                    <tr><td>  {{ form_label(form.password2) }}</td>
                                        <td>    {{ form_widget(form.password2) }}</td></tr> 
                                    <tr><td>  {{ form_label(form.email) }}</td>
                                        <td>    {{ form_widget(form.email) }}{{ form_rest(form) }}</td></tr> 
                                    <tr><td colspan="2">  
                                            <button class="btn" name="formChangeAccountButton" value="1"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> gegevens wijzigen</button>
                                        </td>
                                         </tr>  
                            
                        
                        </table>        </form>    
                    </div>
              
          





    {% endif %}  </div>     </div>       
{% endblock pageContent %}              