     
{% extends 'main.twig' %}

{% block pageContent %}
{% if errormessages|length > 0 %}
        <div class="alert alert-danger" role="alert" length="250px">
            <ul class="errors">
                {% for errormsg in errormessages %}
                    <li>{{ errormsg }}</li>

                {% endfor %}
            </ul>
        </div>
            
    {% endif %}
    {% if succesmessages|length > 0 %}
        <div class="alert alert-success" role="alert">

            <ul class="errors">
                {% for succesmsg in succesmessages %}
                    <li>{{ succesmsg }}</li>

                {% endfor %}
            </ul>
        </div>
    {% endif %}
            
         <table class="span5 center-table tableNoBorder">  
             <caption class="text-left"><p class = "textMainTopicTitle">Paswoord wijzigen</p>
                 <p class = "textMainTopicDescr"> {{ infomessage }}</p>
            </caption>  
  
<form action="{{ global_UrlChangePassword }}" method="post" {{ form_enctype(form) }}>
          <div class="input-group">          
   
      <tr><td>  {{ form_label(form.password) }}</td>
            <td>    {{ form_widget(form.password) }}</td></tr>     
               <tr><td>  {{ form_label(form.password2) }}</td>
            <td>    {{ form_widget(form.password2) }}</td></tr> 
         
                      
           <tr><td>  {{ form_rest(form) }}
               <button class="btn btn-primary" name="form_changepassword_btn" value="1">paswoord wijzigen</button>
               </td>
            <td class="right"></td></tr>  
          </div>
       </form>
         </table>                      
       {% endblock pageContent %}              