{% extends 'main.twig' %}

{% block pageContent %}

  
         

            {% if errormessages|length > 0 %}
                <div class="alert alert-danger" role="alert" length="250px">
                    <ul class="errors">
                        {% for errormsg in errormessages %}
                            <li>{{ errormsg }}</li>

                        {% endfor %}
                    </ul>
                </div>

            {% endif %}
            {% if succesmessages|length > 0 %}
                <div class="alert alert-success" role="alert">

                    <ul class="errors">
                        {% for succesmsg in succesmessages %}
                            <li>{{ succesmsg }}</li>

                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

           {# <div class="jumbotron">
                <form action="{{ global_UrlSuscribe }}"  method="post"  role="form">

                    <div class="input-group">
                        {{ form_widget(formregister) }}
                        <button class="btn btn-primary" name="form_login_btn_logout">registeren</button>
                    </div>
                </form>
            </div>
                 ->add('email', 'email')
                ->add('password', 'password', array('label' => 'Password'))
                ->add('password2', 'password', array('label' => 'Password herhaling'))
           #}
                 <table class="span5 center-table tableNoBorder">  
          <caption class="text-left textMainTopicTitle">Registreren :</caption>  
<form action="{{ global_UrlSuscribe }}" method="post" {{ form_enctype(formregister) }}>
          <div class="input-group">          
   
        <tr><td> {{ form_label(formregister.email) }}</td>
            <td>   {{ form_widget(formregister.email) }}</td></tr>
            <tr><td>  {{ form_label(formregister.password) }}</td>
            <td>    {{ form_widget(formregister.password) }}</td></tr>     
               <tr><td>  {{ form_label(formregister.password2) }}</td>
            <td>    {{ form_widget(formregister.password2) }}</td></tr> 
                      
           <tr><td>  {{ form_rest(formregister) }}
               <button class="btn btn-primary" name="form_login_btn_logout">registeren</button>
               </td>
            <td class="right"></td></tr>  
          </div>
       </form>
         </table>      


{% endblock %}
