{% extends 'main.twig' %}

{% block pageContent %}
   <div class="table-responsive">
        <table class = "tableNoBorder">
            <tbody>
                <tr><td>
   <p>Wistjedat.net maakt op haar websites gebruik van cookies. Functionaliteiten van derden, gebruikt op Wistjedat.net, maken soms ook gebruik van cookies. Op deze pagina kun je alles lezen over deze cookies.</p>
<ul>
<li><a href="../../../../cookiebeleid#wat">Wat zijn cookies</a></li>
<li><a href="../../../../cookiebeleid#welke">Welke cookies&nbsp;</a></li>
<li><a href="../../../../cookiebeleid#uitschakelen">In- &amp; Uitschakelen van cookies</a></li>
</ul>
<h2><a name="wat"></a>Wat zijn cookies?</h2>
<p>Cookies zijn eenvoudige bestandjes die met pagina&rsquo;s van onze website worden meegestuurd en door je browser (het programma waarmee je naar websites kijkt) worden opgeslagen op het door jou gebruikte apparaat (bijvoorbeeld computer, smartphone of tablet). De in het cookie opgeslagen informatie wordt verstuurd naar onze servers of die van de betreffende derde partijen (zie hieronder), waardoor gegevens uitgewisseld worden.</p>
<h2><a name="welke"></a>Welke cookies?</h2>
<p>Op onze website worden via de volgende functionaliteiten cookies gebruikt:</p>
<ul>
<li>&ldquo;Google Analytics&rdquo; cookies;</li>
<li>&ldquo;Google Adsense&rdquo; cookies;</li>
<li>&ldquo;Statcounter&rdquo; cookies;</li>
<li>&ldquo;Facebook social plugin&rdquo; cookie en &ldquo;Facebook Connect&rdquo; cookie;</li>
<li>&ldquo;Twitter Button&rdquo;cookie;</li>
</ul>
<p>Deze cookies worden niet altijd door Wistjedat.net zelf geplaatst of uitgelezen, maar ook door derde partijen waarvan Wistjedat.net functionaliteiten op de websites aanbiedt.</p>
<h3 style="margin-left: 30px;">Cookies van Google:</h3>
<p style="margin-left: 30px;">Via onze website worden cookies geplaatst van het Amerikaanse bedrijf Google , als deel van de Analytics, Google +1, en de Adsense dienst. Wij gebruiken deze diensten om bij te houden en rapportages te krijgen over hoe bezoekers de website gebruiken, om producten te delen via Google +1 en surfgegevens en gedrag bij te houden. Wij maken gebruik van de verkregen statistieken, die voor ons niet herleidbaar zijn tot personen.</p>
<p style="margin-left: 30px;">Google kan informatie aan derden verschaffen indien Google hiertoe wettelijk wordt verplicht, of voor zover derden de informatie namens Google verwerken. Wij hebben geen invloed op het gebruik van de data door Google en/of derden. Wij hebben Google niet toegestaan de verkregen Analytics informatie te gebruiken voor andere Google diensten. Leest u de privacyverklaring van Google (welke regelmatig kan wijzigen) om te lezen wat zij met uw (persoons)gegevens doen die zij via deze cookies verwerken.</p>
<p style="margin-left: 30px;">Cookies van Google verzamelen gegevens (advertentie views, browser informatie, datum en tijd, demografische gegevens, pagina views) en het IP-adres van de gebruiker.</p>
<p style="margin-left: 30px;">De informatie die Google verzamelt, wordt zo veel mogelijk geanonimiseerd. Uw IP-adres wordt nadrukkelijk niet meegegeven.&nbsp;De informatie wordt overgebracht naar en door Google opgeslagen op servers in de Verenigde Staten. Google stelt zich te houden aan de Safe Harbor principles en is aangesloten bij het Safe Harbor-programma van het Amerikaanse Ministerie van Handel. Dit houdt in dat er sprake van een passend beschermingsniveau voor de verwerking van eventuele persoonsgegevens.</p>
<h3 style="margin-left: 30px;">Adsense</h3>
<p style="margin-left: 30px;">Specifiek voor de Adsense dienst geldt nog dat Google bijhoudt welke website u bezoekt binnen het netwerk van Google om zo een profiel op te bouwen en passende advertenties te tonen. Het profiel wordt niet gekoppeld aan uw naam, emailadres, adres etc., maar is wel persoonlijk aan de hand van het geplaatste cookie.</p>
<h3 style="margin-left: 30px;">StatCounter</h3>
<p style="margin-left: 30px;">Als u onze website bezoekt wordt er een StatCounter analytics cookie (met de naam "is_unique") door uw browser op uw computer opgeslagen. Deze cookie wordt alleen gebruikt om te bepalen of u een bezoeker bent die voor het eerst onze website bezoekt, of dat u de website voorheen vaker bezocht heeft.  Er wordt geen persoonlijke informatie in deze cookie opgeslagen.
</p>

<h3 style="margin-left: 30px;">Facebook en twitter</h3>
<p style="margin-left: 30px;">Op onze website zijn buttons opgenomen om webpagina&rsquo;s te kunnen promoten (&ldquo;liken&rdquo;) of delen (&ldquo;tweeten&rdquo;) op de sociale netwerken Facebook en Twitter. Deze buttons werken door middel van stukjes code die van Facebook en Twitter zelf afkomstig zijn. Door middel van deze code worden cookies geplaatst. Leest u de privacyverklaring van deze bedrijven (welke regelmatig kunnen wijzigen) om te lezen wat zij met uw (persoons)gegevens doen die zij via deze cookies verwerken.</p>
<p style="margin-left: 30px;">De informatie die ze verzamelen wordt zo veel mogelijk geanonimiseerd. De informatie wordt overgebracht naar en door Facebook en Twitter opgeslagen op servers in de Verenigde Staten. Facebook en Twitter stellen zich te houden aan de Safe Harbor principles en zijn aangesloten bij het Safe Harbor-programma van het Amerikaanse Ministerie van Handel. Dit houdt in dat er sprake is van een passend beschermingsniveau voor de verwerking van eventuele persoonsgegevens.</p>
<p style="margin-left: 30px;">De cookies verzamelen gegevens zoals browser informatie, demografische gegevens, interactie gegevens, pagina views, cookie data, datum en tijd, hardware/software type, internet service provider, pagina reviews het IP-adres, de zoekhistorie van de gebruiker en het ID-nummer van het gebruikte apparaat.</p>
<h2><a name="uitschakelen"></a>In- en uitschakelen van cookies en verwijdering daarvan</h2>
<p>Meer informatie omtrent het in- en uitschakelen en het verwijderen van cookies kunt u vinden in de instructies en/of met behulp van de Help-functie van uw browser. Wij wijzen u er echter op dat dit het gebruik van sommige functionaliteiten van de websites kan vertragen of onmogelijk maakt. Maar u kunt cookies dus op voorhand niet toestaan, waardoor er geen cookies worden geplaatst.</p>
<p>Meer informatie over het in- en uitschakelen en het verwijderen van cookies kunt u vinden in de instructies van de Help-functie van uw browser:</p>
<ul>
<li><a href="http://support.mozilla.org/nl/kb/cookies-in-en-uitschakelen-websites-voorkeuren" target="_blank">Firefox</a></li>
<li><a href="http://windows.microsoft.com/nl-NL/windows-vista/Block-or-allow-cookies" target="_blank">Internet Explorer</a></li>
<li><a href="http://support.apple.com/kb/PH5042" target="_blank">Safari (Engelstalig)</a></li>
<li><a href="http://support.google.com/chrome/bin/answer.py?hl=nl&amp;answer=95647" target="_blank">Google Chrome</a></li>
</ul>

          
                    </td></tr><tbody></table></div>
{% endblock %}
