{% extends 'main.twig' %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-condensed">
                <thead>
                    <tr>

                        <th data-field="name">Opleidingen</th>

                    </tr>
                </thead>
                <tbody>

                    {% for course in courses %}
                        <tr> 
                            <td>
                                <form action="{{ pagina_modules }}"  method="post"  role="form">
                                    <input type="hidden" value ="{{ course.co_id }}" name ="courseId"></input>
                                    <input type="hidden" value ="{{ course.co_name }}" name ="courseName"></input>
                                    <button class="btn btn-primary btn-xs" name="formCourses">Modules bekijken</button>
                                </form>
                            </td>
                            <td>
                                {{ course.co_name }}
                            </td>
                        </tr>


                    {% endfor %}

                </tbody>
            </table> </div>
        <div class="col-md-2"></div>

    </div>
{% endblock %}
