{% extends 'main.twig' %}

{% block pageContent %}
    <br>
    <table style='background:rgba(255,255,255,0.9) ;margin-left: auto ; margin-right: auto ; border-spacing: 10px;'
           class="center" width='800px' height='80%'>
        <tr>
            <td valign='top' width="20%">
                <div id="gauge"></div>

            </td>
            <td valign='top' style="padding: 6px;">
                <span id="popupNotification"></span>

                <h2>Welkom {{ global_Registration.GetUserText() }} !</h2>
                <br>
                {# if global_Registration.getGroepFuncties().getCodeRechten(425) =='schrijven' %}
                    <h4><u>Kalender vandaag :</u></h4>

                    {% for item in dashBoardItemList if item.aantal>0 and item.module=="kalender" %} <!--  if item.aantal>0 -->

                        {% if item.type == "broodjes" %}
                            <img src='/img/icons/broodjes2.png' width="25px" title='koffie'/> {{ item.aantal }} -
                        {% endif %}
                        {% if item.type == "koffie" %}
                            <img src='/img/icons/koffie2.png' width="25px" style="margin-top: -5px"
                                 title='koffie'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "koekjes" %}
                            <img src='/img/icons/koekjes.png' width="25px" style="margin-top: -5px"
                                 title='koekjes'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "soep" %}
                            <img src='/img/icons/soep.png' width="25px" style="margin-top: -5px"
                                 title='soep'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "zaal klaarzetten" %}
                            <img src='/img/icons/zaalklaarzetten.png' width="25px" style="margin-top: -5px"
                                 title='zaal klaarzetten'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "speakers" %}
                            <img src='/img/icons/speakers.png' width="25px" style="margin-top: -5px"
                                 title='speakers'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "verlengkabel" %}
                            <img src='/img/icons/verlengkabel.png' width="25px" style="margin-top: -5px"
                                 title='verlengkabel'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "DVD-Speler" %}
                            <img src='/img/icons/dvd.png' width="25px" style="margin-top: -5px"
                                 title='DVD-Speler'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "flipover" %}
                            <img src='/img/icons/flipover.png' width="25px" style="margin-top: -5px"
                                 title='flipover'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "stiften" %}
                            <img src='/img/icons/stiften.png' width="25px" style="margin-top: -5px"
                                 title='stiften'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "whiteboard" %}
                            <img src='/img/icons/whiteboard.png' width="25px" style="margin-top: -5px"
                                 title='whiteboard'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "beamer" %}
                            <img src='/img/icons/beamer.png' width="25px" style="margin-top: -5px"
                                 title='beamer'/> {{ item.aantal }}
                        {% endif %}
                        {% if item.type == "laptop" %}
                            <img src='/img/icons/laptop.png' width="25px" style="margin-top: -5px"
                                 title='laptop'/> {{ item.aantal }}
                        {% endif %}
                    {% endfor %}
                {% endif #}

                {# if global_Registration.getGroepFuncties().getCodeRechten(325) =='schrijven' %}
                    <br>  <br>
                    <h4><u>Werkbonnenbeheer :</u></h4>

                    {% for item in dashBoardItemList if item.aantal>0 and item.module=="werkbonnenbeheer" %} <!--  if item.aantal>0 -->

                        {% if item.type == "werkaanvraag_ongelezen" %}
                            <p> ongelezen werkaanvragen : {{ item.aantal }} </p>
                        {% endif %}
                        {% if item.type == "werkaanvraag_keuring" %}
                            <p>gelezen werkaanvragen die wachten op goedkeuring: {{ item.aantal }} </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if global_Registration.getGroepFuncties().getCodeRechten(200) =='schrijven' %}
                    <br>
                    <h4><u>Inventaris :</u></h4>

                    {% for item in dashBoardItemList if item.aantal>0 and item.module=="inventaris" %} <!--  if item.aantal>0 -->

                        {% if item.type == "inventaris_open" %}
                            niet-geïnventariseerde items : {{ item.aantal }}
                        {% endif %}
                    {% endfor %}
                {% endif #}

            </td>
        </tr>
    </table>
    <script>
        $(document).ready(function () {

            $("#gauge").kendoRadialGauge({

                pointer: {
                    value: 127
                },

                scale: {
                    minorUnit: 5,
                    startAngle: -30,
                    endAngle: 210,
                    max: 180
                }
            });
    </script>


{% endblock %}
 

 
