
{% extends 'main.twig' %}

{% block pageContent %}
          <div class="jumbotron">
        <div class="jumbotronheadertext">Error : {{ infoMessageTitle }}</div>
        <p>{{ infoMessageBody }}</p>
        
    </div>
{% endblock %}
