{% extends 'main.twig' %}

{% block pageContent %}

    <br>
    <script>

        $(document).ready(function () {


            var g = $("#grid").kendoGrid({
                toolbar: ["excel", "pdf"],
                excel: {
                    fileName: "groepen-locaties.xlsx",
                    filterable: true,
                    allPages: true
                },
                pdf: {
                    fileName: "groepen-locaties.pdf",
                    filterable: true,
                    allPages: true
                },
                //rowTemplate: kendo.template($("#template").html()),   
                sortable: true,
                groupable: true,
                scrollable: true,
                reorderable: true,
                selectable: "single row",
                navigatable: true,
                columnMenu: true,
                resizable: true,
                height: screen.height - 200,
                pageable: false,
                filterable: {
                    mode: "row"
                },
                dataSource: {
                    transport: {
                        read: {
                            url: "/webservice/gebruikersrechten/functie/",
                            dataType: "Json"
                        }
                    }
                },
                columns: [
                    {
                        field: "code", width: 120, title: "code", filterable: {
                        cell: {
                            operator: "contains"
                        }
                    }
                    },
                    {
                        field: "naam", title: "naam", width: 180, filterable: {
                        cell: {
                            operator: "contains"
                        }
                    }
                    },
                    {
                        field: "cat", width: 120, title: "categorie", filterable: {
                        cell: {
                            operator: "contains"
                        }
                    }
                    }

                ]
            }).data("kendoGrid");


        });


    </script>
    <div id="grid"></div>

{% endblock %}
