{% extends 'main.twig' %}

{% block pageContent %}
   <br>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/scripts/gettheme.js"></script>
    <link rel="stylesheet" href="/jqwidgets-ver3.6.0/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/jqwidgets-ver3.6.0/jqwidgets/styles/jqx.ui-redmond.css" type="text/css" />
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxdata.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.grouping.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.pager.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.sort.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxlistbox.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxdropdownlist.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/scripts/demos.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxtree.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.columnsresize.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.columnsreorder.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxvalidator.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxeditor.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcolorpicker.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxtabs.js"></script>



    <script>
  $(document).ready(function () {
       
    
        
        var contextMenu = $("#jqxMenu").jqxMenu({ width: '350px',  height: '80px', autoOpenPopup: false, mode: 'popup' });
            var clickedItem = null;
            
            var attachContextMenu = function () {
                // open the context menu when the user presses the mouse right button.
                $("#jqxTree li").on('mousedown', function (event) {
                    var target = $(event.target).parents('li:first')[0];
                    var rightClick = isRightClick(event);
                    if (rightClick && target != null) {
                        $("#jqxTree").jqxTree('selectItem', target);
                        var scrollTop = $(window).scrollTop();
                        var scrollLeft = $(window).scrollLeft();
                        contextMenu.jqxMenu('open', parseInt(event.clientX) + 5 + scrollLeft, parseInt(event.clientY) + 5 + scrollTop);
                        return false;
                    }
                });
            }
   
            $("#jqxMenu").on('itemclick', function (event) {
                var item = $.trim($(event.args).text());
                switch (item) {
                    case "locatie bewerken":
                       /* var selectedItem = $('#jqxTree').jqxTree('selectedItem');
                        if (selectedItem != null) {
                            $('#jqxTree').jqxTree('addTo', { label: 'Item' }, selectedItem.element);
                            attachContextMenu();
                        }*/
                        var selectedItem = $('#jqxTree').jqxTree('selectedItem');
                        if (selectedItem != null) {
                            
                           window.location = '/smm/gebouwenbeheer/?mode=update&id=' + selectedItem.id;
                            
                        }
                        break;
                    case "sublocatie toevoegen":
                           var selectedItem = $('#jqxTree').jqxTree('selectedItem');
                       if (selectedItem != null) {
                            
                           window.location = '/smm/gebouwenbeheer/?mode=insert&id=' + selectedItem.id + '&parentid=' + selectedItem.id;
                            
                        }
                        break;
                    case "locatie verwijderen":
                           var selectedItem = $('#jqxTree').jqxTree('selectedItem');
                       if (selectedItem != null) {
                            
                           window.location = '/smm/gebouwenbeheer/?mode=delete&id=' + selectedItem.id ;
                            
                        }
                        break;  
                       
                }
            });
            // disable the default browser's context menu.
            $(document).on('contextmenu', function (e) {
                if ($(e.target).parents('.jqx-tree').length > 0) {
                    return false;
                }
                return true;
            });
            function isRightClick(event) {
                var rightclick;
                if (!event) var event = window.event;
                if (event.which) rightclick = (event.which == 3);
                else if (event.button) rightclick = (event.button == 2);
                return rightclick;
            }
     var url = "/webservice/gebouwenbeheer/overzicht/";
        var source =
                {
                    async: false, //belangrijk, anders heeft de functie getRecordsHierarchy nog geen data
                    datatype: "json",
                    datafields: [
                        {name: 'id'},
                        {name: 'parentid'},
                        {name: 'naam'},
                        {name: 'level'}
                    ],
                    id: 'id',
                    url: url
                };
        var dataAdapter = new $.jqx.dataAdapter(source);
        dataAdapter.dataBind();
        var records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{name: 'naam', map: 'label'}]);
        
            $('#jqxTree').jqxTree({source: records, width: '350px', height: 500,  theme: 'ui-redmond'});
                    {% if id %}
                                {
                                var items = $("#jqxTree").jqxTree('getItems');
                                        $.each(items, function () {
                                        if (this.id == {{ id }}) {
                                        $("#jqxTree").jqxTree('selectItem', this.element);
                                                $("#jqxTree").jqxTree('expandItem', this.element);
                                        }
                                        });
                                }
                    {% endif %}         
                attachContextMenu();
       /*  $('#jqxTree').on('select', function (event) {
                    var args = event.args;
                            var item = $('#jqxTree').jqxTree('getItem', args.element);
                         window.location = '/smm/gebouwenbeheer/?mode=update&id=' + item.id; 
                    });  */      
});
    </script>


 
    
 
    <table style="margin-top:25px;cellspacing:1em;">
        <tr>
             <td valign='top'>
                <a class="btn-sm btn-success" style="margin-left: 0.6em;" href="{{ global_UrlRoot }}/smm/gebouwenbeheer/?mode=insert&parentid=-1"><span class="glyphicon glyphicon-home" style="margin-right: 0.2em;" aria-hidden="true"></span>campus toevoegen</a>
           
           <div id='jqxTree' name= 'jqxTree' style="margin-top: 20px">    </div> 
       <div id='jqxMenu'>
            <ul>
              
                <li>locatie bewerken</li>
                <li>sublocatie toevoegen</li>
                <li>locatie verwijderen</li>
            </ul>
        </div>
            </td>  
            <td valign='top'>
    {% include 'partMessages.twig' %}
    
    {% if showForm %}
           
                <div class="panel panel-primary" style='color:#87B6D9'>
                  
                    <div class="panel-heading active">
                       {{ formTitle }}
                    </div>
                    <form action="{{ global_UrlRoot }}/smm/gebouwenbeheer/" method="post" {{ form_enctype(form) }}>
                        <table class="table"> 
                            <tr><td> {{ form_label(form.naam) }} </td>
                                <td>{{ form_widget(form.naam) }}</td></tr>
                            <tr><td> {{ form_label(form.beschrijving) }} </td>
                                <td>{{ form_widget(form.beschrijving) }}</td></tr>
                            <tr><td> {{ form_label(form.opmerking) }} </td>
                                <td>{{ form_widget(form.opmerking) }}</td></tr>
                            <tr>
                                <td>  
                                    {{ form_rest(form) }}
                            
                                    </td>
                                    <td class="right">  
                                        <input type="hidden" name="id" value="{{ id }}" id="id">
                                        <input type="hidden" name="parentid" value="{{  parentid }}" id="parentid">
                                        <input type="hidden" name="mode" value="{{ mode }}" id="parentid">
                                        <button class="btn btn-success" type="submit" value = "1" class="btn btn-primary" name="formBtnLocationAdd">
                                            {% if  mode=="update"  %}wijzigen{% else  %}toevoegen{% endif %}
                                        </button>
                                    </td></tr>
                            </table> </form>


                    </div>
                                   
               
        {% endif %} 
         </td>  </tr> </table>  
    {% endblock %}
