{% extends 'main.twig' %}

{% block pageContent %}
    <br>
    <script>
         $(document).ready(function () {
                      var crudServiceBaseUrl = "/webservice/gebruikersrechten";
                        dataSource = new kendo.data.DataSource({
                          //  autoSync: true,  //inline  (batch moet dan uit)
                            batch: true, //edit of popup (autoSync moet dan uit)
                            transport: {
                                read:  {
                                     url: crudServiceBaseUrl + '/gebruikergroep/',
                                    dataType: "Json"
                                },
                                update: {
                                    url: crudServiceBaseUrl + '/gebruikergroep' + "/save/",
                                    dataType: "Json",
                                    type: "post"
                                 },
                               /* destroy: {
                                    url: crudServiceBaseUrl + "/Products/Destroy",
                                    dataType: "Json"
                                },*/
                               /* create: {
                                    url: crudServiceBaseUrl + "/merken/save/",
                                    dataType: "Json",
                                    type: "post"
                                },*/
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                               
                                        return {models: kendo.stringify(options.models)};
                                    }
                                }
                            },
                            
                          
                           // pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                         id: { editable: false, nullable: false },
                                        groepcode: { editable: false, nullable: false },
                                        groepnaam: { editable: false, nullable: false },
                                      
                                        personeelscode: { editable: false, nullable: false },
                                        voornaam: { editable: false, nullable: false },
                                        achternaam: { editable: false, nullable: false },
                                        subgroep: { editable: false, nullable: false },
                                        functieBeschrijving: { editable: true, nullable: false },
                                        werkplaats: { editable: true, nullable: false },
                                        email: { validation: { email: true,required: false } },
                                        telefoon: { validation: { required: false } },
                                        gsm: { validation: { required: false } }
                                        }
                                    }
                                }
                            
                        });

                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        sortable: true,   filterable: {
                   // mode: "row"
                },  toolbar: ["excel", "pdf"],
                excel: {
                    fileName: "groepen-gebruikers.xlsx",
                    filterable: true,
                    allPages: true
                },
                pdf: {
                    fileName: "groepen-gebruikers.pdf",
                },
                dataBound: function (e) {
                    g.hideColumn("id");

                },   filterable: {
                   // mode: "row"
                },
                groupable: true,
                scrollable: true,
                reorderable: false,
                selectable: "single row",
                navigatable: true,
                columnMenu: true,
                resizable: true,
                 height: screen.height-200,
                pageable: false,
                    //    toolbar: ["create"],
                        columns: [
                     
                  {field: "id", title: "id"},
                    {field: "groepcode", width: 77, title: "groepcode", filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "groepnaam", title: "groepnaam", width: 180, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                  
                    {field: "personeelscode", title: "pers.nr.", width: 80, attributes: {
                            "class": "table-cell",
                            style: "text-align: right;"
                        }, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "voornaam", title: "voornaam", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "achternaam", title: "achternaam", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }}, 
                      {field: "functieBeschrijving", title: "functie", width: 160, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                     {field: "werkplaats", title: "werkplaats", width: 160, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "email", title: "email", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }} ,
                      {field: "telefoon", title: "telefoon", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                      {field: "gsm", title: "gsm", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "subgroep", title: "subgroep", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }} ,
                        { command: ["edit"], title: "&nbsp;", width: "250px" }
                        ],
                        editable: "inline"
                    });
                    
                    
                });
        
        
      /*  $(document).ready(function () {
               var crudServiceBaseUrl = "/webservice/gebruikersrechten";
               
               dataSource = new kendo.data.DataSource({
                    transport: {
                               autoSync: false,  //inline  (batch moet dan uit)
                            batch: true, //edit of popup (autoSync moet dan uit)
                        read: {
                            url: crudServiceBaseUrl + '/gebruikergroep/',
                            dataType: "Json"
                        },
                                update: {
                                    url: crudServiceBaseUrl + '/gebruikergroep' + "/save/",
                                    dataType: "Json",
                                    type: "post"
                                 },
                          
                                create: {
                                    url: crudServiceBaseUrl + '/gebruikergroep'  + "/save/",
                                    dataType: "Json",
                                    type: "post"
                                },
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                                        alert (options.models);
                                        return {models: kendo.stringify(options.models)};
                                    }
                                }
                    }, schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        id: { editable: false, nullable: false },
                                        groepcode: { editable: false, nullable: false },
                                        groepnaam: { editable: false, nullable: false },
                                        personeelscode: { editable: false, nullable: false },
                                        voornaam: { editable: false, nullable: false },
                                        achternaam: { editable: false, nullable: false },
                                        subgroep: { editable: false, nullable: false },
                                        email: { validation: { required: false } },
                                        telefoon: { validation: { required: false } },
                                        gsm: { validation: { required: false } }
                                        }
                                    }
                                }
                });
               
            var g = $("#grid").kendoGrid({
                toolbar: ["excel", "pdf"],
                excel: {
                    fileName: "groepen-gebruikers.xlsx",
                    filterable: true,
                    allPages: true
                },
                pdf: {
                    fileName: "groepen-gebruikers.pdf",
                },
                dataBound: function (e) {
                    g.hideColumn("id");

                },
                //rowTemplate: kendo.template($("#template").html()),   
                sortable: true,
                groupable: true,
                scrollable: true,
                filterable: true,
                reorderable: true,
                selectable: "single row",
                navigatable: true,
                resizable: true,
                   height: screen.height-200,
                pageable: false,
                filterable: {
                   // mode: "row"
                },
                dataSource:  dataSource,
                columns: [
                  {field: "id", title: "id"},
                    {field: "groepcode", width: 60, title: "groepcode", filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "groepnaam", title: "groepnaam", width: 180, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "personeelscode", title: "pers.nr.", width: 120, attributes: {
                            "class": "table-cell",
                            style: "text-align: right;"
                        }, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "voornaam", title: "voornaam", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "achternaam", title: "achternaam", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }}, 
                    {field: "email", title: "email", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }} ,
                      {field: "telefoon", title: "telefoon", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                      {field: "gsm", title: "gsm", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "subgroep", title: "subgroep", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }} , { command: ["edit"], title: "&nbsp;", width: "250px" }
                ] , toolbar: ["create"],
                        
                        editable: "popup"
            }).data("kendoGrid");
        });*/
    </script>
















</style> 


<div id="grid"></div> 
{% endblock %}
