{% extends 'main.twig' %}
 
{% block pageContent %}
      <br>
    <script>

        $(document).ready(function () {


            var g = $("#grid").kendoGrid({
                toolbar: ["excel","pdf"],
        excel: {
            fileName: "groepen-locaties.xlsx",
            filterable: true,
            allPages:true
        },
         pdf: {
            fileName: "groepen-locaties.pdf",
             filterable: true,
            allPages:true
        },
                //rowTemplate: kendo.template($("#template").html()),   
                sortable: true,
                groupable: true,
                scrollable: true,
                reorderable: true,
                selectable: "single row",
                navigatable: true,
                columnMenu: true,
                resizable: true,
                height: "700px",
                pageable: false,
                filterable: {
                    mode: "row"
                },
                dataSource: {
                    transport: {
                        read: {
                            url: "/webservice/gebruikersrechten/groepLocaties/",
                            dataType: "Json"
                        }
                    }
                } ,
                        columns: [
                            {field: "groepcode", width: 60, title: "groepcode", filterable: {
                                    cell: {
                                        operator: "contains"
                                    }
                                }},
                            {field: "groepnaam", title: "groepnaam", width: 180, filterable: {
                                    cell: {
                                        operator: "contains"
                                    }
                                }},
                            {field: "locatienaam", width: 180, title: "locatienaam", filterable: {
                                cell: {
                                    operator: "contains"
                                }
                            }}
                       
                        ]
            }).data("kendoGrid");





            
        });



    </script>
    <div id="grid"></div> 

{% endblock %}
