{% extends 'main.twig' %}

{% block pageContent %}
    <br>
    <script>
  $(document).ready(function () {


            var g = $("#grid").kendoGrid({
                toolbar: ["excel","pdf"],
        excel: {
            fileName: "groepen-rechten.xlsx",
            filterable: true,
            allPages:true
        },
         pdf: {
            fileName: "groepen-rechten.pdf",
             filterable: true,
            allPages:true
        },
                //rowTemplate: kendo.template($("#template").html()),   
                sortable: true,
                groupable: true,
                scrollable: true,
                reorderable: true,
                selectable: "single row",
                navigatable: true,
                columnMenu: true,
                resizable: true,
               height: screen.height-200,
                pageable: false,
                filterable: {
                    mode: "row"
                },
                dataSource: {
                    transport: {
                        read: {
                            url: "/webservice/gebruikersrechten/groepFunctie/",
                            dataType: "Json"
                        }
                    }
                } ,
                        columns: [
                            {field: "groepcode", width: 120, title: "groepcode", filterable: {
                                    cell: {
                                        operator: "contains"
                                    }
                                }},
                            {field: "groepnaam", title: "groepnaam", width: 180, filterable: {
                                    cell: {
                                        operator: "contains"
                                    }
                                }},
                            {field: "functiecode", width: 120, title: "functiecode", filterable: {
                                cell: {
                                    operator: "contains"
                                }
                            }},
                        {field: "functienaam", title: "naam", width: 200, filterable: {
                                cell: {
                                    operator: "contains"
                                }
                            }},
                 {field: "functiecat", title: "module", width: 120, filterable: {
                                cell: {
                                    operator: "contains"
                                }
                            }},        
                {field: "functierecht", title: "recht", width: 120, filterable: {
                                cell: {
                                    operator: "contains"
                                }
                            }}
                        ]
            }).data("kendoGrid");





            
        });



    </script>

    <div id="grid"></div> 

{% endblock %}
