{% extends 'main.twig' %}

{% block pageContent %}
   <br>

    <script>

       $(document).ready(function () {
                    var crudServiceBaseUrl = "/webservice/inventaris",
                        dataSource = new kendo.data.DataSource({
                          //  autoSync: true,  //inline  (batch moet dan uit)
                            batch: true, //edit of popup (autoSync moet dan uit)
                            transport: {
                                read:  {
                                    url: crudServiceBaseUrl + "/merken/",
                                    dataType: "Json"
                                },
                                update: {
                                    url: crudServiceBaseUrl + "/merken/save/",
                                    dataType: "Json",
                                    type: "post"
                                 },
                               /* destroy: {
                                    url: crudServiceBaseUrl + "/Products/Destroy",
                                    dataType: "Json"
                                },*/
                                create: {
                                    url: crudServiceBaseUrl + "/merken/save/",
                                    dataType: "Json",
                                    type: "post"
                                },
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                               
                                        return {models: kendo.stringify(options.models)};
                                    }
                                }
                            },
                            
                          
                           // pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        id: { editable: false, nullable: true },
                                        naam: { validation: { required: true } }
                                        }
                                    }
                                }
                            
                        });

                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        sortable: true,
                groupable: false,
                scrollable: true,
                reorderable: false,
                selectable: "single row",
                navigatable: true,
                columnMenu: true,
                resizable: true,
                 height: screen.height-200,
                pageable: false,
                        toolbar: ["create"],
                        columns: [
                            "naam",
                        { command: ["edit"], title: "&nbsp;", width: "250px" }
                        ],
                        editable: "popup"
                    });
                });
            </script>
 <style> 

 
 

 

 
 

 

 
 
 

 

</style> 
  
 
    <div id="grid"></div> 
{% endblock %}
