{% extends 'main.twig' %}

{% block pageContent %}
   <br>

    <script>
var types = [
        {
        	"Type": "IT",
        	"Name": "Informatica"
        },
        {
        	"Type": "PAV",
        	"Name": "Paviljoen"
        },
        {
        	"Type": "TD",
        	"Name": "Technische Dienst"
        },
        {
        	"Type": "GK",
        	"Name": "Grootkeuken"
        }
];

           var dsType = new kendo.data.DataSource({
	data: types
});
function typeDropDownEditor(container, options) {
	$('<input required data-text-field="Name" data-value-field="Type" data-bind="value:' + options.field + '"/>')
		.appendTo(container)
		.kendoComboBox({
			autoBind: false,
			dataSource: dsType,
      template: "<i class=\"fa fa-#=data.Name.toLowerCase()#\"></i> #=data.Name#"
		});
}
function checkCelValue() {
	var selectedItem = dataSource.getByUid(this.select().data().uid);
	$("#log").text("Selected Type.Name: " + selectedItem.Type.Name);
}

       $(document).ready(function () {
           


           
                    var crudServiceBaseUrl = "/webservice/inventaris",
                        dataSource = new kendo.data.DataSource({
                          //  autoSync: true,  //inline  (batch moet dan uit)
                            batch: true, //edit of popup (autoSync moet dan uit)
                            transport: {
                                read:  {
                                    url: crudServiceBaseUrl + "/toestel/",
                                    dataType: "Json"
                                },
                                update: {
                                    url: crudServiceBaseUrl + "/toestel/save/",
                                    dataType: "Json",
                                    type: "post"
                                 },
                               /* destroy: {
                                    url: crudServiceBaseUrl + "/Products/Destroy",
                                    dataType: "Json"
                                },*/
                                create: {
                                    url: crudServiceBaseUrl + "/toestel/save/",
                                    dataType: "Json",
                                    type: "post"
                                },
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return {models: kendo.stringify(options.models)};
                                    }
                                }
                            },
                            
                          
                           // pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        id: { editable: false, nullable: true },
                                        naam: { validation: { required: true } },
                                         categorie: { validation: { required: true } }
                                        }
                                    }
                                }
                            
                        });

                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        sortable: true,
                groupable: false,
                scrollable: true,
                reorderable: false,
                selectable: "single row",
                navigatable: true,
                columnMenu: true,
                resizable: true,
               height: screen.height-200,
                pageable: false,
                        toolbar: ["create"],
                        columns: [
                            "naam",
                        {field: "categorie", editor: typeDropDownEditor},
                        
                        { command: ["edit"], title: "&nbsp;", width: "250px" }
                        ],
                        editable: "popup",
                        change: checkCelValue
                    });
                });
            </script>
 <style> 

 
 

 

 
 

 

 
 
 

 

</style> 
  
 
    <div id="grid"></div> 
{% endblock %}
