{% extends 'main.twig' %}
{% block pageContent %}
    <br>
    <div id="window"  style="display:none">
        <table style="font-size:0.85em;">
            <tr>
                <td>
                    <ul>
                        <li>23100 : Techn. installaties</li>
                        <li>23101 : Keuken</li>
                        <li>23103 : Medische installaties</li>
                        <li>23104 : Kantoorinstallaties</li>
                        <li>23105 : Computerinstallaties</li>
                        <li>23107 : Diverse installaties en uitrusting</li>
                        <li>23108 : tweedehandsinstallaties 5 jaar </li>
                        <li>23109 : tweedehandsinstallaties 3 jaar</li>
                    </ul>
                </td>
                <td  valign="top">
                    <ul>
                        <li>24100 : Meubilair</li>
                        <li>24101 : Rollend materieel personenvervoer</li>
                        <li>24102 : Rollend materieel</li>
                        <li>24108 : tweedehands meubilair en rollend materieel 5 jaar </li>
                        <li>24109 : tweedehands meubilair en rollend materieel 3 jaar </li>
                    </ul>
                </td>
            <tr>
        </table>
    </div>
    <script>
        //telkens we de knop 'edit' indrukken, krijgt deze variable de rij toegewezen.
        //zo kunnen we de rij gemakkelijk terugvinden en updaten.
        var editedRow = null;
        //telkens we de knop 'edit' indrukken, krijgt deze variable de rijnummer toegewezen.
        //zo kunnen we de rij gemakkelijk terugvinden en terug selecteren. (selectie wordt opgehoffen wanneer een cell wijzigt)
        var editedRowIndex = null;

        var grid = null;
        var myDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/webservice/inventaris/overzicht/", //default niks laden want geen werkaanvraag  is geselecteerd
                    dataType: "Json"
                }
            }
        });
        function showBoekhoudingInfo() {
            var window = $("#window").kendoWindow({
                width: "415px",
                heigth: "415px",
                title: "groepen boekhouding",
                visible: false,
                open: function (e) {
                    this.wrapper.css({top: 100, left: 200});
                }

            });
            window.data("kendoWindow").open();
        }
        //deze functie slaat de layout van de grid lokaal op (kolompositie, kolombreedte, Filter,...)
        function saveGridState()
        {
            if (grid != null)
                localStorage["kendo-grid-options"] = kendo.stringify(grid.getOptions());
        }
        //deze functie laadt de layout van de grid lokaal op (kolompositie, kolombreedte, Filter,...)
        function loadGridState()
        {
            if (grid != null)
            {
                var options = localStorage["kendo-grid-options"];
                if (options) {
                    grid.setOptions(JSON.parse(options));
                }
            }
        }
        $(document).ready(function () {

            var window = $("#window").kendoWindow({visible: false});
            //bij dubbel klik op een rij wordt de modal-dialog geopend met het ingave venster
            $("#grid").on("dblclick", " tbody > tr", function () {
                var grid = $("#grid").data("kendoGrid");
                editedRowIndex = $(this).closest("tr").index();
                editedRow = grid.dataItem($(this));
                 //de titel van de dialog aanpassen
                document.getElementById("myModalLabel").innerHTML = "Inventaris " + editedRow.nummer;
                $(".modal-body").html('<iframe width="98%" height="85%" frameborder="0" scrolling="no" allowtransparency="true" id="iFramePopup" src="/inventaris/editeren/?nummer263=' + editedRow.nummer + '"></iframe>');
                $("#myModal").modal('show');
            });
            //het aanmaken van de Grid
            grid = $("#grid").kendoGrid({
                toolbar: ["excel", "pdf", {
                        template: "<button class='k-button' onclick='showBoekhoudingInfo()'>groepen boekhouding</button>"
                    },
                    {
                        template: "<button class='k-button' onclick='saveGridState()'>layout opslaan</button>"
                    },
                    {
                        template: "<button class='k-button' onclick='loadGridState()'>layout laden</button>"
                    }
                ],
                excel: {
                    fileName: "groepen-rechten.xlsx",
                    filterable: true,
                    allPages: true
                },
                pdf: {
                    fileName: "groepen-rechten.pdf",
                    filterable: true,
                    allPages: true
                },
                sortable: true,
                groupable: true,
                height: screen.height-200,
                resizable: true,
                scrollable: true,
                reorderable: true,
                resizable: true,
                selectable: "single row",
                navigatable: true,
                pageable: false,
                filterable: true,
                filterMenuInit: onFilterMenuInit,
                dataSource: myDataSource,
                columns: [
                    /*  {command: {text: "edit", click: showDetails}, title: " ", width: 60},*/
                    {field: "inv_text", title: "geïnv.", width: 40
                        , template: "<input name='inv' type='checkbox' data-bind='checked: inv_text' #= inv_text == 'ja' ? checked='checked' : '' #/>"
                        ,
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: center;"
                        }
                    },
                    {field: "groep", width: 50, title: "groep"},
                    {field: "nummer", title: "nummer", width: 50},
                    {field: "omschrijving", title: "omschrijving", width: 160},
                    {field: "aankoopdatum.date",
                        title: "aankoopdatum",
                        template: "#= kendo.toString(kendo.parseDate(aankoopdatum.date, 'yyyy-MM-dd'), 'dd/MM/yyyy') #"
                        , width: 60,
                        filterable: {
                            ui: "datetimepicker"
                        }
                    }, {field: "isuitdienst_text", title: "uit dienst?", width: 40
                        , template: "<input name='inv' type='checkbox' data-bind='checked: isuitdienst_text' #= isuitdienst_text == 'ja' ? checked='checked' : '' #/>"
                        ,
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: center;"
                        }
                    }
                    , {field: "investering", title: "investering", width: 60, attributes: {
                            "class": "table-cell",
                            style: "text-align: right;"
                        }},
                    {field: "label", width: 50, title: "label"},
                    {field: "leverancier", width: 50, title: "leverancier"},
                    {field: "toestel", width: 50, title: "toestel"},
                    {field: "leverancier", width: 50, title: "leverancier"},
                    {field: "merk", width: 50, title: "merk"},
                    {field: "serienummer", width: 50, title: "serienummer"},
                    {field: "locatie", width: 200, title: "locatie"}
                ]
            }).data("kendoGrid");

        });

        //deze functie opent het popup venster (bootstrap modal dialog) waar gegevens
        //over het te inventiraseren object wordt ingegeven.
    /*    function showDetails(e) {
            var item = this.dataItem($(e.currentTarget).closest("tr"));
            editedRow = item;
            //de modal dialog vullen met een iFrame locatie
            $(".modal-body").html('<iframe width="98%" height="85%" frameborder="0" scrolling="no" allowtransparency="true" id="iFramePopup" src="/inventaris/editeren/?nummer263=' + item.nummer + '"></iframe>');
            //de titel van de dialog aanpassen
        
            document.getElementById("myModalLabel").innerHTML = "Inventaris " + item.nummer;
            //de dialog tonen
            $("#myModal").modal('show');


        }*/
        //We kunnen de default filtermenu aanpassen naar onze noden.
        //bij het initieren van de filter (net na drukken op filter knop) wordt deze functie opgeroepen
        function onFilterMenuInit(e) {


            //Voor deze Kolommen de filter vullen met een Checkbox - keuze list met distinct values
            if (e.field == "groep" || e.field == "inv_text" || e.field == "inv" || e.field == "isuitdienst_text"
                    || e.field == "merk" || e.field == "toestel" || e.field == "leverancier" || e.field == "campus" || e.field == "leefgroep") {
                initCheckboxFilter.call(this, e);

            }
            //Voor deze Kolommen de filter default op 'Bevat' of 'Contains'zetten
            if (e.field == "omschrijving" || e.field == "nummer") {



            }
            //voor deze datum-kolommen kan gefiltert worden op van-tot datum (between 2 dates) 
            if (e.field == "aankoopdatum.date") {



                var operator = e.container
                        .find("[data-role=dropdownlist]:eq(2)").data("kendoDropDownList");
                operator.value("lt");
                operator.trigger("change");
                e.container
                        .find("[data-role=dropdownlist]:eq(1)").data("kendoDropDownList").wrapper.hide();
            }

        }

        function initCheckboxFilter(e) {
            var popup = e.container.data("kendoPopup");
            var dataSource = this.dataSource;
            var field = e.field;
            var checkboxesDataSource = new kendo.data.DataSource({
                data: uniqueForField(dataSource.data(), field)
            });


            var helpTextElement = e.container.children(":first").children(":first");
            helpTextElement.nextUntil(":has(.k-button)").remove();
            var element = $("<div class='checkbox-ontainer'></div>").insertAfter(helpTextElement).kendoListView({
                dataSource: checkboxesDataSource,
                template: "<div><input type='checkbox' value='#:" + field + "#'/>#:" + field + "#</div>"
            });
            e.container.find("[type='submit']").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                var filter = dataSource.filter() || {logic: "and", filters: []};
                var fieldFilters = $.map(element.find(":checkbox:checked"), function (input) {
                    return {
                        field: field,
                        operator: "eq",
                        value: input.value
                    };
                });
                if (fieldFilters.length) {
                    removeFiltersForField(filter, field);
                    filter.filters.push({
                        logic: "or",
                        filters: fieldFilters
                    });
                    dataSource.filter(filter);
                }
                popup.close();
            });
        }

        function removeFiltersForField(expression, field) {
            if (expression.filters) {
                expression.filters = $.grep(expression.filters, function (filter) {
                    removeFiltersForField(filter, field);
                    if (filter.filters) {
                        return filter.filters.length;
                    } else {
                        return filter.field != field;
                    }
                });
            }
        }

        function uniqueForField(data, field) {
            var map = {};
            var result = [];
            var item;
            for (var i = 0; i < data.length; i++) {
                item = data[i];
                if (!map[item[field]]) {
                    result.push(item.toJSON());
                    map[item[field]] = true;
                }
            }
            return result;
        }


        // de popup waar de gegevens kunnen worden ingegeven roept deze functie op en geeft 
        // de nieuwe waarden door. Hiermee kunnen we de geslecteerde rij updaten
        //let op ! een rij moet geselecteerd zijn
        function popupCallback(omschrijving, aankoopdatum, uitdienstdatum, newToestel, newMerk, newLeverancier, label, locatie, serienummer) {


            var start = new Date().getTime();

            var val = {
                omschrijving: omschrijving,
                toestel: newToestel,
                merk: newMerk,
                leverancier: newLeverancier,
                label: label,
                locatie: locatie,
                serienummer: serienummer,
                isuitdienst_text: uitdienstdatum != "" ? "ja" : "nee",
                inv_text: "ja"
            };

            $.extend(editedRow, val);
            editedRow.set("uid", kendo.guid());

            //de rij terug vinden en selecteren
            row = grid.tbody.find(">tr:not(.k-grouping-row)").eq(editedRowIndex);
            grid.select(row);
            $('#myModal').modal('hide');
        }

    </script>
    <style type="text/css">
        .checkbox-ontainer 
        {
            max-height: 200px;
            overflow:auto;
        }
    </style>


    <div id="grid"></div> 

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">venster sluiten</span></button> 
                    <h4 class="modal-title" id="myModalLabel">Inventaris</h4>
                </div>
                <div class="modal-body" >
                    <div id='content'>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"    class="btn" onclick="$('#iFramePopup').contents().find('#sendButton').click();"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>opslaan en sluiten</button>
                </div> 
            </div>
        </div>
    </div>     

{% endblock %}
