{% extends 'mainEmpty.twig' %}
{% block pageContent %}
 
    <table style="width: 100%">
        <tr>
            <td>  
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/scripts/gettheme.js"></script>
                <link rel="stylesheet" href="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/styles/jqx.base.css" type="text/css" />
                <link rel="stylesheet" href="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/styles/jqx.ui-redmond.css" type="text/css" />
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxcore.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxdata.js"></script> 
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxbuttons.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxscrollbar.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxmenu.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.grouping.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.filter.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.selection.js"></script> 
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.pager.js"></script> 
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.sort.js"></script> 
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxlistbox.js"></script> 
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxdropdownlist.js"></script> 
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.sort.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxpanel.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxcalendar.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxdatetimeinput.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxcheckbox.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/globalization/globalize.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxtree.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.columnsresize.js"></script> 
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.columnsreorder.js"></script> 
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxdropdownbutton.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxvalidator.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxcombobox.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxeditor.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxcolorpicker.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxinput.js"></script>
                <script type="text/javascript" src="{{ app.request.baseUrl }}/jqwidgets-ver3.6.0/jqwidgets/jqxtabs.js"></script>

                <style type="text/css">
                    .result-iframe {
                        border: none;
                        width: 100%;
                        height: 55px;
                        clear: both;
                        background :red;
                        display: none;
                        scrollbar : no;
                    }
                    body {
                            background:none;
                    }
      /*  #jqxTabs .jqx-tabs-title-selected-top
        {
            background-color: Lime;
        }
        #jqxTabs .jqx-tabs-title-hover-top
        {
            background-color: Red;
        }*/
 
                </style>
                <script type="text/javascript">

                    function addslashes(string) {
                    return string.replace(/\\/g, '\\\\').
                            replace(/\u0008/g, '\\b').
                            replace(/\t/g, '\\t').
                            replace(/\n/g, '\\n').
                            replace(/\f/g, '\\f').
                            replace(/\r/g, '\\r').
                            replace(/'/g, '\\\'').
                            replace(/"/g, '\\"');
                            }

                   //recursieve functie die van een TreeElement, alle Parents toevoegd
                   //returnvalue : bijvoorbeeld : KK->Hoofdgebouw->Gang->lokaal 1
                    function GetFullLocationString(fullString, element)
                    {
                        var item = $('#jqxTree').jqxTree('getItem', element);
                        if (item != null)
                        {
                            if (fullString)
                                fullString = item.label + "->" + fullString;
                            else
                                fullString = fullString = item.label;
                        }
                        if (element && element.parentElement != null)
                        {
                            if (element.parentElement.parentElement != null)
                            {
                                return GetFullLocationString(fullString, element.parentElement.parentElement);
                            }

                        }
                        return fullString;
                    }                 
                    //het resultaat van de ajax-form-submit wordt in een iframe getarget (form target="iform")
                    //indien de melding van de webservice begint met 'ok', is het gelukt.
                    //Indien gelukt, sluiten we de popup en updaten we de grid.
                    function checkIFrameContent(iFrameName)
                    {

                    var myIFrame = document.getElementById(iFrameName);
                            var content = myIFrame.contentWindow.document.body.innerHTML;
                            if (content == 'ok')
                            TransferResultsAndCloseForm();
                            else
                            $('#form-iframe').show(); //het iframe met de foutmelding tonen

                    }
                    function TransferResultsAndCloseForm()
                    {

                    var newProduktOmschrijving = $('#omschrijving').val();
                            var tempAankoopdatum = $('#jqxDateTimeAankoop').val();
                            var dataSplit = tempAankoopdatum.split('/');
                            var newAankoopdatum = dataSplit[2] + "/" + dataSplit[1] + "/" + dataSplit[0];
                            var item = $("#jqxComboToestel").jqxComboBox('getSelectedItem');
                            var newToestel = item.label;
                            var item = $("#jqxComboMerk").jqxComboBox('getSelectedItem');
                            var newMerk = item.label;
                            var item = $("#jqxComboLeverancier").jqxComboBox('getSelectedItem');
                            var newLeverancier = item.label;
                            var newLabel = $('#label').val();
                            var newSerieNummer = $('#serienummer').val();
                            var newLoc = selectedLocatioName;
                            var tempUitdienstdatum = $('#jqxDateTimeUitDienst').val();
                            var newuitdienstdatum = "";
                            if (tempUitdienstdatum != "")
                    {
                    var dataSplit = tempUitdienstdatum.split('/');
                            newuitdienstdatum = dataSplit[2] + "/" + dataSplit[1] + "/" + dataSplit[0];
                    }

                    window.parent.popupCallback(newProduktOmschrijving, newAankoopdatum, newuitdienstdatum, newToestel, newMerk, newLeverancier, newLabel, newLoc, newSerieNummer);
                    }


                    var selectedLocatioName = "";
                            //var url = "/webservice/inventaris/overzicht/";
                            $(document).ready(function () {

                    $('#jqxTabs').jqxTabs({theme: 'bootstrap', width: '98%', height: '100%', position: 'top' });
                            $("#dropDownButton").jqxDropDownButton({width: 400, height: 25, theme: 'bootstrap'});
                           // $("#nummer263").jqxInput({theme: 'ui-redmond', height: 25, width: 120, minLength: 0, maxLength: 10});
                            $("#omschrijving").jqxInput({theme: 'bootstrap', height: 25, width: 500, minLength: 0, maxLength: 255});
                            $("#bestelbonnr").jqxInput({theme: 'bootstrap', height: 25, width: 100, minLength: 0, maxLength: 10});
                            $("#produktcode").jqxInput({theme: 'bootstrap', height: 25, width: 200, minLength: 0, maxLength: 50});
                            $("#label").jqxInput({theme: 'bootstrap', height: 25, width: 180, minLength: 1, maxLength: 30});
                            $("#serienummer").jqxInput({theme: 'bootstrap', height: 25, width: 200, minLength: 1, maxLength: 50});
                            $("#macadres").jqxInput({theme: 'bootstrap', height: 25, width: 170, minLength: 1, maxLength: 20});
                            $("#ipdadres").jqxInput({theme: 'bootstrap', height: 25, width: 170, minLength: 1, maxLength: 20});
                            $("#deviceww").jqxInput({theme: 'bootstrap', height: 25, width: 170, minLength: 1, maxLength: 20});
                            $("#devicelogin").jqxInput({theme: 'bootstrap', height: 25, width: 170, minLength: 1, maxLength: 20});
                            $('#editor').jqxEditor({
                    height: "300px",
                            width: '90%',
                            theme: 'bootstrap'
                    });
                            $('#jqxTree').on('select', function (event) {
                       
                            
                             var item = $('#jqxTree').jqxTree('getItem', event.args.element);
                            var fullPath = "";
                            fullPath = GetFullLocationString(fullPath, event.args.element);
                            
                            
             
                            var dropDownContent = '<div style="position: relative; margin-left: 3px; margin-top: 5px;">' + fullPath + '</div>';
                            $("#dropDownButton").jqxDropDownButton('setContent', dropDownContent);
                            //in een globale variabele steken, zo kunnen we het gemakkelijk doorgeven aan de parent-window(grid)
                            selectedLocatioName = fullPath;
                            //de waarde van de tree in een hidden field plaatsen zodat deze gepost kan worden:
                            $('#locatie').val(item.id);
                            $('#dropDownButton').jqxDropDownButton('close');
                    });
                            /*Begin ComboBox Merken */
                            var sourceMerken =
                    {
                    datatype: "json",
                            datafields: [
                            {name: 'id'},
                            {name: 'naam'}
                            ],
                            id: 'id',
                            url: "/webservice/inventaris/merken/",
                            async: false
                    };
                            var dataAdapterMerken = new $.jqx.dataAdapter(sourceMerken, {
                            loadComplete: function () {
                    {% if inventarisObj.getMerkId() != null %}
                                var item = $("#jqxComboMerk").jqxComboBox('getItemByValue', {{ inventarisObj.getMerkId()}});
                                        $("#jqxComboMerk").jqxComboBox('selectItem', item);
                    {% endif %}        
                                }});
                                $("#jqxComboMerk").jqxComboBox({displayMember: "naam", theme: 'bootstrap',
                                valueMember: "id", source: dataAdapterMerken, selectedIndex: - 1, width: '170px', height: '20px'});
                                /*Einde ComboBox Merken */

                                /*Begin ComboBox Leverancier */
                                var sourceLeverancier =
                        {
                        datatype: "json",
                                datafields: [
                                {name: 'id'},
                                {name: 'naam'}
                                ],
                                id: 'id',
                                url: "/webservice/inventaris/leverancier/",
                                async: false
                        };
                                var dataAdapterLeverancier = new $.jqx.dataAdapter(sourceLeverancier, {
                                loadComplete: function () {
                    {% if inventarisObj.getLevernacierId() != null %}
                                var item = $("#jqxComboLeverancier").jqxComboBox('getItemByValue', {{ inventarisObj.getLevernacierId()}});
                                        $("#jqxComboLeverancier").jqxComboBox('selectItem', item);
                    {% endif %}            
                                }});
                                $("#jqxComboLeverancier").jqxComboBox({displayMember: "naam", theme: 'bootstrap',
                                valueMember: "id", source: dataAdapterLeverancier, selectedIndex: - 1, width: '170px', height: '20px'});
                                /*Einde ComboBox Leverancier */
                                /*Begin ComboBox Toestel */
                                var sourceToestel =
                        {
                        datatype: "json",
                                datafields: [
                                {name: 'id'},
                                {name: 'naam'}
                                ],
                                id: 'id',
                                url: "/webservice/inventaris/toestel/",
                                async: false
                        };
                                var dataAdapterToestel = new $.jqx.dataAdapter(sourceToestel, {
                                loadComplete: function () {
                    {% if inventarisObj.getToestelId() != null %}
                                var item = $("#jqxComboToestel").jqxComboBox('getItemByValue', {{ inventarisObj.getToestelId()}});
                                        $("#jqxComboToestel").jqxComboBox('selectItem', item);
                    {% endif %}        
                                }});
                                $("#jqxComboToestel").jqxComboBox({displayMember: "naam", theme: 'bootstrap',
                                valueMember: "id", source: dataAdapterToestel, selectedIndex: - 1, width: '170px', height: '20px'});
                                /*Einde ComboBox Toestel */
                                $("#jqxDateTimeAankoop").jqxDateTimeInput({width: '250px', height: '20px', theme: 'bootstrap'});
                                $("#jqxDateTimeUitDienst").jqxDateTimeInput({width: '250px', height: '20px', theme: 'bootstrap'});
                                var url = "/webservice/gebouwenbeheer/overzicht/";
                                var source =
                        {
                        async: false, //belangrijk, anders heeft de functie getRecordsHierarchy nog geen data
                                datatype: "json",
                                datafields: [
                                {name: 'id'},
                                {name: 'parentid'},
                                {name: 'naam'},
                                {name: 'level'}
                                ],
                                id: 'id',
                                url: url
                        };
                                var dataAdapter = new $.jqx.dataAdapter(source);
                                dataAdapter.dataBind();
                                var records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{name: 'naam', map: 'label'}]);
                                //BEGIN controls met data vullen 
                                selectedLocatioName = "{{ inventarisObj.getLocatie().getNaam() }}";
                                var dropDownContent = '<span style="position: relative; top: 4px;">' + selectedLocatioName + '</span>';
                                $("#dropDownButton").jqxDropDownButton('setContent', dropDownContent);                   {% set omschrijving = inventarisObj.getProduktomschrijving() %}
                    {% if inventarisObj.IsInventarised()==false %}    
                        {% set omschrijving = inventarisObj.getProduktomschrijving263() %}   
                    {% endif %}
                                // $("#omschrijving").val(addslashes ("{{ omschrijving|escape('js')  }}"));
                                $("#bestelbonnr").val('{{ inventarisObj.getBestelbonNummer() }}');
                                $("#produktcode").val('{{ inventarisObj.getProduktCode() }}');
                                $("#label").val('{{ inventarisObj.getLabel() }}');
                                $("#serienummer").val('{{ inventarisObj.getSerienummer() }}');
                                $("#macadres").val('{{ inventarisObj.getMacAdres() }}');
                                $("#ipdadres").val('{{ inventarisObj.getIpadres() }}');
                                $("#devicelogin").val('{{ inventarisObj.getDeviceLogin() }}');
                                $("#deviceww").val('{{ inventarisObj.getDeviceWachtwoord() }}');
                                $("#locatie").val('{{ inventarisObj.getLocatie().getId() }}');
                                //$("#editor").val('{{ inventarisObj.getOpmerking()|raw }}');
                                $('#jqxTree').jqxTree({source: records, width: '350px', height: 400,
                                theme: 'bootstrap'});
                                //indien er een locatie is ingegeven deze in de tree selecteren en tonen.

                    {% if inventarisObj.getLocatie().getId() %}
                                {
                                var items = $("#jqxTree").jqxTree('getItems');
                                        $.each(items, function () {
                                        if (this.id == {{ inventarisObj.getLocatie().getId() }}) {
                                        $("#jqxTree").jqxTree('selectItem', this.element);
                                                $("#jqxTree").jqxTree('expandItem', this.element);
                                        }
                                        });
                                }
                    {% endif %}
                    {% if inventarisObj.getAankoopDatum() != null %}
                        $("#jqxDateTimeAankoop").val('{{ inventarisObj.getAankoopDatum()|date("d/m/Y") }}');{% else %}
                                $("#jqxDateTimeAankoop").val('{{ inventarisObj.getFactuurDatum263()|date("d/m/Y") }}');
                    {% endif %}    

                    {% if inventarisObj.getUitDienstDatum() != null %}
                                $("#jqxDateTimeUitDienst").val('{{ inventarisObj.getUitDienstDatum()|date("d/m/Y") }}');{% else %}
                                $("#jqxDateTimeUitDienst").val(null);{% endif %}
                                //EINDE controls met data vullen 


                                $("#sendButton").click(function () {
                        $('#form').jqxValidator({
                        rules: [
                        {input: '#omschrijving', message: 'verplicht !', action: 'keyup, blur', rule: 'required'},
                                /*  {input: '#serienummer', message: 'verplicht !', action: 'keyup, blur', rule: 'required'},*/
                                {input: '#jqxDateTimeAankoop', message: 'verplicht !', action: 'keyup, blur', rule: function (input, commit) {
                                var datum = $('#jqxDateTimeAankoop').val();
                                        return datum != "";
                                }},
                        {input: '#jqxComboMerk', message: 'verplicht !', action: 'keyup, blur', rule: 'required', rule: function (input, commit) {
                        var index = $("#jqxComboMerk").jqxComboBox('getSelectedIndex');
                                return index >= 0;
                        }},
                        {input: '#jqxComboToestel', message: 'verplicht !', action: 'keyup, blur', rule: 'required', rule: function (input, commit) {
                        var index = $("#jqxComboToestel").jqxComboBox('getSelectedIndex');
                                return index >= 0;
                        }},
                        {input: '#jqxComboLeverancier', message: 'verplicht !', action: 'keyup, blur', rule: 'required', rule: function (input, commit) {
                        var index = $("#jqxComboLeverancier").jqxComboBox('getSelectedIndex');
                                return index >= 0;
                        }},
                        {input: '#dropDownButton', message: 'verplicht !', action: 'keyup, blur', rule: function (input, commit) {
                        var locId = $('#locatie').val() + "";
                                return locId != "";
                        }}
                        ]
                        });
                                var validationResult =
                                function (isValid)
                                {
                                if (isValid)
                                {
                                $("#form").submit();
                                }
                                else
                                {
                                $('#jqxTabs').jqxTabs('select', 0);
                                        ////alert('Gelieve alle verplichte velden in Algemeen in te vullen.');
                                        //nog eens valideren om de foutmeldingen te tonen. de tab-switch verwijderd deze 
                                        $('#form').jqxValidator('validate');
                                }
                                }
//wanneer de iframe (target voor form) resultaat krijgt(form.submit->update/insert) gaan we checken of het om een fout 
//of om een succes gaat.
                        $('#form-iframe').load(function() {
                        checkIFrameContent('form-iframe');
                        });
                                $('#form').jqxValidator('validate', validationResult);
                        });
                                /*  $("#form").on('validationSuccess', function (event)
                                 {
                                 
                                 }
                                 );*/
                        });
                    </script>
                    <style>
                        .jqx-tabs-header
                        {
                            background-color:#E5F1F7;
                        }
                        </style>
    
                    <form class="form" id="form"  target="form-iframe"   method="post" action="{{ global_UrlRoot }}/webservice/inventaris/save/">
                        <div id='jqxTabs'  style="margin: 3px; margin-right: 6px;background-color:#E4F1F7;">
                            <ul>
                                <li style="margin-left: 30px;">Algemeen</li>
                                <li>Opmerking</li>
                                <li>Informatica</li>
                            </ul>
                            <div>
                                <table width="99%" class="center">
                                    <tr>
                                        <td>  
                                            <div class="form-group" style="margin: 3px; margin-right: 6px;">
                                                <div class="row">
                                                     <div class="col-md-6">
                                                        <label>Omschrijving : </label> 
                                                        <input type="text" id="omschrijving" name="omschrijving" value="{{ omschrijving}}"/>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Locatie : </label>     

                                                        <div style='float: rigth;' id="dropDownButton" name="dropDownButton">
                                                            <div id='jqxTree' name= 'jqxTree' style="border: none;">
                                                            </div> 

                                                        </div> </div>  
                                                </div></div> 
                                            <div class="form-group" style="margin: 3px; margin-right: 6px;">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Toestel : </label>   <div  id='jqxComboToestel' name='jqxComboToestel'></div>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Leverancier : </label>  <div id='jqxComboLeverancier' name='jqxComboLeverancier'> </div>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Merk : </label>   <div id='jqxComboMerk' name='jqxComboMerk'>  </div>

                                                    </div>
                                                </div>       </div>   
                                            <div class="form-group" style="margin: 3px; margin-right: 6px;">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Aankoopdatum : </label>   <div id='jqxDateTimeAankoop' name='jqxDateTimeAankoop'>  </div>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Uit-dienst-datum : </label>       <div id='jqxDateTimeUitDienst' name='jqxDateTimeUitDienst'>  </div>
                                                    </div>
                                                </div>
                                            </div>      
                                            <div class="form-group" style="margin: 3px; margin-right: 6px;">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>label : </label>     <input type="text" id="label" name="label" maxlength="30"/>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>serienummer : </label> <input type="text" id="serienummer" name="serienummer" maxlength="50"/>
                                                    </div>
                                                </div>    </div> 
                                            <div class="form-group" style="margin: 3px; margin-right: 6px;">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>bestelbonnr : </label>   <input type="text" id="bestelbonnr" name="bestelbonnr" maxlength="10" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>produktcode : </label> <input type="text" id="produktcode" name="produktcode" maxlength="50"/>
                                                    </div>

                                                </div>    </div> 




                                        </td>  
                                    </tr>
                                </table>   

                            </div>   

                            <div id="tabOpmerking">

                                <table style="
                                       width: -moz-calc(100% - 100px);
                                       width: -webkit-calc(100% - 100px);
                                       width: calc(100% - 100px);
                                       ">
                                    <tr>
                                        <td>  
                                            <textarea id="editor" name="editor">{{ inventarisObj.getOpmerking()|raw }}</textarea> 
                                        </td></tr>
                                </table>
                            </div>                   
                            <div id="tabInformatica">

                                <table style="
                                       width: -moz-calc(100% - 100px);
                                       width: -webkit-calc(100% - 100px);
                                       width: calc(100% - 100px);
                                       ">
                                    <tr>
                                        <td>  
                                            <div class="form-group" style="margin: 3px; margin-right: 6px;">
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <label>ipdadres : </label>  <input type="text" id="ipdadres" name="ipdadres" maxlength="20"/>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <label>macadres : </label>      <input type="text" id="macadres" name="macadres" maxlength="20"/>
                                                    </div>
                                                </div></div>  
                                            <div class="form-group" style="margin: 3px; margin-right: 6px;">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>device-login : </label>  <input type="text" id="devicelogin" name="devicelogin" maxlength="20"/>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>device-wachtwoord : </label>    <input type="text" id="deviceww" name="deviceww" maxlength="20"/>
                                                    </div>
                                                </div>    
                                            </div> 
                                        </td>  
                                    </tr>
                                </table>   </div>
                        </div>
                        <div class="row right">
                            <div class="col-md-8">
                                <input name="locatie" type="hidden" id="locatie">
                                <input name="id" type="hidden" id="id" value='{{ inventarisObj.getId() }}'>   
                                <input name="nummer263"  type="hidden"    id="nummer263" value='{{ inventarisObj.getNummer263() }}'>
                            </div>
                            <div class="col-md-4">
                                <input id="sendButton" value="wijzigingen opslaan"   class="btn btn-success" type="button" style="display: none;"/> 
                            </div>
                        </div>    
                    </form>


                </td>  
            </tr>
        </table>
        <iframe id="form-iframe" name="form-iframe" class="result-iframe" frameborder="0"></iframe>               

        {% endblock %}