{% extends 'main.twig' %}

{% block pageContent %}


    <link rel="stylesheet" href="/jqwidgets-ver3.6.0/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/jqwidgets-ver3.6.0/jqwidgets/styles/jqx.ui-redmond.css" type="text/css" />
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxdata.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.grouping.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.pager.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.sort.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxlistbox.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.columnsresize.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.columnsreorder.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxtree.js"></script>
    <script type="text/javascript">


        //Callback functie die nieuwe waarden van popup ontvangen en zo de grid updaten
        function popupCallback(omschrijving, aankoopdatum, uitdienstdatum, newToestel, newMerk, newLeverancier, label, locatie, serienummer) {
           
        
            var rowID = $('#jqxgrid').jqxGrid('getrowid', editrow);
            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowID, "omschrijving", omschrijving);
            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowID, "aankoopdatum", aankoopdatum);
            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowID, "toestel", newToestel);
            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowID, "merk", newMerk);
            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowID, "leverancier", newLeverancier);
            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowID, "label", label);
            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowID, "locatie", locatie);
            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowID, "serienummer", serienummer);
            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowID, "inv", true);
            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowID, "isuitdienst", uitdienstdatum!="");
            $('#myModal').modal('hide');
        }

        $(document).ready(function () {

            //sluiten van de modal dialog
            $("#btnCloseModal").click(function () {

                //alert($('#iFramePopup').contents().find('#form_produktomschrijving').val());
            });

            var url = "/webservice/inventaris/overzicht/";
            // prepare the data
            var source =
                    {
                        datatype: "json",
                        datafields: [
                            {name: 'editeren', type: 'string'},
                            {name: 'inv', type: 'bool'},
                            {name: 'groep', type: 'groep'},
                            {name: 'nummer', type: 'decimal'},
                            {name: 'omschrijving', type: 'string'},
                            {name: 'aankoopdatum', type: 'date', map: "aankoopdatum>date"},
                            {name: 'isuitdienst', type: 'bool'},
                            {name: 'investering', type: 'decimal'},
                            {name: 'label', type: 'string'},
                            {name: 'leverancier', type: 'string'},
                            {name: 'toestel', type: 'string'},
                            {name: 'merk', type: 'string'},
                            {name: 'serienummer', type: 'string'},
                            {name: 'campus', type: 'string'},
                            {name: 'leefgroep', type: 'string'},
                            {name: 'locatie', type: 'string'}

                        ],
                        id: 'nummer',
                        url: url,
                    };

            //formattering voor cellinhoud
            var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {
                var column = $("#jqxgrid").jqxGrid('getcolumn', columnfield);
                /*Nodig voor fotmatteren van Datum en decimals. */
                if (column.cellsformat != '') {
                    if ($.jqx.dataFormat) {
                        if ($.jqx.dataFormat.isDate(value)) {
                            value = $.jqx.dataFormat.formatdate(value, column.cellsformat);
                        }
                        else if ($.jqx.dataFormat.isNumber(value)) {
                            value = $.jqx.dataFormat.formatnumber(value, column.cellsformat);
                        }
                    }
                }
                return '<span style="margin: 4px; margin-right: 10px; font-size: 1em; float: ' + columnproperties.cellsalign + ';">' + value + '</span>';
            }
            //formattering voor columnheaders
            var columnsrenderer = function (value) {
                return '<div style="font-size: 10px; margin-top: 4px;margin-left:3px">' + value + '</div>';
            }
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#jqxgrid").bind('bindingcomplete', function ()
            {
                var localizationobj = $("#jqxgrid").jqxGrid('gridlocalization');
                localizationobj.percentsymbol = "%";
                localizationobj.currencysymbol = "€";
                localizationobj.currencysymbolposition = "before";
                localizationobj.decimalseparator = '.';
                localizationobj.thousandsseparator = ',';
                localizationobj.pagergotopagestring = "gaan naar pagina:";
                localizationobj.pagershowrowsstring = "toon rijen:";
                localizationobj.pagerrangestring = " van ";
                localizationobj.pagerpreviousbuttonstring = "vorige";
                localizationobj.pagernextbuttonstring = "volgende";
                localizationobj.groupsheaderstring = "sleep kolom hierheen om te groeperen";
                localizationobj.groupbystring = "groeperen op deze kolom";
                localizationobj.groupremovestring = "verwijderen uit groepering";
                localizationobj.filterclearstring = "Clear";
                localizationobj.filterstring = "Filter";
                localizationobj.filtershowrowstring = "toon rijen die:";
                localizationobj.filtershowrowdatestring = "toon rijen met datum:";
                localizationobj.filterorconditionstring = "of";
                localizationobj.filterandconditionstring = "en";
                localizationobj.filterselectallstring = "(slecteer alle)";
                localizationobj.filterchoosestring = "maak een keuze:";
                localizationobj.sortascendingstring = "oplopend sorteren";
                localizationobj.sortdescendingstring = "aflopend sorteren";
                localizationobj.sortremovestring = "sortering verwijderen";
                /*   localizationobj.filterstringcomparisonoperators
                 : ['empty', 'not empty', 'contains', 'contains(match case)';
                 'does not contain', 'does not contain(match case)', 'starts with', 'starts with(match case)';
                 'ends with', 'ends with(match case)', 'equal', 'equal(match case)', 'null', 'not null'];
                 localizationobj.filternumericcomparisonoperators= ['equal', 'not equal', 'less than', 'less than or equal', 'greater than', 'greater than or equal', 'null', 'not null'];
                 localizationobj.filterdatecomparisonoperators= ['equal', 'not equal', 'less than', 'less than or equal', 'greater than', 'greater than or equal', 'null', 'not null'];
                 localizationobj.filterbooleancomparisonoperators
                 : ['equal', 'not equal'];*/
                var days = {
                    // full day names
                    names: ["zondag", "maandag", "diensdag", "woensdag", "do,derdag", "vrijdag", "zaterdag"],
                    // abbreviated day names
                    namesAbbr: ["zon", "maa", "die", "woe", "don", "vrij", "zat"],
                    // shortest day names
                    namesShort: ["zo", "ma", "di", "wo", "do", "vr", "za"]
                };
                localizationobj.days = days;
                var months = {
                    // full month names (13 months for lunar calendards -- 13th month should be "" if not lunar)
                    names: ["januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december", ""],
                    // abbreviated month names
                    namesAbbr: ["Jan", "Feb", "Maa", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec", ""]
                };
                localizationobj.months = months;
                // apply localization.
                $("#jqxgrid").jqxGrid('localizestrings', localizationobj);
                // apply localization.
                $("#jqxgrid").jqxGrid('render');
            });
            // Create jqxGrid
            $("#jqxgrid").jqxGrid(
                    {
                        width: '100%',
                        height: screen.height-200,
                        source: dataAdapter,
                        groupable: true,
                        rowsheight: 20,
                        columnsheight: 20,
                        groupsheaderheight: 20,
                        scrollbarsize: 12,
                        // pagesize: 25,
                        // pageable: true,
                        theme: 'ui-redmond',
                        sortable: true,
                        showfilterrow: true,
                        filterable: true,
                        columnsresize: true,
                        columnsreorder: true,
                        columns: [
                            {text: '', filterable: false, datafield: 'Edit', width: 30, columntype: 'number', cellsrenderer: function () {
                                    return "<button><span class='glyphicon glyphicon-search' aria-hidden='true'></span></button>";
                                }/*, buttonclick: function (row) {
                                 // open the popup window when the user clicks a button.
                                 editrow = row;
                                 // get the clicked row's data and initialize the input fields.
                                 var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                                 $(".modal-body").html('<iframe width="100%" height="80%" frameborder="0" scrolling="no" allowtransparency="true" id="iFramePopup" src="/inventaris/editeren/?nummer263=' + dataRecord.nummer + '"></iframe>');
                                 $("#myModal").modal('show');
                                 }*/
                            },
                            {text: 'geïnv', columntype: 'checkbox', filterable: true, filtertype: 'bool', datafield: 'inv', width: 35, renderer: columnsrenderer},
                            {text: 'groep', datafield: 'groep', width: 75, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'nummer', datafield: 'nummer', width: 75, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'omschrijving', datafield: 'omschrijving', width: 250, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'aank.datum', filtertype: 'date', datafield: 'aankoopdatum', width: 85, cellsformat: 'dd/MM/yyyy', renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'uit dienst ?', columntype: 'checkbox', filterable: true, filtertype: 'bool', datafield: 'isuitdienst', width: 60, renderer: columnsrenderer},               
                            {text: 'investering', datafield: 'investering', width: 70, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'toestel', datafield: 'toestel', width: 70, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'leverancier', datafield: 'leverancier', width: 80, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'merk', datafield: 'merk', width: 70, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'serienr.', datafield: 'serienummer', width: 85, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'label', datafield: 'label', width: 85, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'campus', datafield: 'campus', width: 100, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'leefgroep/cluster', datafield: 'leefgroep', width: 100, renderer: columnsrenderer, cellsrenderer: cellsrenderer},
                            {text: 'locatie', datafield: 'locatie', width: 300, renderer: columnsrenderer, cellsrenderer: cellsrenderer}
                        ]

                    });

            $("#jqxgrid").on("cellclick", function (event)
            {
                if (event.args.datafield == "Edit") {
                 
                    editrow = event.args.rowindex;
                    // get the clicked row's data and initialize the input fields.
                    var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                 
                
                    $(".modal-body").html('<iframe width="98%" height="85%" frameborder="0" scrolling="no" allowtransparency="true" id="iFramePopup" src="/inventaris/editeren/?nummer263=' + dataRecord.nummer + '"></iframe>');
                 
                    $("#myModal").modal('show');
                }
            });
            $('#jqxgrid').jqxGrid({pagesizeoptions: ['10', '25', '50', '75']});
            $("#jqxgrid").jqxGrid({pagesize: 50});
            $('#clearfilteringbutton').jqxButton({height: 25});
            $('#clearfilteringbutton').click(function () {
                $("#jqxgrid").jqxGrid('clearfilters');
            });
            $("#jqxgrid").on("pagesizechanged", function (event) {
                $("#eventslog").css('display', 'block');
                $("#events").jqxPanel('clearcontent');
                var args = event.args;
                var eventData = "pagesizechanged <div>Page:" + args.pagenum + ", Page Size: " + args.pagesize + ", Old Page Size: " + args.oldpagesize + "</div>";
                $('#events').jqxPanel('prepend', '<div style="margin-top: 5px;">' + eventData + '</div>');
                // get page information.          
                var paginginformation = $("#jqxgrid").jqxGrid('getpaginginformation');
                $('#paginginfo').html("<div style='margin-top: 5px;'>Page:" + paginginformation.pagenum + ", Page Size: " + paginginformation.pagesize + ", Pages Count: " + paginginformation.pagescount + "</div>");
            });
        });
    </script>
    <div id="jqxgrid"></div>
    </br>

    <table style="font-size:0.85em;">
        <tr>
            <td>
                <ul>
                    <li>23100 : Techn. installaties</li>
                    <li>23101 : Keuken</li>
                    <li>23103 : Medische installaties</li>
                    <li>23104 : Kantoorinstallaties</li>
                    <li>23105 : Computerinstallaties</li>
                    <li>23107 : Diverse installaties en uitrusting</li>
                    <li>23108 : tweedehandsinstallaties 5 jaar </li>
                    <li>23109 : tweedehandsinstallaties 3 jaar</li>
                </ul>
            </td>
            <td  valign="top">
                <ul>
                    <li>24100 : Meubilair</li>
                    <li>24101 : Rollend materieel personenvervoer</li>
                    <li>24102 : Rollend materieel</li>
                    <li>24108 : tweedehands meubilair en rollend materieel 5 jaar </li>
                    <li>24109 : tweedehands meubilair en rollend materieel 3 jaar </li>
                </ul>
            </td>
        <tr>
    </table>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">venster sluiten</span></button> 
                        <h4 class="modal-title" id="myModalLabel">Inventaris</h4>
                    </div>
                    <div class="modal-body" >
                        <div id='content'>
                        </div>
                    </div>
                  <div class="modal-footer">
                        <button type="button"    class="btn" onclick="$('#iFramePopup').contents().find('#sendButton').click();"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>opslaan en sluiten</button>
                    </div> 
                </div>
            </div>
        </div>     
    {% endblock %}
 