{% extends 'main.twig' %}

{% block pageContent %}

    <script type="text/javascript" src="/jqwidgets-ver3.6.0/scripts/gettheme.js"></script>
    <link rel="stylesheet" href="/jqwidgets-ver3.6.0/jqwidgets/styles/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxdata.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.grouping.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.pager.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.sort.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxlistbox.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxdropdownlist.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/scripts/demos.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxtree.js"></script>
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.columnsresize.js"></script> 
    <script type="text/javascript" src="/jqwidgets-ver3.6.0/jqwidgets/jqxgrid.columnsreorder.js"></script> 





    <script type="text/javascript" src="../../jqwidgets/jqxtree.js"></script>
    <script>
        /*
         De Locatie kan worden gewijzigd via de locatieboom.
         Deze boom wordt geopend via eenmodal dialog die de id van de gekozen locatie teruggeeft.
         Deze 3 functies staan in voor de overdracht van de Id in de combobox van het basisformulier
         */
        var popupLocationId = null;
        function HandlePopupResult(id) {
            selectLocationByValue(id);
        }
        /*de juiste locatie in de combobox wordt geselecteerd adh van de id gekozen in de modal dialog*/
        function selectLocationByValue(value) {
            var elmnt = document.getElementById('form_locatie')
            for (var i = 0; i < elmnt.options.length; i++)
            {
                if (elmnt.options[i].value == value) {
                    elmnt.selectedIndex = i;
                    break;
                }
            }
        }
        /*Deze functie wordt opgeroepen bij het sluiten van de modal Dialog
         */
        function CloseMySelf(id) {
            try {
                HandlePopupResult(id);
                $("#myModal").modal("hide");

            }
            catch (err) {
            }
            // window.close();
            return false;
        }




    </script>

    {% include 'partMessages.twig' %}

    {% if showForm %}
        <table class="table table-striped">  
            <caption class="text-left text_title"> </caption>  
            <form action="{{ global_UrlRoot }}/inventaris/editeren/" method="post" {{ form_enctype(form) }}>
                <div class="input-group">          
                    <tr><td> {{ form_label(form.locatie) }}</td>
                        <td>   {{ form_widget(form.locatie) }}

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                Locatie kiezen
                            </button>
                        </td></tr>
                    <tr><td> {{ form_label(form.toestel) }}</td>
                        <td>   {{ form_widget(form.toestel) }}</td></tr>
                    <tr><td> {{ form_label(form.merk) }}</td>
                        <td>   {{ form_widget(form.merk) }}</td></tr>
                    <tr><td> {{ form_label(form.leverancier) }}</td>
                        <td>   {{ form_widget(form.leverancier) }}</td></tr>
                    <tr><td> {{ form_label(form.aankoopdatum) }}</td>
                        <td>   {{ form_widget(form.aankoopdatum) }}</td></tr>
                    <tr><td> {{ form_label(form.uitdienst) }}</td>
                        <td>   {{ form_widget(form.uitdienst) }}</td></tr>
                    <tr><td> {{ form_label(form.bestelbonnummer) }}</td>
                        <td>   {{ form_widget(form.bestelbonnummer) }}</td></tr>
                    <tr><td> {{ form_label(form.produktcode) }}</td>
                        <td>   {{ form_widget(form.produktcode) }}</td></tr>
                    <tr><td> {{ form_label(form.produktomschrijving) }}</td>
                        <td>   {{ form_widget(form.produktomschrijving) }}</td></tr>
                    <tr><td> {{ form_label(form.label) }}</td>
                        <td>   {{ form_widget(form.label) }}</td></tr>
                    <tr><td> {{ form_label(form.serienummer) }}</td>
                        <td>   {{ form_widget(form.serienummer) }}</td></tr>
                    <tr><td> {{ form_label(form.macadres) }}</td>
                        <td>   {{ form_widget(form.macadres) }}</td></tr>
                    <tr><td> {{ form_label(form.ipadres) }}</td>
                        <td>   {{ form_widget(form.ipadres) }}</td></tr>
                    <tr><td> {{ form_label(form.devicelogin) }}</td>
                        <td>   {{ form_widget(form.devicelogin) }}</td></tr>
                    <tr><td> {{ form_label(form.devicewachtwoord) }}</td>
                        <td>   {{ form_widget(form.devicewachtwoord) }}</td></tr> 
                    <tr><td> {{ form_label(form.opmerking) }}</td>
                        <td>   {{ form_widget(form.opmerking) }}</td></tr>           
                    <tr>
                        <td>  
                            {{ form_rest(form) }}
                            <input type="hidden" value="{{ inventarisObj.getId() }}" name="id" id="id">

                        </td>
                        <td class="right">   
                            <button type="submit" value = "1" class="btn btn-success" name="formBtnInventarisUpdate">wijzigen</button>
                        </td></tr>  
                </div>
            </form>
        </table> 


        <!-- Button trigger modal -->


        <!-- Modal -->
        {# 
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Kies een locatie</h4>
              </div>
              <div class="modal-body">
                 {% for locatie in locatieList %}
                        {% if locatie["Level"] > 0 %}
                            {% for i in 0.. locatie["Level"] %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}  
                        {% else %}
                            <hr><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        {% endif %}
                        <a href="#"  onclick="return CloseMySelf({{ locatie["loc_id"] }},'{{ locatie["loc_naam"] }}');">{{ locatie["loc_naam"] }}x</a>
                        </br> 
                        {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
               <!-- <button type="button" class="btn btn-primary">Save changes</button> ---> 
              </div>
            </div>
          </div>
        </div>                          
             #}

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Kies een locatie</h4>
                    </div>
                    <div class="modal-body">
                        <div id='content'>
                            <script type="text/javascript">
                                 popupLocationId = null;
                                //var url = "/webservice/inventaris/overzicht/";
                               
                                    $(document).ready(function () {
                                    var url = "/webservice/gebouwenbeheer/overzicht/";
                                    var source =
                                            {
                                                async: false, //belangrijk, anders heeft de functie getRecordsHierarchy nog geen data
                                                datatype: "json",
                                                datafields: [
                                                    {name: 'id'},
                                                    {name: 'parentid'},
                                                    {name: 'naam'},
                                                    {name: 'level'}
                                                ],
                                                id: 'id',
                                                url: url

                                            };
                                    // create data adapter.
                                    var dataAdapter = new $.jqx.dataAdapter(source);
                                    // perform Data Binding.
                                    dataAdapter.dataBind();
                                    // get the tree items. The first parameter is the item's id. The second parameter is the parent item's id. The 'items' parameter represents 
                                    // the sub items collection name. Each jqxTree item has a 'label' property, but in the JSON data, we have a 'text' field. The last parameter 
                                    // specifies the mapping between the 'text' and 'label' fields.  
                                    var records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{name: 'naam', map: 'label'}]);
                                    $('#jqxWidget').jqxTree({source: records, width: '100%', height: '400px'});

                                    $('#jqxWidget').on('select', function (event)
                                    {
                                        var args = event.args;
                                        var item = $('#jqxWidget').jqxTree('getItem', args.element);
                                        popupLocationId = item.id;


                                    });




                                });
                            </script>
                            <div id='jqxWidget'>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button"  onclick="return CloseMySelf(popupLocationId);" class="btn btn-default" data-dismiss="modal">OK</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> ---> 
                    </div>
                </div>
            </div>
        </div>     


    {% endif %}
{% endblock %}
