{% extends 'main.twig' %}

{% block pageContent %}
<style>
html
{
    font:12px sans-serif;
}
.k-scheduler-Dezereservatiebewerken
{
    background: #bfb;
  visibility: hidden;
}


@media print {
   .k-scheduler,
   .k-scheduler-content,
   .k-scheduler-times
   {
      height: auto !important;
   }
}
  
.k-scheduler-content
{
  overflow-y: scroll !important;
}
  
    .k-ff .k-scheduler-content
    {
        margin-right: 17px !important;
    }
.k-scheduler .k-scheduler-monthview .k-scheduler-content .k-scheduler-table
{
  height: 1240px;
}
 
</style>
    <br>
    <div id="filter" style="margin-top:6px">
        <label id="labelKalenderCategorie">  {{categorie}} : </label>
        <input id="typeCombo" />
        <button id="btnAll" value="" >alles tonen</button>
        <button id="refreshPage" style="float: right;" value="" ><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> refresh</button>
        <button style="float: right;" id="printPage" type="button"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> afdrukken</button>
    </div>


    <div id="scheduler" style="padding:2px"></div>
    
      
<!-- # if (gebruikerId == {{global_Registration.getId()}}) { # <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> # }#  -->
    <script id="event-template" type="text/x-kendo-template">
        <div class="event">
    
   # if  ($('\\#scheduler').getKendoScheduler().view().name=='month') { #
        <p  style='font-size:75%; line-height: 90%;margin-top:-1px;margin-left:-1px;font-family: "Arial Narrow", Arial, sans-serif;font-stretch: condensed;font-weight: bold;'>#:kendo.toString(start, "HH:mm")#-#:kendo.toString(end, "HH:mm") # #: title #</p>
 # } #
  # if  ($('\\#scheduler').getKendoScheduler().view().name!='month') { #
        <p  style='font-size:115%;margin-top:0px;margin-left:-1px;font-family: "Arial Narrow", Arial, sans-serif;font-stretch: condensed;font-weight: bold;'>#:kendo.toString(start, "HH:mm")#-#:kendo.toString(end, "HH:mm") # #: title #</p>
        
          <p style="font-size:70%;margin-top:-7px">#: description #</p>
        <p style="font-size:80%;margin-top:-7px">#: resources[0].text #</p>

  # for (var i = 1; i < resources.length; i++) { #
        # if  (resources[i] && resources[i].text == "koffie")
        { # 
        <img src='/img/icons/koffie2.png' title='koffie' style='margin-top:2px;margin-left:-1px;padding:-10px;width:22px'/>  
        # } #
        # if  (resources[i] && resources[i].text == "koekjes")
        { # 
        <img src='/img/icons/koekjes.png' title='koekjes' style='margin-top:2px;margin-left:-1px;padding:-12px;width:20px'/>  
        # } #
        # if  (resources[i] && resources[i].text == "broodjes")
        { #  <img src='/img/icons/broodjes2.png' title='broodjes' style='margin-top:2px;margin-left:-1px;padding:-12px;width:23px'/># } #
        # if  (resources[i] && resources[i].text == "laptop")
        { #   <img src='/img/icons/laptop.png' title='laptop' style='margin-top:2px;margin-left:-1px;padding:-12px;width:20px'/>   # } #
        # if  (resources[i] && resources[i].text == "beamer")
        { #   <img src='/img/icons/beamer.png' title='beamer' style='margin-top:2px;margin-left:-1px;padding:-12px;width:20px'/>   # } #
        # if  (resources[i] && resources[i].text == "verlengkabel")
        { #   <img src='/img/icons/verlengkabel.png' title='verlengkabel' style='margin-top:2px;margin-left:-1px;padding:-12px;width:16px'/>  # } #
        # if  (resources[i] && resources[i].text == "zaal klaarzetten")
        { #   <img src='/img/icons/zaalklaarzetten.png' title='zaal klaar zetten' style='margin-top:2px;margin-left:-1px;padding:-12px;width:20px'/> # } #

        # if  (resources[i] && resources[i].text == "soep")
        { #   <img src='/img/icons/soep.png' title='soep' style='margin-top:2px;margin-left:-1px;padding:-12px;width:20px'/># } #
        # if  (resources[i] && resources[i].text == "DVD-Speler")
        { #   <img src='/img/icons/dvd.png' title='dvd' style='margin-top:2px;margin-left:-1px;padding:-12px;width:20px'/> # } #
        # if  (resources[i] && resources[i].text == "speakers")
        { #   <img src='/img/icons/speakers.png' title='speakers' style='margin-top:2px;margin-left:-1px;padding:-12px;width:20px'/> # } #

        # if  (resources[i] && resources[i].text == "whiteboard")
        { #   <img src='/img/icons/whiteboard.png' title='whiteboard' style='margin-top:2px;margin-left:-1px;padding:-12px;width:18px'/> # } #
        # if  (resources[i] && resources[i].text == "flipover")
        { #  <img src='/img/icons/flipover.png' title='flipover' style='margin-top:2px;margin-left:-1px;padding:-12px;width:18px'/> # } #
        # if  (resources[i] && resources[i].text == "stiften")
        { #    <img src='/img/icons/stiften.png' title='flipover' style='margin-top:2px;margin-left:-1px;padding:-12px;width:18px'/>

        # } #

        # } #

        # if (resources[resources.length-1] && resources[resources.length-1].name=="att") { #
        <p style='font-size:60%;margin-top:-0px'><strong>Aantal personen</strong>:

        #: resources[resources.length-1].text #

        </p>
        # } #



        # if (gebruikerNaam) { #
        <p style='font-size:50%;margin-top:0px'>
        <strong>aangemaakt door:</strong> #: gebruikerNaam #    #: creationDate # </p>
        # } #
  # } # <!-- einde andere views -->
        </div>
    </script>

    <script id="editor" type="text/x-kendo-template">
        <table style=" border-spacing: 10px;   border-collapse: separate;">
        <tr><td><label>Title:</label></td><td><input required name="title" size="50"/></td></tr>
        <tr><td><label>Beschrijving: </label></td><td><textarea name="description" rows="4" cols="45" /></td></tr>
        <tr><td><label>Start: </label></td><td> <input required data-role="datetimepicker" name="start"></td></tr>
        <tr><td><label>Einde: </label></td><td><input  data-role="datetimepicker" name="end" /></td></tr>

        </table><p style='margin-left:10px;margin-top:20px'>

        # if (gebruikerNaam) { #
        Aangemaakt door : #: gebruikerNaam # # } #</p>

        <script>
        jQuery(function() {


        var container = jQuery("\#resourcesContainer");
        var resources = jQuery("\#scheduler").data("kendoScheduler").resources;


        for( resource = 0; resource<resources.length; resource++)
        {
        if(resources[resource].multiple)
        {
        jQuery(kendo.format('<select data-bind="value: {0}" name="{0}">', resources[resource].field))
        .appendTo(container)
        .kendoMultiSelect({
        dataTextField: resources[resource].dataTextField,
        dataValueField: resources[resource].dataValueField,
        dataSource: resources[resource].dataSource,
        valuePrimitive: resources[resource].valuePrimitive,
        itemTemplate: kendo.format('<span class="k-scheduler-mark" style="background-color:\#= data.{0}?{0}:"none" \#"></span>\#={1}\#', resources[resource].dataColorField, resources[resource].dataTextField),
        tagTemplate: kendo.format('<span class="k-scheduler-mark" style="background-color:\#= data.{0}?{0}:"none" \#"></span>\#={1}\#', resources[resource].dataColorField, resources[resource].dataTextField)
        });

        } else {
        var combo =  jQuery(kendo.format('<select data-bind="value: {0}" name="{0}">', resources[resource].field))
        .appendTo(container)
        .kendoDropDownList({
        dataTextField: resources[resource].dataTextField,
        dataValueField: resources[resource].dataValueField,
        dataSource: resources[resource].dataSource,
        valuePrimitive: resources[resource].valuePrimitive,
        //optionLabel: "None",
        template: kendo.format('<span class="k-scheduler-mark" style="background-color:\#= data.{0}?{0}:"none" \#"></span>\#={1}\#', resources[resource].dataColorField, resources[resource].dataTextField)

        });
        }
       })
        <\/script>
    </script>

    <script>
        var popupEditorIsopen = false;
                //Deze functie wordt opgeroepen bij een click op de print-knop.
                //zo worden o.a de menu en Header van de Schedular worden onzichtbaar gemaakt en de layout aangepast voor print-out.
                //na het printen wordt alles terug in de oorspronkelijk staat teruggebracht.
                $("#printPage").click(function(e){
                $('#mainmenu').hide();
                $("#filter").hide();
                //$('#scheduler').animate({ 'margin-top': '-50' }, 0);
                //de toolbar onzichtbaar maken, meer plaats voor kalender
                $(".k-scheduler-toolbar").css("display", "none");
                //de gekleurde vierkante blokjes in de Agenda view onzichtbaar maken
                $(".k-scheduler-mark").css("display", "none");
                 $('#kendomenu').hide();
                var schedulerElement = $("#scheduler");
                schedulerElement.width(900);
                // readjust events' positions
                schedulerElement.data("kendoScheduler").resize();
                $(".k-scheduler-datecolumn").css("font-size", "0.7em");
                window.print();
                // restore previous Scheduler layout
                schedulerElement.width("");
                schedulerElement.data("kendoScheduler").resize();
                $('#kendomenu').show();
                $('#scheduler').animate({ 'margin-top': '1' }, 0);
                $("#filter").show();
                $(".k-scheduler-toolbar").css("display", "");
                //de fonti size van een event terugzetten
                $(".event").css("font-size", "");
                //de font-size van de datum in Agende-View terugzetten
                $(".k-scheduler-datecolumn").css("font-size", "");
                CheckFilterVisibility();
        });
        /*Auto Refresh : timer dat om een bepaalde interval de datasource refreshed*/
        /*Indien een gebruiker de kalender laat openstaan, blijft deze toch actueel */
        function refreshPage()
        {
            if (popupEditorIsopen == false)
            {
                $("#scheduler").data("kendoScheduler").dataSource.read();
                $("#scheduler").data("kendoScheduler").refresh();
            }
        }
        
        var arrayDates = new Array();
        var arrayResource = new Array();
        
        function ClearResourceCache()
        {
       //  alert('clearCache');
           arrayDates = new Array();
          arrayResource = new Array();
        }
        function FillResourceCache(datum,resourceId)
        {
            arrayDates.push(datum);
            arrayResource.push(resourceId);
        
        }
        function inCache(datum,resourceId)
        {
               for( i = 0; i<arrayResource.length; i++)
               {    
                   if (arrayDates[i]==datum && arrayResource[i]==resourceId)
                   {
                       return true;
                   }
               }
               return false;
            
        }
        //timer activeren die elke x miliseconden een refresh-functie oproept
        $("#refreshPage").click(function(e){   refreshPage(); });
        window.setInterval(refreshPage, 180000); //elke 3 minuten
    </script>

    <script>




                var categorie = '{{ categorie }}';
                var campus = '{{ campus }}';
                //ingeloggde medewerkers met het recht 425 (reservatie alles wijzigen) kunnen alle reservaties aanpassen
                //de rest enkel zelfingebrachte
                var superUser =  {% if (global_Registration.getGroepFuncties().getCodeRechten(425))=='schrijven' %} true {% else %} false {% endif %} ;
                var categorieColor = null;
                $(document).ready(function () {



                        //deze functie wordt opgeroepen wanneer de comboBox links-bovenaan is DataBound
                        //Indien het Type 'Mijnkalender' is, gaan we deze selecteren en de filter onzichtbaar maken=> is toch enigste type
                        function OnFilterComboDataBound()
                        {
                              CheckFilterVisibility();
                        }
                        function CheckFilterVisibility()
                        {
                        if (categorie == 'mijnkalender')
                        {
                                var combobox = $("#typeCombo").data("kendoComboBox");
                                combobox.select(0);
                                $("#filter").hide();
                        }
                        }

                        //De knop alles tonen
                        $("#btnAll").on("click", function () {
                        var combo = $("#typeCombo").data("kendoComboBox");
                                combo.text(null);
                                combo.value(null);
                                combo.refresh();
                                combo.trigger("change");
                        });
                                $("#typeCombo").width(400).kendoComboBox({

                                dataTextField: "naam",
                                dataValueField: "id",
                                template: "<table  style=''><tr><td width='400x' style='color:black'>${ naam}</td><td width='50px'><div style='width:100px;height:20;border:1px;background:${ color };'></div></td></tr></table>",
                                change: function () {
                                        refreshPage();
                                        ClearResourceCache();
                                        var object = this.dataItem(this.select());
                                        if (object)
                                            categorieColor = object.color;
                                        else
                                            categorieColor = null;
                                        var scheduler = $("#scheduler").data("kendoScheduler");
                                        var sval = this.value();
                                        scheduler.dataSource.filter({
                                        operator: function (task) {
                                        if (sval)
                                        {
                                            
                                                var isTask =  task.typeId == sval;
                                               /* if (isTask)
                                                {
                                                    for( resource = 0; resource<task.extras.length; resource++)
                                                    {
                                                        FillResourceCache (task.start, task.extras[resource]);
                                                      
                                                    }
                                                        
                                                }*/
                                               return isTask;
                                        
                                        }
                                                else return true;
                                        }
                                        });
                                },
                                dataSource: {

                                transport: {
                                read: {
                                url: "/webservice/kalender/reservatietype/{{ campus }}/{{ categorie }}/",
                                        dataType: "Json"
                                }
                                }
                                },
                                dataBound: OnFilterComboDataBound
                        });
                                var startDate = new Date();
                                startDate.setHours(8, 0, 0, 0);
                                /*
                                 var scheduler = $("#scheduler").data("kendoScheduler");
                                 //set the majorTick option
                                 scheduler.options.majorTick = 1;
                                 //refresh current view to reflect the above change
                                 scheduler.view(scheduler.view().name);
                                 
                                 */
                                var scheduler = $("#scheduler").kendoScheduler({


                        date: startDate,
                                editable: {
                                mode: "popup",
                                        confirmation: "Zeker dat u deze reservatie wil verwijderen ?",
                                        // template: $("#editor").html()

                                },
                                allDaySlot: false,
                                startTime: startDate,
                                eventTemplate: $("#event-template").html(),
                                monthEventTemplate: $("#monthevent-template").html(),
                                height:  screen.height - 260,
                                views: [
                                {type:   "day", dateHeaderTemplate: "<span class='k-link k-nav-day'>#=kendo.toString(date, 'ddd dd/MM')#</span>"},
                                {type: "workWeek", dateHeaderTemplate: "<span class='k-link k-nav-day'>#=kendo.toString(date, 'ddd dd/MM')#</span>"},
                                {type :       "week", selected: true,
                                        dateHeaderTemplate: "<span class='k-link k-nav-day'>#=kendo.toString(date, 'ddd dd/MM')#</span>"
                                },
                                        "month",
                                        "agenda",
                                {type: "timeline", eventHeight: 50}
                                ],
                                timezone: "Etc/GMT",
                                //   culture: "nl-BE",
                                dataSource: {
                                batch: true,
                                        sync: function() {
                                        this.read();
                                        },
                                        transport: {
                                        read: {
                                        url: "/webservice/kalender/reservatie/{{ campus }}/{{ categorie }}/",
                                                dataType: "json"
                                        },
                                                update: {
                                                url: "/webservice/kalender/save/",
                                                        dataType: "json",
                                                        type: "post"
                                                },
                                                create: {
                                                url: "/webservice/kalender/save/",
                                                        dataType: "json",
                                                        type: "post"
                                                },
                                                destroy: {
                                                url: "/webservice/kalender/delete/",
                                                        dataType: "json",
                                                        type: "post"
                                                },
                                                parameterMap: function (options, operation) {
                                                if (operation !== "read" && options.models) {
                                                return {models: kendo.stringify(options.models)};
                                                }

                                                }
                                        },
                                        schema: {
                                        model: {
                                        id: "taskId",
                                                fields: {
                                                taskId: {from: "TaskID", defaultValue: null, type: "number"},
                                                        typeId: {from: "TypeID", defaultValue: 0, validation: {required: true}},
                                                        typeName: {from: "TypeName", defaultValue: ""},
                                                        description: {from: "Description"},
                                                        title: {from: "Title", defaultValue: "", validation: {required: true}},
                                                        start: {type: "date", from: "Start"},
                                                        end: {type: "date", from: "End"},
                                                        startTimezone: {from: "StartTimezone"},
                                                        endTimezone: {from: "EndTimezone"},
                                                        recurrenceId: {from: "RecurrenceId"},
                                                        recurrenceRule: {from: "RecurrenceRule"},
                                                        recurrenceException: {from: "RecurrenceException"},
                                                        isAllDay: {type: "boolean", from: "IsAllDay"},
                                                        gebruikerId: {type: "number", from: "GebruikerID"},
                                                        gebruikerNaam: { from: "GebruikerNaam"},
                                                        att : {from:"Attendees" },
                                                        extras : {from:"Extras", nullable: true},
                                                        extrasdirectie : {from:"ExtrasDirectie", nullable: true},
                                                        creationDate: {from: "CreationDate"}

                                                }
                                        }
                                        }
                                },
                                resize: function(e) {
                                },
                                resizeEnd: function(e) {
                                    if (superUser == false && e.event.gebruikerId != {{global_Registration.getId()}})
                                    {
                                         e.preventDefault();
                                    }
                                },
                                move: function(e) 
                                {
                                    if (superUser == false && e.event.gebruikerId != {{global_Registration.getId()}})
                                    {
                                        e.preventDefault();
                                    }
                                },
                                moveEnd: function(e) 
                                {

                                    if (superUser == false && e.event.gebruikerId != {{global_Registration.getId()}})
                                    {
                                        e.preventDefault();
                                    }

                                },
                                add: function(e) 
                                { 
                                    if (e.event.taskId)
                                    {
                                    }
                                    else
                                    {
                                        if ($("#typeCombo").val())
                                        {

                                            var combo = $("#typeCombo").data("kendoComboBox");
                                            e.event.typeId = $("#typeCombo").val();
                                            e.event.typeName = combo.text();
                                        }
                                        else
                                        {
                                            alert('Gelieve een {{categorie}} te kiezen');
                                            e.preventDefault();
                                        }
                                    }
                                },
                                save: function(e) 
                                {
                                    if (e.event.taskId)
                                    {
                                    }
                                    else
                                    {
                                        if ($("#typeCombo").val())
                                        {
                                            var combo = $("#typeCombo").data("kendoComboBox");
                                            e.event.typeId = $("#typeCombo").val();
                                            e.event.typeName = combo.text();
                                        }
                                        else
                                        {
                                            alert('Gelieve aan {{categorie}} te kiezen');
                                            e.preventDefault();
                                        }
                                    }
                                    
                                    
                                    //**** Check for double reservations BEGIN
                                        var scheduler = $("#scheduler").data("kendoScheduler");
                                        var events = scheduler.occurrencesInRange(e.event.start,e.event.end);
                                        var count = 0;
                                    if (e.event.id==null) //new event
                                    {
                                    
                                        for( i = 0; i<events.length; i++)
                                        {  // alert ('allevents : '  + events[i].title);
                                            
                                            console.log(events[i]);   
                                            if (events[i].id!=null || events[i].recurrenceId) //een herhaling heeft ook geen id
                                            {
                                               // alert ('type ex event : ' + events[i].typeId);
                                               // alert ('type new event : ' + e.event.typeId);
                                                if (events[i].typeId == e.event.typeId)
                                                { 
                                                 
                                                 alert(e.event.typeName + ' is op dit tijdstip reeds gereserveerd !');
                                                 e.preventDefault();
                                                    return;
                                                }
                                                 
                                             }
                                             else
                                             { //alert ('nullevents : '  + events[i].title + ' t:' + e.event.typeId );
                                             }
                                         }
                                    }
                                    else //upate existing event
                                    {
                                        for( i = 0; i<events.length; i++)
                                        {
                                        // alert ('allevents : '  + events[i].title);
                                             if (events[i].id!=e.event.id && events[i].typeId==e.event.typeId)
                                             { 
                                               
                                                 alert(e.event.typeName + ' is op dit tijdstip reeds gereserveerd !');
                                                 e.preventDefault();
                                                    return;
                                             }
                                        }
                                            
                                    }
                                         //**** Check for double reservations END 
                                  
                                   
                             
                                    
                                    /**** enkel reservaties binnen 1 dag mogelijk *****/
                                    var day1 = kendo.toString(e.event.start, 'd');
                                    var day2 = kendo.toString(e.event.end, 'd');
                                    if (day1 != day2)
                                    {
                                        alert('Een reservatie over meerdere dagen is niet mogelijk.');
                                        e.preventDefault();
                                        return;
                                    }
                                    /**** normale gebruikers kunnen geen activiteiten en vervoer boeken in de zomervakantie *****/
                                    var maand = kendo.toString(e.event.start, 'MM');
                                    if (superUser == false && (maand == '07' || maand == '08') && (categorie == 'activiteit' || categorie == 'voertuig'))
                                    {
                                        alert('Een {{categorie}} kan niet in de zomervakantie geboekt worden. Gelieve contact op te nemen met de receptie.');
                                        e.preventDefault();
                                        return;
                                    }
                                    /***** voertuigen en activiteiten mogen enkel binnen 4 weken geboekt worden. ****/
                                    var today = new Date();
                                    var diffDays = Math.round((e.event.end - today) / 1000 / 60 / 60 / 24);
                                    if (superUser == false && diffDays > 28 && (categorie == 'activiteit' || categorie == 'voertuig'))
                                    {
                                        alert('Een {{categorie}} kan enkel gesereveerd worden max. 28 dagen. Gelieve contact op te nemen met de receptie.');
                                        e.preventDefault();
                                        return;
                                    }
                                  
                                    popupEditorIsopen = false;
                                 },
                                edit: function(e)
                                {
                                    
                                    popupEditorIsopen = true;
                                    
                                //   console.log(e.event);
                                   
                                  /* if (e.event.recurrenceRule)
                                   {
                                       e.container
                                        .find("[name=start]") // find the all day checkbox
                                        .parent() // get its wrapper
                                        .prev() // get the label wrapper
                                      //  .remove() // remove the label wrapepr
                                        .end() // get back to the checkbox wrapper
                                        .prop('disabled', true);
                                   }*/
                                    if (superUser == false ) { /*enkel superusers kunnen herhalende events toevoegen/wijzigen*/
                                        e.container
                                        .find("[name=recurrenceRule]") // find the all day checkbox
                                        .parent() // get its wrapper
                                        .prev() // get the label wrapper
                                        .remove() // remove the label wrapepr
                                        .end() // get back to the checkbox wrapper
                                        .remove(); // remove the checkbox wrapper*/
                                    }
                                        // optie 'hele dag' voor iedereen uitschakelen.
                                        e.container
                                        .find("[name=isAllDay]") // find the all day checkbox
                                        .parent() // get its wrapper
                                        .prev() // get the label wrapper
                                        .remove() // remove the label wrapepr
                                        .end() // get back to the checkbox wrapper
                                        .remove(); // remove the checkbox wrapper

                                if (e.event.taskId)
                                {
                                //wanneer de ingeloggde gebruiker de rechten 'extra's directie (koffie, thee, water,...)'
                                //niet heeft, gaan we deze invoermogelijkheid readonly maken (kruisjes weg) bij een bestaande task
        {% if (global_Registration.getGroepFuncties().getCodeRechten(420))!='schrijven' %}

                                    //$('[data-container-for="extrasdirectie"]').find('.k-delete').hide();//kruisjes verwijderen
                                    $('[data-container-for="extrasdirectie"]').hide();
                                            $('[for="extrasdirectie"]').hide();{% endif %}
                                    }
                                    else
                                    {
                                    //wanneer de ingeloggde gebruiker de rechten 'extra's directie (koffie, thee, water,...)'
                                    //niet heeft, gaan we deze invoermogelijkheid readonly maken (kruisjes weg) bij een nieuwe task
            {% if (global_Registration.getGroepFuncties().getCodeRechten(420))!='schrijven' %}

                                        $('[data-container-for="extrasdirectie"]').hide();
                                                $('[for="extrasdirectie"]').hide();{% endif %}
                                        }



                                        var combo = $("#typeCombo").data("kendoComboBox");
                                                if (categorie == 'mijnkalender')
                                        {
                                        if (e.event.taskId)
                                                e.container.kendoWindow("title", "Item wijzigen in mijn kalender");
                                                else
                                                e.container.kendoWindow("title", "Toevoegen aan mijn kalender");
                                        }
                                        else
                                        {
                                        if (e.event.taskId)
                                        {
                                        e.container.kendoWindow("title", "<div style='  float: left; margin: 0 10px 10px 0;  width:30px;height:15px;background:" + categorieColor + ";'></div> Reservatie : " + e.event.typeName);
                                        }
                                        else
                                        {
                                        e.container.kendoWindow("title", " <div style='  float: left;  margin: 0 10px 10px 0; width:30px;height:15px;background:" + categorieColor + ";''></div> Reservatie : " + combo.text());
                                        }
                                        }
                                        if (e.event.taskId)
                                        {
                                        if (superUser == false && e.event.gebruikerId != {{global_Registration.getId()}})
                                        {
                                        $(".k-scheduler-update").remove();
                                                $(".k-scheduler-delete").remove();
                                        }
                                        }
                                        },
                                        cancel: function(e) {
                                        popupEditorIsopen = false;
                                        },
                                        remove: function(e) {
                                        if (superUser == false && e.event.gebruikerId != {{global_Registration.getId()}})
                                        {
                                        alert ("Het is enkel mogelijk eigen reservaties te wijzigen.");
                                                e.preventDefault();
                                        }
                                        popupEditorIsopen = false;
                                        },
                                        resources: [

                                        {
                                        field: "typeId",
                                                //color: "color",
                                                dataTextField: "naam",
                                                dataValueField: "id",
                                                title: "{{categorie}}",
                                                dataColorField: "color",
                                                dataSource: {
                                                transport: {
                                                read: {
                                                url: "/webservice/kalender/reservatietype/{{ campus }}/{{ categorie }}/",
                                                        dataType: "Json"
                                                }
                                                }
                                                }
                                        },
                                        {
                                        field: "extras",
                                                //color: "color",
                                                dataTextField: "naam",
                                                dataValueField: "id",
                                                title: "toestellen",
                                                multiple: true,
                                                // dataColorField: "color",
                                                dataSource: {
                                                transport: {
                                                read: {
                                                url: "/webservice/kalender/reservatietypeextras/{{ categorie }}/",
                                                        dataType: "Json"
                                                }
                                                }
                                                }
                                        }
                                        ,
                                        {
                                        field: "extrasdirectie",
                                                //color: "color",
                                                dataTextField: "naam",
                                                dataValueField: "id",
                                                title: "extra's",
                                                multiple: true,
                                                // dataColorField: "color",
                                                dataSource: {
                                                transport: {
                                                read: {
                                                url: "/webservice/kalender/reservatietypeextrasadmin/{{ categorie }}/",
                                                        dataType: "Json"
                                                }
                                                }
                                                }
                                        },
                                        {
                                        field: "att",
                                                title: "aantal personen",
                                                dataSource: [

                                                {text: "1", value: 1}, {text: "2", value: 2}, {text: "3", value: 3}, {text: "4", value: 4}, {text: "5", value: 5}
                                                , {text: "6", value: 6}, {text: "7", value: 7}, {text: "8", value: 8}, {text: "9", value: 9}, {text: "10", value: 10}
                                                , {text: "11", value: 11}, {text: "12", value: 12}, {text: "13", value: 13}, {text: "14", value: 14}, {text: "15", value: 15}
                                                , {text: "16", value: 16}, {text: "17", value: 17}, {text: "18", value: 18}, {text: "19", value: 19}, {text: "20", value: 20}
                                                , {text: "21", value: 21}, {text: "22", value: 22}, {text: "23", value: 23}, {text: "24", value: 24}, {text: "25", value: 25}
                                                , {text: "30", value: 30}, {text: "35", value: 35}, {text: "40", value: 40}, {text: "45", value: 45}, {text: "50", value: 50}
                                                , {text: "60", value: 60}, {text: "70", value: 70}, {text: "80", value: 80}, {text: "90", value: 90}, {text: "100", value: 100}
                                                ]
                                        }

                                        ],
                                        //Localization

                                        "messages": {
                                        "today": "Vandaag",
                                                "save": "Opslaan",
                                                "cancel": "Annuleren",
                                                "destroy": "Wissen",
                                                "event": "Termijn",
                                                "date": "Datum",
                                                "time": "Tijd",
                                                "allDay": "Volledige dag",
                                                "views": {
                                                "day": "Dag",
                                                        "week": "Week",
                                                        "month": "Maand"
                                                },
                                                "recurrenceMessages": {
                                                "deleteWindowTitle": "Deze reservatie en alle herhalingen verwijderen",
                                                        "deleteWindowOccurrence": "Deze reservatie verwijderen",
                                                        "deleteWindowSeries": "Alle herhalingen van deze reservatie verwijderen",
                                                        "editWindowTitle": "Herhaling bewerken",
                                                        "editWindowOccurrence": "Deze reservatie bewerken",
                                                        "editWindowSeries": "Alle herhalingen bewerken",
                                                        "editRecurring": "Wil u enkel deze reservatie of alle reservaties bewerken ?",
                                                        "deleteRecurring": "Wil u enkel deze reservatie of alle reservaties verwijderen ?"
                                                },
                                                "editor": {
                                                "title": "Titel",
                                                        "start": "Start",
                                                        "end": "Einde",
                                                        "allDayEvent": "Volledige dag",
                                                        "description": "Beschrijving",
                                                        "repeat": "Herhalen",
                                                        "timezone": "Tijdzone's bewerken",
                                                        "startTimezone": "Tijdzone start",
                                                        "endTimezone": "Tijdzone einde",
                                                        "separateTimezones": "Unterschiedliche Start- und Endzeitzonen benutzen",
                                                        "timezoneEditorTitle": "Zeitzonen",
                                                        "timezoneEditorButton": "Zeitzone",
                                                        "editorTitle": "Reservatie"


                                                },
                                                "recurrenceEditor": {
                                                "frequencies": {
                                                "never": "Nooit",
                                                        "daily": "Dagelijks",
                                                        "weekly": "Wekelijks",
                                                        "monthly": "Maandelijks",
                                                        "yearly": "Jaarlijks"
                                                },
                                                        "daily": {
                                                        "repeatEvery": "Herhalen elke:",
                                                                "days": "Dag(en)"
                                                        },
                                                        "weekly": {
                                                        "weeks": "Week(en)",
                                                                "repeatEvery": "Herhalen elke:",
                                                                "repeatOn": "Herhalen op:"
                                                        },
                                                        "monthly": {
                                                        "repeatEvery": "Herhalen elke:",
                                                                "repeatOn": "Herhalen op:",
                                                                "months": "Maand(en)",
                                                                "day": "Dag"
                                                        },
                                                        "yearly": {
                                                        "repeatEvery": "Herhalen elke:",
                                                                "repeatOn": "Herhalen op:",
                                                                "years": "Jaar(en)",
                                                                "of": "van"
                                                        },
                                                        "end": {
                                                        "endLabel": "Eindigen:",
                                                                "endNever": "Nooit",
                                                                "endCountAfter": "na",
                                                                "endCountOccurrence": "aantal herhalingen",
                                                                "endUntilOn": "op"
                                                        },
                                                        "offsetPositions": {
                                                        "first": "eerste",
                                                                "second": "tweede",
                                                                "third": "derde",
                                                                "fourth": "vierde",
                                                                "last": "laatste"
                                                        }
                                                }
                                        }

                                });
                                        // set width of the drop-down list
                                        var combobox = $("#typeCombo").data("kendoComboBox");
                                        combobox.list.width(400);
                                        combobox.list.height(650);
                                });
            </script>
            {% endblock %}
