{% extends 'mainEmpty.twig' %}
{% block pageContent %}
 <!--   <script>
        function CloseMySelf(id,name) {
    try {
        window.opener.HandlePopupResult(id,name);
    }
    catch (err) {}
    window.close();
    return false;
}
        </script>
            {% for locatie in locatieList %}
                {% if locatie["Level"] > 0 %}
                    {% for i in 0.. locatie["Level"] %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}  
                {% else %}
                    <hr><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                {% endif %}
                <a href="#"  onclick="return CloseMySelf({{ locatie["loc_id"] }},'{{ locatie["loc_naam"] }}');">{{ locatie["loc_naam"] }}</a>
                </br> 
                {% endfor %}
 -->
{% endblock %}
