{% extends 'main.twig' %}

{% block pageContent %}
            {% if global_loggedon %}
                <div class="jumbotron">
                    <p class="jumbotronheadertext"> Welkom {{ global_loggedon_name }} ! </p>
                       <p><span class="glyphicon glyphicon-plus-sign"></span><a class="linkFact" href="{{ global_UrlAddEvent }}">evenement toevoegen</a></p>
                       <p><span class="glyphicon glyphicon-th-list"></span><a class="linkFact" href="#">overzicht van uw evenementen</a></p>
                       <p><span class="glyphicon glyphicon-user"></span><a class="linkFact" href="#">accountgegevens wijzigen</a></p>
                </div>
            {% else %}
             
                     {% if errormessages|length > 0 %}
        <div class="alert alert-danger" role="alert" length="250px">
            <ul class="errors">
                {% for errormsg in errormessages %}
                    <li>{{ errormsg }}</li>

                {% endfor %}
            </ul>
        </div>
            
    {% endif %}
    {% if succesmessages|length > 0 %}
        <div class="alert alert-success" role="alert">

            <ul class="errors">
                {% for succesmsg in succesmessages %}
                    <li>{{ succesmsg }}</li>

                {% endfor %}
            </ul>
        </div>
    {% endif %}
            <h1>test</h1>
         <table class="span5 center-table tableNoBorder">  
             <caption class="text-left textMainTopicTitle">Aanmelden :</caption>  
<form action="{{ global_UrlLogon }}" method="post" {{ form_enctype(form) }}>
          <div class="input-group">

        <tr><td> {{ form_label(form.email) }}</td>
            <td>   {{ form_widget(form.email) }}</td></tr>
            <tr><td>  {{ form_label(form.password) }}</td>
            <td>    {{ form_widget(form.password) }}</td></tr>

           <tr><td>  {{ form_rest(form) }}
               <button class="btn btn-primary" name="form_login_btn_login">Inloggen</button>
               </td>
            <td class="right">      <a href="#">paswoord vergeten</a></td></tr>
          </div>
       </form>
         </table>
                        
                        

                        
        
              
                 
             
                            
               
            {% endif %}
 
{% endblock %}
