<html>
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_descr }}">
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="author" content="@Clara Fey">
    <meta name="robots" content="noindex, nofollow">
    <script src="{{ app.request.baseUrl }}/js/jquery/jquery.js"></script>
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/bootstrap/css/bootstrap.min.css">
    <script src="{{ app.request.baseUrl }}/bootstrap/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/kendoui/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="/kendoui/styles/kendo.default.min.css"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/bootstrap.icon-large.min.css"/>
    <script src="/kendoui/js/kendo.all.min.js"></script>
    <script src="/kendoui/js/jszip.min.js"></script>
    <script src="/kendoui/languages/kendui_nl-NL.js"></script>
    <script src="/kendoui/js/cultures/kendo.culture.nl-BE.min.js"></script>
    <!-- eigen (helper) javascript functies voor Kendo UI-->
    <script src="/js/mykendoui.js"></script>

    <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/style.css"/>
    <script type="text/javascript">
        //set the Kendo UI culture
        kendo.culture("nl-BE");
    </script>
</head>

<body>
<header>
</header>
 
{% if global_Registration.getLogonMode() != "kalmode" %}    
{% include 'menu.twig' %}
{% endif %}    

<div class="container" style="margin: 0 auto;width: 100%;">
    <div class="row">
        {% block pageContent %}{% endblock %}
    </div>
</div>
</body>
</html>