<ul id="kendomenu">
    <li>
        {% if global_Registration.UserIsLoggedOn %}
        <a href="{{ global_UrlRoot }}/dashboard/" rel="home" title="logo Clara Fey">
            {% else %}
            <a href="{{ global_UrlRoot }}" rel="home" title="logo Clara Fey">
                {% endif %}
                <img width="80" src="{{ global_UrlRoot }}/img/logocf.png" title="logo Clara Fey">
            </a>
        </a>
    </li>

    {# if (global_Registration.getGroepFuncties().getCodeRechtenGroep(100)) %}
        <li>
            <span class="glyphicon glyphicon-cog" style='padding:2px;'></span>SMM
            <ul>

                {% if (global_Registration.getGroepFuncties().getCodeRechten(105))=='schrijven' %}
                    <li>
                        <span class="glyphicon glyphicon-user" style='padding:2px;'></span> Gebruikersbeheer
                        <ul> <!-- moving the UL to the next line will cause an IE7 problem -->
                            <li><a href="{{ global_UrlRoot }}/smm/functie">Functies</a></li>
                            <li><a href="{{ global_UrlRoot }}/smm/gebruikersgroepen">Gebruikersgroepen</a></li>
                            <li><a href="{{ global_UrlRoot }}/smm/groepenrechten/">Groepen-functies</a></li>
                            <li><a href="{{ global_UrlRoot }}/smm/groepenlocaties/">Groepenlocaties
                                    (Werkbonnenbeheer)</a></li>

                        </ul>
                    </li>
                {% endif %}
                {% if (global_Registration.getGroepFuncties().getCodeRechten(110))=='schrijven' %}
                    <li>
                        <span class="glyphicon glyphicon-list-alt" style='padding:2px;'></span> Inventaris
                        <ul> <!-- moving the UL to the next line will cause an IE7 problem -->
                            <li><a href="{{ global_UrlRoot }}/smm/inventaris/merk/">Merken</a></li>
                            <li><a href="{{ global_UrlRoot }}/smm/inventaris/leverancier/">Leveranciers</a></li>
                            <li><a href="{{ global_UrlRoot }}/smm/inventaris/toestel/">Toestellen</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if (global_Registration.getGroepFuncties().getCodeRechten(100))=='schrijven' %}
                    <li>
                        <a href="{{ global_UrlRoot }}/smm/gebouwenbeheer/"> <span class="glyphicon glyphicon-home"
                                                                                  style='padding:2px;'></span>
                            Gebouwenbeer</a>
                    </li>
                {% endif %}

            </ul>
        </li>
    {% endif #}
    
    {#
    {% if (global_Registration.getGroepFuncties().getCodeRechtenGroep(200)) %}
        <li>
            <span class="glyphicon glyphicon-list-alt" style='padding:2px;'></span> Inventaris
            <ul>
                <li>

                    <a href="{{ global_UrlRoot }}/inventaris">Overzicht</a>

                </li>
            </ul>
        </li>
    {% endif %}
    {% if (global_Registration.getGroepFuncties().getCodeRechtenGroep(300)) %}
        <li>
            <span class="glyphicon glyphicon-tasks" style='padding:2px;'></span> Werkbonnenbeheer
            <ul>
                <li>

                    <a href="{{ global_UrlRoot }}/werkbonnenbeheer/">Mijn Werkaanvragen</a>
                </li>
                {% if global_Registration.getGroepFuncties().getCodeRechten(320)=='schrijven'
                or   global_Registration.getGroepFuncties().getCodeRechten(325)=='schrijven' %}
                    <li>
                        <a href="{{ global_UrlRoot }}/werkbonnenbeheer/mijnwerkbonnen/">Mijn Werkbonnen</a>

                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
    #}
    {% if (global_Registration.getGroepFuncties().getCodeRechtenGroep(400)) %}
        <li>
            <span class="glyphicon glyphicon-calendar" style='padding:2px;'></span>Kalender
            <ul>
                <li>
                    <span class="glyphicon glyphicon-home" style='padding:2px;'></span> Campus Kristus Koning
                    <ul>

                        <!-- moving the UL to the next line will cause an IE7 problem -->
                        {% if (global_Registration.getGroepFuncties().getCodeRechten(400))=='schrijven' %}
                            <li><a href="{{ global_UrlRoot }}/kalender/reservaties/CKK/laptop/">laptop</a></li>
                        {% endif %}
                        {% if (global_Registration.getGroepFuncties().getCodeRechten(410))=='schrijven' %}
                            <li><a href="{{ global_UrlRoot }}/kalender/reservaties/CKK/voertuig/">voertuig</a></li>
                        {% endif %}
                        {% if (global_Registration.getGroepFuncties().getCodeRechten(415))=='schrijven' %}
                            <li><a href="{{ global_UrlRoot }}/kalender/reservaties/CKK/zaal/">zaal</a></li>
                        {% endif %}
                        {% if (global_Registration.getGroepFuncties().getCodeRechten(405))=='schrijven' %}
                            <li><a href="{{ global_UrlRoot }}/kalender/reservaties/CKK/activiteit/">activiteit</a>
                            </li>
                        {% endif %}


                    </ul>

                </li>

                {% if (global_Registration.getGroepFuncties().getCodeRechten(415))=='schrijven' %}
                    <li>
                        <span class="glyphicon glyphicon-home" style='padding:2px;'></span> Campus Sint-Rafaël
                        <ul>
                            <li><a href="{{ global_UrlRoot }}/kalender/reservaties/CSR/zaal/">zaal</a></li>
                            
                            <li><a href="{{ global_UrlRoot }}/kalender/reservaties/CSR/TOAH/">Lokalen TOAH/Dagbesteding</a></li>
                        </ul>
                       
                     
                    </li>
                {% endif %}
                <!--  <li> <a href="{{ global_UrlRoot }}/kalender/reservaties/mijnkalender/">Mijn kalender</a></li>-->
            </ul>

        </li>
    {% endif %}
  <!--  <li>
        <span class="glyphicon glyphicon-info-sign" style='padding:2px;'></span>Informatie
        <ul>

            <li>
                <a href="{{ global_UrlRoot }}/info/telefoonboek/"><span class="glyphicon glyphicon-earphone"
                                                                        aria-hidden="true"></span> Telefoonboek</a>
            </li>
        </ul>
    </li> -->
    {% if global_Registration.UserIsLoggedOn %}
        <li class="right">
                <span class="glyphicon glyphicon-user"
                      style='padding:2px;'></span>{{ global_Registration.GetUserText }}
            <ul>
              <!--  <li>
                    <a href="{{ global_UrlRoot }}/registratie/mijnrechten/">Mijn Rechten</a>
                </li>-->
                <li>
                    <a href="{{ global_UrlLogon }}?dologoff=true"><span class="glyphicon glyphicon-log-out"
                                                                        aria-hidden="true"></span> Uitloggen</a>
                </li> 
            </ul>
        </li>
    {% endif %}


</ul>

<script>

    $("#kendomenu").kendoMenu();

</script>