{% extends 'main.twig' %}
{% block pageContent %}
    <br>
    <script>
        var gridSelectdColIndex = null;
        var gridSelectdRowIndex = null;
        var gridSelectRowDataItem = null;
        var popupStatusWindow = null;
        var popupStatusHistoriekWindow = null;
        var popupStatusFormCancel = false;
        function customParser(data) {
            if (data)
                return kendo.parseDate(data.date, 'yyyy-MM-dd');
            else
                return null;
        }

        function statusWijzigen() {
            if (gridSelectdColIndex != null) {
                popupStatusWindow.data("kendoWindow").title("Status aanpassen");
                popupStatusWindow.show();
                popupStatusWindow.data("kendoWindow").center().open();
            }
        }
        function statusOverzicht() {

            popupStatusHistoriekWindow = $("#popupStatusHistoriek");
            popupStatusHistoriekWindow.kendoWindow({
                draggable: true,
                width: "600px",
                //    height: "100%",
                visible: false,
                content: '/werkbonnenbeheer/werkbon/statushistoriek/?woId=' + gridSelectRowDataItem.id,
                modal: true,
                title: "Werkbon Status Historiek : " + gridSelectRowDataItem.id,

            });

            popupStatusHistoriekWindow.show();
            popupStatusHistoriekWindow.data("kendoWindow").center().open();
        }

        function printWerkbon() {

            var gridElement = $('#grid'),
                    printableContent = '',
                    win = window.open('', '', 'width=800, height=500'),
                    doc = win.document.open();

            var htmlStart =
                    '<!DOCTYPE html>' +
                    '<html>' +
                    '<head>' +
                    '<meta charset="utf-8">' +
                    '<title>Werkbon Nummer ' + gridSelectRowDataItem.id + ' </title>' +
                    '<link href="http://cdn.kendostatic.com/' + kendo.version + '/styles/kendo.common.min.css" rel="stylesheet" /> ' +
                    '<style>' +
                    'html { font: 11pt sans-serif; }' +
                    '.k-grid { border-top-width: 0; }' +
                    '.k-grid, .k-grid-content { height: auto !important; }' +
                    '.k-grid-content { overflow: visible !important; }' +
                    'div.k-grid table { table-layout: auto; width: 100% !important; }' +
                    '.k-grid .k-grid-header th { border-top: 1px solid; }' +
                    '.k-grid-toolbar, .k-grid-pager > .k-link { display: none; }' +
                    '</style>' +
                    '</head>' +
                    '<body>';

            var htmlEnd =
                    '</body>' +
                    '</html>';
            //controleren of de begin & einddatum is opgegeven, zoniet wordt de datum op 'niet opgegeven' gezet
            var formatbegindatum;
            var formateinddatum;
            if (gridSelectRowDataItem.begindatum == null) {
                formatbegindatum = 'niet opgegeven';
            } else {
                formatbegindatum = new Date(Date.parse(gridSelectRowDataItem.begindatum)).toLocaleDateString()
            }
            if (gridSelectRowDataItem.einddatum == null) {
                formateinddatum = 'niet opgegeven'
            } else {
                formateinddatum = new Date(Date.parse(gridSelectRowDataItem.einddatum)).toLocaleDateString();
            }
            printableContent = '<b>Titel:</b> ' + gridSelectRowDataItem.titel + '<br />'
            + '<b>Status:</b> ' + gridSelectRowDataItem.status_naam + '<br />'
            + '<b>Aanvrager:</b> ' + gridSelectRowDataItem.creator_naam + '<br />'
            + '<b>Prioriteit:</b> ' + gridSelectRowDataItem.prioriteit_naam + '<br />'
            + '<b>Begindatum:</b> ' + formatbegindatum
            + '<b> Einddatum: </b>' + formateinddatum + '<br />'
            + '<b>Groepen: </b>' + gridSelectRowDataItem.gebruikersgroepen_kommasep + '<br />'
            + '<b>Medewerkers: </b>' + gridSelectRowDataItem.gebruikersnamen_kommasep + '<br />'
            + '<b>Locatie: </b>' + gridSelectRowDataItem.locatie + '<br />'
            + '<b>Beschrijving: </b>' + gridSelectRowDataItem.beschrijving + '<br />'
            ;

            doc.write(htmlStart + printableContent + htmlEnd);
            doc.close();
            win.print();
        }

        $(document).ready(function () {
            popupStatusWindow = $("#popupStatusForm");
            popupStatusWindow.kendoWindow({
                draggable: true,
                width: "600px",
                //    height: "100%",
                visible: false,
                content: '/werkbonnenbeheer/werkbon/editeren/',
                modal: true,
                title: "Werkbonstatus",
                open: onPopupStatusOpen,
                close: onPopupStatusClose,
                position: {top: 20, left: 250}
            });

            function onPopupStatusOpen() {

                //Deze variabele houdt bij of de popup gesloten is door de cancel-knop
                //we zetten ze initieel op true
                //bij een succesvolle save, zal deze op false worden gezet
                popupStatusFormCancel = true;
                var dropdownWerkaanvraagStatus = $('#ddWAStatus').data("kendoDropDownList");
                dropdownWerkaanvraagStatus.wrapper.hide();
                var dropdownWerkbonStatus = $('#ddWBStatus').data("kendoDropDownList");
                dropdownWerkbonStatus.wrapper.show();
                var editorOmschrijving = $("#statusOmschrijving").data("kendoEditor");
                dropdownWerkbonStatus.select(function (dataItem) {
                    return dataItem.id == gridSelectRowDataItem.status_id;
                });
                editorOmschrijving.value(gridSelectRowDataItem.status_opmerking);
                $("#woId").val(gridSelectRowDataItem.id);
                $("#woTypeHidden").val("WB");
            }

            function onPopupStatusClose() {

                //wannneer de cacel knop is ingedrukt doen we niets
                if (popupStatusFormCancel == true) {
                    return;
                }
                //waarden ophalen uit popupformulier
                var dropdownStatus = $('#ddWBStatus').data("kendoDropDownList");
                var editorOmschrijving = $("#statusOmschrijving").data("kendoEditor");
                var val = {
                    status_naam: dropdownStatus.text(),
                    status_id: dropdownStatus.value(),
                    status_opmerking: editorOmschrijving.value()
                };
                //de status wijzigen in de Grid
                $.extend(gridSelectRowDataItem, val);
                var guid = kendo.guid();
                gridSelectRowDataItem.set("uid", guid);
                var row = $("#gridWB").data("kendoGrid").table.find('tr[data-uid="' + guid + '"]');
                $("#gridWB").data("kendoGrid").select(row);
            }


            dataSourceWB = new kendo.data.DataSource({
                transport: {
                    read: {
                        {% if (global_Registration.getGroepFuncties().getCodeRechten(325))=='schrijven' %}
                        //indien supervisor => alle werkbonnen
                        url: "/webservice/werkbonnenbeheer/werkbon/?userId=&subGroep=",
                        {% else %}
                        //anders enkel de Werkbonnen toegewezen aan die van de inegloggde gebruiker
                        url: "/webservice/werkbonnenbeheer/werkbon/?userId={{ global_Registration.getId() }}&subGroep={{ global_Registration.getSubGroep() }}",
                        {% endif %}
                        dataType: "Json"
                    }
                },
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: {editable: true, nullable: true},
                            parentid: {parentid: true, nullable: true},
                            titel: {editable: false, type: "string"},
                            beschrijving: {editable: false, type: "string"},
                            prioriteit_id: {type: "integer"},
                            prioriteit_naam: {type: "string"},
                            type_id: {type: "integer"},
                            type_naam: {type: "string"},
                            status_id: {type: "integer"},
                            status_naam: {type: "string"},
                            status_opmerking: {type: "string"},
                            creator_id: {type: "integer"},
                            creator_email: {type: "string"},
                            creator_naam: {type: "integer"},
                            locatie: {type: "string"},
                            locatie_id: {type: "integer"},
                            inventaris: {type: "integer"},
                            begindatum: {type: "datetime", parse: customParser},
                            einddatum: {type: "datetime", parse: customParser},
                            gebruikersgroepen_kommasep: {type: "string"},
                            gebruikersnamen_kommasep: {type: "string"},
                            gebruikersids: {type: "string"}
                        }
                    }
                }
            });
            var gridWB = $("#gridWB").kendoGrid({
                toolbar: [{
                    template: "<button class='k-button' onclick='statusWijzigen()'>Status Wijzigen</button>"
                }, {
                    template: "<button class='k-button' onclick='statusOverzicht()'>Status Overzicht</button>"
                }, {
                    template: "<button class='k-button' onclick='printWerkbon()'>Werkbon Afdrukken</button>"
                }

                    , "excel", "pdf"
                ],
                excel: {
                    fileName: "groepen-rechten.xlsx",
                    filterable: true,
                    allPages: true
                },
                pdf: {
                    fileName: "groepen-rechten.pdf",
                    filterable: true,
                    allPages: true
                },
                scrollable: {
                    virtual: true
                },
                detailTemplate: kendo.template($("#template").html()),
                detailInit: detailInit,
                sortable: true,
                groupable: true,
                filterable: true,
                height: screen.height - 200,
                filterMenuInit: onFilterMenuInit,
                change: onChange,
                scrollable: true,
                reorderable: true,
                selectable: "single row",
                resizable: true,
                dataSource: dataSourceWB,
                columns: [
                    {field: "id", title: "WB", width: 50},
                    {field: "titel", width: 180, title: "Opdracht"},
                    {field: "status_naam", title: "Status", width: 150},
                    {field: "begindatum", title: "Begindatum", width: 100, format: "{0:dd-MM-yyyy}", type: "datetime"},
                    {field: "einddatum", title: "Einddatum", width: 100, format: "{0:dd-MM-yyyy}", type: "datetime"},
                    {field: "gebruikersgroepen_kommasep", title: "Groepen", width: 150},
                    {field: "gebruikersnamen_kommasep", title: "Medewerkers", width: 250},
                    {field: "locatie", title: "Locatie", width: 300},
                    {field: "prioriteit_naam", title: "Prioriteit", width: 100}
                ],
                dataBound: function () {
                    //een cell met prioriteit 'gevaar' rood kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'gevaar') {
                            $(this).addClass('dangerCellClass')
                        }
                    })
                    //een cell met prioriteit 'hoog' oranje kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'hoog') {
                            $(this).addClass('highPriorityCellClass')
                        }
                    })
                    //een cell met prioriteit 'hoog' oranje kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'normaal') {
                            $(this).addClass('normalPriorityCellClass')
                        }
                    })
                    //een cell met prioriteit 'hoog' oranje kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'laag') {
                            $(this).addClass('lowPriorityCellClass')
                        }
                    })
                    //Double Click event koppelen met Grid (=> opent modal Dialog in Editor)
                }
            }).data("kendoGrid");

            function detailInit(e) {
                var detailRow = e.detailRow;
                gridSelectdColIndex = null;
                detailRow.find(".detailTabStripWB").kendoTabStrip({
                    animation: {
                        open: {effects: "fadeIn"}
                    }
                });
            }
            ;

            $("#gridWB").on("dblclick", " tbody > tr", function () {

                //om te verhinderen dat de modal dialog open, waneer op het +teken(openklappen detail grid met meer info) wordt geklikt


                if (gridSelectdColIndex != null) {
                    var grid = $("#gridWB").data("kendoGrid");
                    gridSelectdRowIndex = $(this).closest("tr").index();
                    gridSelectRowDataItem = gridWB.dataItem($(this));
                    popupStatusWindow.data("kendoWindow").title("Status aanpassen");
                    popupStatusWindow.show();
                    popupStatusWindow.data("kendoWindow").open();
                }
            });
            $("#gridWB").on("click", "td", function (e) {


                gridSelectdColIndex = null;
                var row = $(this).closest("tr");

                var rowIdx = $("tr", gridWB.tbody).index(row);
                gridSelectdRowIndex = rowIdx;


                if ($("td", row).index(this))
                    gridSelectdColIndex = $("td", row).index(this);


            });
        });
        function onChange(e) {
            var selected = this.select()[0],
                    item = this.dataItem(selected);
            gridSelectRowDataItem = item;

        }

        function onFilterMenuInit(e) {
            //Voor deze Kolommen de filter vullen met een Checkbox - keuze list met distinct values
            if (e.field == "type_naam" || e.field == "prioriteit_naam" || e.field == "status_naam"

                    || e.field == "creator_naam") {
                initCheckboxFilter.call(this, e);
            }
            //Voor deze Kolommen de filter default op 'Bevat' of 'Contains'zetten
            if (e.field == "omschrijving" || e.field == "nummer") {
            }
            //voor deze datum-kolommen kan gefiltert worden op van-tot datum (between 2 dates) 
            if (e.field == "creatiedatum.date") {
                var operator = e.container
                        .find("[data-role=dropdownlist]:eq(2)").data("kendoDropDownList");
                operator.value("lt");
                operator.trigger("change");
                e.container
                        .find("[data-role=dropdownlist]:eq(1)").data("kendoDropDownList").wrapper.hide();
            }
        }
        function initCheckboxFilter(e) {
            var popup = e.container.data("kendoPopup");
            var dataSource = this.dataSource;
            var field = e.field;
            var checkboxesDataSource = new kendo.data.DataSource({
                data: uniqueForField(dataSource.data(), field)
            });
            var helpTextElement = e.container.children(":first").children(":first");
            helpTextElement.nextUntil(":has(.k-button)").remove();
            var element = $("<div class='checkbox-ontainer'></div>").insertAfter(helpTextElement).kendoListView({
                dataSource: checkboxesDataSource,
                template: "<div><input type='checkbox' value='#:" + field + "#'/>#:" + field + "#</div>"
            });
            e.container.find("[type='submit']").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                var filter = dataSource.filter() || {logic: "and", filters: []};
                var fieldFilters = $.map(element.find(":checkbox:checked"), function (input) {
                    return {
                        field: field,
                        operator: "eq",
                        value: input.value
                    };
                });
                if (fieldFilters.length) {
                    removeFiltersForField(filter, field);
                    filter.filters.push({
                        logic: "or",
                        filters: fieldFilters
                    });
                    dataSource.filter(filter);
                }
                popup.close();
            });
        }
        function removeFiltersForField(expression, field) {
            if (expression.filters) {
                expression.filters = $.grep(expression.filters, function (filter) {
                    removeFiltersForField(filter, field);
                    if (filter.filters) {
                        return filter.filters.length;
                    } else {
                        return filter.field != field;
                    }
                });
            }
        }

        function uniqueForField(data, field) {
            var map = {};
            var result = [];
            var item;
            for (var i = 0; i < data.length; i++) {
                item = data[i];
                if (!map[item[field]]) {
                    result.push(item.toJSON());
                    map[item[field]] = true;
                }
            }
            return result;
        }
    </script>
    <div id="popupStatusForm" style="display:none"></div>
    <div id="popupStatusHistoriek" style="display:none"></div>
    <div id="gridWB"></div>
    <script type="text/x-kendo-template" id="template">
        <div class="detailTabStripWB">
            <ul>
                <li class="k-state-active">
                    Uitgebreide Beschrijving
                </li>
                <li>
                    Status
                </li>
            </ul>

            <div class="algemeen">
                #= beschrijving #
            </div>


            <div class='historiek'>
                #= status_naam #
                <br>
                #= status_opmerking #
            </div>

        </div>
    </script>
{% endblock %}
