{% extends 'main.twig' %}
{% block pageContent %}
    <br>
    <div id="popupStatusForm" style="display:none"></div>
    <div id="editFormWA" style="display:none"></div>
    <!-- Deze DIV wordt een Kendo UI en komt teverooschijn wanneer een nieuwe werkvraag is ingediend. -->
    <div id='windowWaAdded' style="display:none">
        <table>
            <tr>
                <td>
                    <img src="/img/success.png" height="40%"/>
                </td>
                <td>
                    De werkaanvraag is ingediend. De supervisor technische dienst zal zo snel mogelijk de werkaanvraag
                    behandelen
                    en doorsturen aan de technische dienst.
                    U zal per email op de hoogte worden gehouden.
                    U kan u de status van uw werkaanvraag ook hier steeds opvolgen.
                </td>
            </tr>
        </table>
        <br/></div>
    <script>

        /**** globale variabelen voor Werkaanvraag (WA) *****/
        //telkens we de knop 'edit' indrukken, krijgt deze variable de rij toegewezen.
        //zo kunnen we de rij gemakkelijk terugvinden en updaten.
        var gridWaSelectRowDataItem = null;
        //telkens we de knop 'edit' indrukken, krijgt deze variable de rijnummer toegewezen.
        //zo kunnen we de rij gemakkelijk terugvinden en terug selecteren. (selectie wordt opgehoffen wanneer een cell wijzigt)
        var gridWaSelectdRowIndex = null;
        var gridWaSelectdColIndex = null;
        var popupStatusHistoriekWindow = null;
        //wanneer een nieuwe WA wordt aangemaakt staat deze variable op INSERT, gaat het over een wijziging 'UPDATE'
        var CrudMode = ""; //INSERT or UPDATE
        var WBType = ""; //WA werkaanvraag of WB Werkbon
        /**** globale variabelen voor Werkbonnen (WB) *****/
        //telkens we de knop 'edit' indrukken, krijgt deze variable de rij toegewezen.
        //zo kunnen we de rij gemakkelijk terugvinden en updaten.
        var gridWbSelectRowDataItem = null;
        //telkens we de knop 'edit' indrukken, krijgt deze variable de rijnummer toegewezen.
        //zo kunnen we de rij gemakkelijk terugvinden en terug selecteren. (selectie wordt opgehoffen wanneer een cell wijzigt)
        var gridWbSelectdRowIndex = null;
        var gridWbSelectdColIndex = null;
        var popupWindow = null;
        var popupStatusWindow = null;
        //gegevens van de ingeloggde gebruiker opsparen
        var loggedOnGebruikersNaam = '{{ global_Registration.GetUserText() }}';
        var loggedOnGebruikersId = '{{ global_Registration.getId() }}';
        //deze flags houden bij of de cancel knop is ingedrukt in de popup forms
        var popupFormCancel = false;
        var popupStatusFormCancel = false;
        var popupWindowGantt = null;
        var ganttWB = null;

        //Deze functie opent het popup-scherm met het formulier 
        //om een nieuw werkaanvraag in te geven.
        function nieuweWerkaanvraag() {
            WBType = "WA";
            CrudMode = "INSERT";
            gridWaSelectRowDataItem = null;
            popupWindow.data("kendoWindow").title("Nieuwe Werkaanvraag");
            popupWindow.show();
            popupWindow.data("kendoWindow").open();
        }
        //Deze functie opent het popup-scherm met het formulier 
        //om een nieuw werkbon in te geven.
        function nieuweWerkbon() {
            WBType = "WB";
            CrudMode = "INSERT";
            gridWbSelectRowDataItem = null;
            popupWindow.data("kendoWindow").title("Nieuwe Werkbon");
            popupWindow.show();
            popupWindow.data("kendoWindow").open();
        }
        //Deze functie formateerd een datum
        function customParser(data) {
            if (data)
                return kendo.parseDate(data.date, 'yyyy-MM-dd');
            else
                return null;
        }
        //Deze functie enabled/disabled de knop 'nieuwe werkbon'
        //Een nieuwe werkbon voor een werkaanvraag kan pas worden
        //toegevoegd wanneer de werkaanvraag status 'goedgekeurd' heeft.
        function EnableBtnNieuweWerkbon(bEnabled) {
            if (bEnabled)
                $("#btnAddWerkbon").removeAttr("disabled");
            else /*nieuwe aanvraag, gesloten, afgekeurd*/
                $("#btnAddWerkbon").attr("disabled", "disabled");
        }
        //opent het popup venster waar de status van de werkopdracht aangepast kan worden. 
        function statusWijzigen() {
            popupStatusWindow.data("kendoWindow").title("Status aanpassen");
            popupStatusWindow.show();
            popupStatusWindow.data("kendoWindow").open();
        }
        //deze functie toont een popup met de status historiek van de een werkaanvraag
        function statusOverzicht() {

            popupStatusHistoriekWindow = $("#popupStatusHistoriek");
            popupStatusHistoriekWindow.kendoWindow({
                draggable: true,
                width: "600px",
                visible: false,
                content: '/werkbonnenbeheer/werkbon/statushistoriek/?woId=' + gridWaSelectRowDataItem.id,
                modal: true,
                title: "Werkaanvraag Status Historiek : " + gridWaSelectRowDataItem.id
            });

            popupStatusHistoriekWindow.show();
            popupStatusHistoriekWindow.data("kendoWindow").center().open();
        }
        /*Deze functie checked voor het openenen van het popup-formulier werkaanvraag/werkbon
         de rechten van de gebruiker. onderdelen worden readonly gezet of onzichtbaar gezet. 
         bepaalde users hebben minder mogelijkheden. */
        function CheckUserRights() {
            var treeview = $("#treeview").data("kendoTreeView");
            var dropdownTreeView = $("#dropdownTreeView").data("kendoDropDownList");
            var $treeviewRootElem = $(treeview.element).closest("div.k-treeview");
            var dropdownPrio = $('#ddPrioriteit').data("kendoDropDownList");
            var dropdownType = $('#ddType').data("kendoDropDownList");
            var comboBoxInventaris = $("#comboBoxInventaris").data("kendoComboBox");
            var editorOmschrijving = $("#omschrijving").data("kendoEditor");
            var dtBegin = $("#dtBegin").data("kendoDatePicker");
            var dtEinde = $("#dtEinde").data("kendoDatePicker");
            var bReadOnly = true;

            //de readonly tekst en icon tonen
            $("#divWoReadOnly").show();
            //de save-knop de-activeren
            $("#btnUpdateWO").hide();

            $('#titel').prop('readonly', true);
            dropdownTreeView.readonly(true);
            dropdownPrio.readonly(true);
            dropdownType.readonly(true);
            comboBoxInventaris.readonly(true);
            $(editorOmschrijving.body).attr('contenteditable', false);
            if (CrudMode == "INSERT")
                bReadOnly = false;
            if (CrudMode == "UPDATE") {
                // een werkbon kan enkel worden geupdate door een supervisor of een persoon met functierecht 325
                if (WBType == "WB") {
                    {% if (global_Registration.getGroepFuncties().getCodeRechten(325)) =='schrijven' %}
                    bReadOnly = false;
                    {% endif %}
                }
                //een werkaanvraag kan enkel worden gewijzigd door de aanvrager zelf
                //en zolang de status op 'nieuwe aanvraag' staat
                if (WBType == "WA") {
                    if (loggedOnGebruikersId == gridWaSelectRowDataItem.creator_id &&
                            gridWaSelectRowDataItem.status_id == 5)
                        bReadOnly = false;
                }
            }
            //bij een nieuwe werkaanvraag of werkbon mogen alle controls enabled worden
            //status op werkbon niveau blijft read-only. Kan enkel aangapst worden in 'mijn werkbonnen'
            if (bReadOnly == false) {

                //Submit Button activeren
                $("#btnUpdateWO").show();
                //readonly tekst en icon verbergen
                $("#divWoReadOnly").hide();
                dropdownTreeView.readonly(false);
                dropdownPrio.readonly(false);
                dropdownType.readonly(false);
                comboBoxInventaris.readonly(false);
                $(editorOmschrijving.body).attr('contenteditable', true);
                $('#titel').prop('readonly', false);
            }
            //type Herstelling/Investering/Periodiek onderhoud enkel voor enkel beschikbaar voor bepaalde groepen
            {% if (global_Registration.getGroepFuncties().getCodeRechten(305))!='schrijven' %}
            $("#ddType_listbox .k-item")[1].style.display = "none";
            {% endif %}
            {% if (global_Registration.getGroepFuncties().getCodeRechten(310))!='schrijven' %}
            $("#ddType_listbox .k-item")[2].style.display = "none";
            {% endif %}
            {% if (global_Registration.getGroepFuncties().getCodeRechten(315))!='schrijven' %}
            $("#ddType_listbox .k-item")[3].style.display = "none";
            {% endif %}

        }//einde functie CheckUserRights()

        //dit event wordt opgeroepen bij het openen van de Edit Window
        //Hier gaan we het formulier invullen met WA of WB data.
        //Met de data uit de geselecteerde rij van de grid worden de Controls gevuld.
        function onPopupWerkOpdrachtOpen() {
            //de submit button van de popup enablen
            // $("#btnUpdateWO").prop("disabled",false);
            //indien in de popup het kruisje wordt geklikt, blijft  popupFormCancel true
            //wanneer save6+sluiten wordt geklikt, wordt deze variabele false;
            popupFormCancel = true;
            //Werkaanvraag of Werkbon (Type) in hidden field plaatsen
            $("#woType").val(WBType);
            //de submit button activeren

            //Referenties naar de de Formulier Objecten ophalen
            var treeview = $("#treeview").data("kendoTreeView");
            var dropdownTreeView = $("#dropdownTreeView").data("kendoDropDownList");
            var $treeviewRootElem = $(treeview.element).closest("div.k-treeview");
            var dropdownPrio = $('#ddPrioriteit').data("kendoDropDownList");
            // var dropdownSuperVisorStatus = $('#ddSupstatus').data("kendoDropDownList");
            // var dropdownWerkbonStatus = $('#ddWBstatus').data("kendoDropDownList");
            var dropdownType = $('#ddType').data("kendoDropDownList");
            var comboBoxInventaris = $("#comboBoxInventaris").data("kendoComboBox");
            var editorOmschrijving = $("#omschrijving").data("kendoEditor");
            var dtBegin = $("#dtBegin").data("kendoDatePicker");
            var dtEinde = $("#dtEinde").data("kendoDatePicker");
            var msMedewerkers = $('#msTechnDienstMedewerkers').data("kendoMultiSelect");
            var msGroepen = $('#msTechnDienstGroepen').data("kendoMultiSelect");
            //het resultaat iframe (target voor webservice) leeg maken
            var formResultiframe = document.getElementById("form-iframe");
            //de iframe die het resultaat van de webservice ophaalt legen
            formResultiframe.contentWindow.document.body.innerHTML = "";
            //alle controls en widgets legen.
            treeview.select(null);
            $("#hiddenLocationId").val(null);
            dropdownTreeView.text(null);
            dropdownPrio.select(0);
            dropdownType.select(0);
            $("#titel").val("");
            editorOmschrijving.value("");

            comboBoxInventaris.text(null);
            comboBoxInventaris.value(null);
            comboBoxInventaris.dataSource.options.transport.read.url = "/webservice/inventaris/items/?locatieid=-1";
            comboBoxInventaris.dataSource.read();

            dtBegin.value(null);
            dtEinde.value(null);
            $("#id").val(null);
            $("#parentid").val(null);
            //multiselect toegewezen gebruikers leegmaken (change-event moet getriggerd worden, omdat deze een hidden field leegmaakt)
            msMedewerkers.value("");
            msMedewerkers.trigger("change");
            //multiselect toegewezen groepeb leegmaken (change-event moet getriggerd worden, omdat deze een hidden field leegmaakt)
            msGroepen.value("");
            msGroepen.trigger("change");
            //indien een bestaande WA, gaan we de controls vullen met zijn data
            //wanneer een nieuwe WB (Werkbon) wordt aangemaakt gaan we deze defaultmatig vullen met de data van de Werkaanvraag
            //minder typwerk voor supervisor. Is toch vaak hetzelfde
            if ((WBType == "WA" && gridWaSelectRowDataItem != null && CrudMode == "UPDATE")
                    ||
                    (WBType == "WB" && gridWaSelectRowDataItem != null && CrudMode == "INSERT")) {
                //De locatie in de Tree en TreeDropdown invullen
                var dataItem = treeview.dataSource.get(gridWaSelectRowDataItem.locatie_id);
                var selected = treeview.findByUid(dataItem.uid);
                treeview.select(selected);
                treeview.trigger('select', {node: selected});
                //prioriteit
                dropdownPrio.select(function (dataItem) {
                    return dataItem.id == gridWaSelectRowDataItem.prioriteit_id;
                });
                //SuperVisor Status
                /* dropdownSuperVisorStatus.select(function (dataItem) {
                 return dataItem.id == gridWaSelectRowDataItem.status_id;
                 });*/
                //Type van de Werkopdracht
                dropdownType.select(function (dataItem) {
                    return dataItem.id == gridWaSelectRowDataItem.type_id;
                });
                editorOmschrijving.value(gridWaSelectRowDataItem.beschrijving);
                $("#titel").val(gridWaSelectRowDataItem.titel);

                //ddInventaris.select(function(dataItem) { return dataItem.id == gridWaSelectRowDataItem.inventaris_id;     })
                comboBoxInventaris.bind("dataBound", function (e) {
                    comboBoxInventaris.select(function (dataItem) {
                        return dataItem.id == gridWaSelectRowDataItem.inventaris_id;
                    })
                });
                //een werkaanvraag heeft geen parent, het is de parent,
                //een werkbon hangt altijd aan een werkaanvraag, dus parent ID , moet ingevuld zijn.
                if (WBType == "WA") {
                    $("#parentid").val(null);
                    $("#id").val(gridWaSelectRowDataItem.id);
                }
                else {
                    $("#parentid").val(gridWaSelectRowDataItem.id);
                    $("#id").val(null);
                }
            }
            //Indien een bestaande werkbon wordt geediteerd, gaan we de popupEditor-Controls vullen
            //en voorselecteren met de waarden uit de werkbon
            if (WBType == "WB" && gridWbSelectRowDataItem != null && CrudMode == "UPDATE") // Werkbon
            {
                //De locatie in de Tree en TreeDropdown invullen
                var dataItem = treeview.dataSource.get(gridWbSelectRowDataItem.locatie_id);
                var selected = treeview.findByUid(dataItem.uid);
                treeview.select(selected);
                treeview.trigger('select', {node: selected});
                //prioriteit
                dropdownPrio.select(function (dataItem) {
                    return dataItem.id == gridWbSelectRowDataItem.prioriteit_id;
                });
                //SuperVisor Status
                /*  dropdownSuperVisorStatus.select(function (dataItem) {
                 return dataItem.id == gridWbSelectRowDataItem.status_id;
                 });*/
                //Type van de Werkopdracht
                dropdownType.select(function (dataItem) {
                    return dataItem.id == gridWbSelectRowDataItem.type_id;
                });
                //Omschrijving
                editorOmschrijving.value(gridWbSelectRowDataItem.beschrijving);
                //titel of korte beschrijving
                $("#titel").val(gridWbSelectRowDataItem.titel);
                //de id van de werkbon
                $("#id").val(gridWbSelectRowDataItem.id);
                //de id van de bijhorende werkaanvraag
                $("#parentid").val(gridWbSelectRowDataItem.parentid);
                //  dropdownWerkbonStatus.select(function (dataItem) {
                //      return dataItem.id == gridWbSelectRowDataItem.status_id;
                //  });
                comboBoxInventaris.bind("dataBound", function (e) {
                    comboBoxInventaris.select(function (dataItem) {
                        return dataItem.id == gridWbSelectRowDataItem.inventaris_id;
                    })
                });
                //begin en einddatum van de grid naar de Kendo DatePickers overbrengen
                var dateobj = kendo.parseDate(gridWbSelectRowDataItem.begindatum, "yyyy-MM-dd h:mm:ss tt");
                var datestring = kendo.toString(dateobj, "d/MM/yyyy");
                dtBegin.value(datestring);
                var dateobj = kendo.parseDate(gridWbSelectRowDataItem.einddatum, "yyyy-MM-dd h:mm:ss tt");
                var datestring = kendo.toString(dateobj, "d/MM/yyyy");
                dtEinde.value(datestring);
                //de toegewezen groepen en gebruikers selecteren
                var groepenArray = gridWbSelectRowDataItem.gebruikersgroepen_kommasep.split(",");
                msGroepen.value(groepenArray);
                msGroepen.trigger("change");
                var gebruikerIds = gridWbSelectRowDataItem.gebruikersids.split(",");
                msMedewerkers.value(gebruikerIds);
                msMedewerkers.trigger("change");
            }

            /******************************************************************/
            /******** Bepaalde controls/Widgets onzichtbaar maken *************/
            /******************************************************************/
            if (WBType == "WA") {
                //Begin en einddatum enkel mogelijk op werkbonbeheer, dus onzichtbaar maken voor  WA
                //We doen dit door de volledig tabelrij waarin de datum-invoevelden staan onzichtbaar te maken
                $("#trDates").hide();
                //groepen en medewerkers van de TD kunnen enkel worden toegewezen op Werkbonniveau
                $("#divTechnDienstGroepen").hide();
                $("#divTechnDienstMedewerkers").hide();
                //een inventarisItem kan (voorlopig) enkel worden uitgekozen op niveau Werkbon
                $("#trInventaris").hide();
            }
            if (WBType == "WB") {
                //Werkbonstatus zichtbaar maken op WB-Niveau
                //dropdownWerkbonStatus.wrapper.show();
                //Supervisor-status onzichtbaar maken op WA-niveau
                //dropdownSuperVisorStatus.wrapper.hide();
                //Begin en einddatum enkel mogelijk op werkbonbeheer, dus zichtbaar maken voor WB
                //We doen dit door de volledig tabelrij waarin de datum-invoevelden staan zichtbaar te maken
                $("#trDates").show();
                //groepen en medewerkers van de TD kunnen enkel worden toegewezen op Werkbonniveau
                $("#divTechnDienstGroepen").show();
                $("#divTechnDienstMedewerkers").show();
                //een inventarisItem kan (voorlopig) enkel worden uitgekozen op niveau Werkbon
                $("#trInventaris").show();
            }
            //treeview onzichtbaar maken
            $treeviewRootElem.css({"border": "1px solid grey", "display": "none", "position": "absolute"});
            //Rechten van ingeloggde gebruiker nakijken.
            CheckUserRights();


        }
        //Deze event-functie wordt opgeroepen wanneer het popup-formulier sluit.
        //indien de update/insert gelukt is gaan we de rij in de grid updaten met de ingegven data uit het formulier
        //In geval van een werkbon, gaan we de data terug inlezen via Webservice.
        // Dit kan vanwege het geringe aantal werkbonnen.
        function onPopupClose() {
            //Wanneer in de popup window gecanceled wordt, mogen we de grid niet updaten !!
            //alleen updaten bij save en sluiten.


            if (popupFormCancel == true) {

                return;
            }

            if (WBType == "WB") {
                $("#grid").data("kendoGrid").trigger("change");
            }
            if (WBType == "WA") {

                var treeview = $("#treeview").data("kendoTreeView");
                var dropdownTreeView = $("#dropdownTreeView").data("kendoDropDownList");
                var $treeviewRootElem = $(treeview.element).closest("div.k-treeview");
                var dropdownPrio = $('#ddPrioriteit').data("kendoDropDownList");
                var dropdownType = $('#ddType').data("kendoDropDownList");
                var comboBoxInventaris = $("#comboBoxInventaris").data("kendoComboBox");
                var editorOmschrijving = $("#omschrijving").data("kendoEditor");
                var newTitle = $("#titel").val();
                var newBeschrijving = editorOmschrijving.value();

                //de nieuwe werkaanvraag toevoegen aan het overzicht/grid 'Werkaanvragen'
                if (CrudMode == "INSERT") {
                    var val = {
                        id: $("#id").val(),
                        titel: newTitle,
                        beschrijving: newBeschrijving,
                        status_naam: 'nieuwe werkaanvraag',
                        status_id: 5,
                        prioriteit_id: dropdownPrio.value(),
                        prioriteit_naam: dropdownPrio.text(),
                        type_id: dropdownType.value(),
                        type_naam: dropdownType.text(),
                        locatie_id: $("#hiddenLocationId").val(),
                        locatie: dropdownTreeView.text(),
                        creator_id: loggedOnGebruikersId,
                        creator_naam: loggedOnGebruikersNaam,
                        creatiedatum: new Date(),
                        inventaris_id: comboBoxInventaris.value()
                    };

                    $("#grid").data("kendoGrid").dataSource.insert(0, val);
                    //een melding tonen dat de werkaanvraag is ingedient.
                    var windowTitle = 'Nieuwe werkaanvraag (WA-Nr. :  ' + $("#id").val() + ')';
                    window1.kendoWindow({
                        width: "500px",
                        visible: false,
                        modal: true,
                        title: windowTitle
                    });
                    window1.show();
                    window1.data("kendoWindow").center().open();
                    $("#grid").data("kendoGrid").select("tr:eq(1)");
                }
                //de geupdate werkaanvraag update in het overzicht/grid 'Werkaanvragen'
                if (CrudMode == "UPDATE") {
                    var val = {
                        id: $("#id").val(),
                        titel: newTitle,
                        beschrijving: newBeschrijving,
                        prioriteit_id: dropdownPrio.value(),
                        prioriteit_naam: dropdownPrio.text(),
                        type_id: dropdownType.value(),
                        type_naam: dropdownType.text(),
                        locatie_id: $("#hiddenLocationId").val(),
                        locatie: dropdownTreeView.text(),
                        creator_id: loggedOnGebruikersId,
                        creator_naam: loggedOnGebruikersNaam,
                        creatiedatum: new Date(),
                        inventaris_id: comboBoxInventaris.value()
                    };

                    $.extend(gridWaSelectRowDataItem, val);
                    var guid = kendo.guid();
                    gridWaSelectRowDataItem.set("uid", guid);
                    var row = $("#grid").data("kendoGrid").table.find('tr[data-uid="' + guid + '"]');
                    $("#grid").data("kendoGrid").select(row);
                }
            }
        }
        $(document).ready(function () {
            popupWindow = $("#editFormWA");
            popupWindow.kendoWindow({
                draggable: true,
                width: "600px",
                //    height: "100%",
                visible: false,
                content: '/werkbonnenbeheer/editeren/',
                modal: true,
                title: "tex",
                open: onPopupWerkOpdrachtOpen,
                close: onPopupClose,
                position: {top: 20, left: 250}
            });
            popupStatusWindow = $("#popupStatusForm");
            popupStatusWindow.kendoWindow({
                draggable: true,
                width: "600px",
                visible: false,
                content: '/werkbonnenbeheer/werkbon/editeren/',
                modal: true,
                title: "Werkbonstatus",
                open: onPopupStatusOpen,
                close: onPopupStatusClose,
                position: {top: 20, left: 250}
            });

            function onPopupStatusOpen() {
                //deze variable houdt bij of de cancel knop is ingedrukt
                popupStatusFormCancel = true;
                $("#woTypeHidden").val("WA");
                var dropdownWerkaanvraagStatus = $('#ddWAStatus').data("kendoDropDownList");
                dropdownWerkaanvraagStatus.wrapper.show();
                var dropdownWerkbonStatus = $('#ddWBStatus').data("kendoDropDownList");
                dropdownWerkbonStatus.wrapper.hide();
                var editorOmschrijving = $("#statusOmschrijving").data("kendoEditor");
                editorOmschrijving.value(gridWaSelectRowDataItem.status_opmerking);
                dropdownWerkaanvraagStatus.select(function (dataItem) {
                    return dataItem.id == gridWaSelectRowDataItem.status_id;

                });
                $("#woId").val(gridWaSelectRowDataItem.id);

            }

            function onPopupStatusClose() {
                /*wannneer de cacel knop is ingedrukt doen we niets*/
                if (popupStatusFormCancel == true) {
                    return;
                }
                var dropdownStatus = $('#ddWAStatus').data("kendoDropDownList");
                var editorOmschrijving = $("#statusOmschrijving").data("kendoEditor");

                var val = {
                    status_naam: dropdownStatus.text(),
                    status_id: dropdownStatus.value(),
                    status_opmerking: editorOmschrijving.value()
                };
                $.extend(gridWaSelectRowDataItem, val);

                var guid = kendo.guid();
                gridWaSelectRowDataItem.set("uid", guid);
                var row = $("#grid").data("kendoGrid").table.find('tr[data-uid="' + guid + '"]');
                $("#grid").data("kendoGrid").select(row);
            }

            window1 = $('#windowWaAdded');
            window1.hide();
            var crudServiceBaseUrl = "/webservice/werkbonnenbeheer",
                    dataSourceWA = new kendo.data.DataSource({
                        //  autoSync: true,  //inline  (batch moet dan uit)
                        batch: true, //edit of popup (autoSync moet dan uit)
                        transport: {
                            read: {
                                url: crudServiceBaseUrl + "/werkaanvraag/",
                                dataType: "Json"
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    return {models: kendo.stringify(options.models)};
                                }
                            }
                        },
                        schema: {
                            model: {
                                id: "id",
                                fields: {
                                    id: {editable: true, nullable: true},
                                    titel: {editable: false, type: "string"},
                                    beschrijving: {editable: false, type: "string"},
                                    prioriteit_id: {type: "integer"},
                                    prioriteit_naam: {type: "string"},
                                    type_id: {type: "integer"},
                                    type_naam: {type: "string"},
                                    status_opmerking: {type: "string"},
                                    status_id: {type: "integer"},
                                    status_naam: {type: "string"},
                                    creator_id: {type: "integer"},
                                    creator_email: {type: "string"},
                                    creator_naam: {type: "integer"},
                                    locatie: {type: "string"},
                                    locatie_id: {type: "integer"},
                                    inventaris: {type: "integer"},
                                    creatiedatum: {type: "datetime", parse: customParser}
                                }
                            }
                        }
                    });

            function detailInit(e) {
                var detailRow = e.detailRow;
                gridWbSelectdColIndex = null;
                detailRow.find(".detailTabStripWA").kendoTabStrip({
                    animation: {
                        open: {effects: "fadeIn"}
                    }
                });
            }
            ;
            //wanneer de selectie in de bovenste gid wordt gewijzigd (=klikken werkaanvraag)
            //worden de werkbonnen voor deze werkaanvraag geladen(onderste grid)
            function onChange(e) {

                var selected = this.select()[0],
                        item = this.dataItem(selected);
                gridWaSelectRowDataItem = item;

                var status = item.status_id;
                $("#gridWB").data("kendoGrid").dataSource.options.transport.read.url = "/webservice/werkbonnenbeheer/werkbon/?parentid=" + item.id;
                $("#gridWB").data("kendoGrid").dataSource.read();
                $("#gridWB").data("kendoGrid").refresh();
                //werkbonnen kunnen alleen maar aangemaakt worden als status van de werkaanvraag op "goedgekeurd" staat
                EnableBtnNieuweWerkbon(status == 7)
            }

            var gridWA = $("#grid").kendoGrid({
                toolbar: [{
                    template: "<button class='k-button' onclick='nieuweWerkaanvraag()'>Nieuwe Werkaanvraag</button>"
                }

                    {% if (global_Registration.getGroepFuncties().getCodeRechten(325))=='schrijven' %}
                    ,
                    {
                        template: "<button class='k-button' id='btnAddWerkbon' disabled  onclick='nieuweWerkbon()'>Nieuwe Werkbon</button>"
                    },
                    {
                        template: "<button class='k-button' onclick='statusWijzigen()'>Status Wijzigen</button>"
                    }, {

                        template: "<button class='k-button' onclick='statusOverzicht()'>Overzicht Statussen</button>"
                    }
                    {% endif %}
                    , "excel", "pdf"
                ],
                excel: {
                    fileName: "groepen-rechten.xlsx",
                    filterable: true,
                    allPages: true
                },
                pdf: {
                    fileName: "groepen-rechten.pdf",
                    filterable: true,
                    allPages: true
                },
                scrollable: {
                    virtual: true
                },
                detailTemplate: kendo.template($("#template").html()),
                detailInit: detailInit,
                sortable: true,
                groupable: true,
                filterable: true,
                filterMenuInit: onFilterMenuInit,
                change: onChange,
                scrollable: true,
                reorderable: true,
                selectable: "single row",
                resizable: true,
                height: "450px",
                pageable: false,
                dataSource: dataSourceWA,
                columns: [
                    {field: "id", title: "WA-Nr.", width: 50},
                    {
                        field: "titel", width: 200, title: "Aanvraag", filterable: {
                        cell: {
                            operator: "contains"
                        }
                    }
                    },
                    {
                        field: "type_naam", title: "Type", width: 110, filterable: {
                        cell: {
                            operator: "contains"
                        }
                    }
                    },
                    {
                        field: "status_naam", title: "Status", width: 150, filterable: {
                        cell: {
                            operator: "contains"
                        }
                    }
                    },

                    {
                        field: "locatie", title: "Locatie", width: 250, filterable: {
                        cell: {
                            operator: "contains"
                        }
                    }
                    },
                    {
                        field: "creator_naam", title: "Aangevraagd Door", width: 150, filterable: {
                        cell: {
                            operator: "contains"
                        }
                    }
                    },
                    {
                        field: "creatiedatum",
                        title: "Datum Aanvraag",
                        width: 100,
                        format: "{0:dd-MM-yyyy}",
                        type: "datetime",
                        filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }
                    }
                    ,
                    {
                        field: "prioriteit_naam", title: "Prioriteit", width: 80, filterable: {
                        cell: {
                            operator: "contains"
                        }
                    }
                    }
                ],
                //wanneer de JSON volledig in de Grid is ingeladen
                dataBound: function () {

                    //een cell met prioriteit 'gevaar' rood kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'gevaar') {
                            $(this).addClass('dangerCellClass')
                        }
                    })
                    //een cell met prioriteit 'hoog' oranje kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'hoog') {
                            $(this).addClass('highPriorityCellClass')
                        }
                    })
                    //een cell met prioriteit 'hoog' oranje kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'normaal') {
                            $(this).addClass('normalPriorityCellClass')
                        }
                    })
                    //een cell met prioriteit 'hoog' oranje kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'laag') {
                            $(this).addClass('lowPriorityCellClass')
                        }
                    })
                }
            }).data("kendoGrid");
            //double click voor editeren op een rij, enkel voor supervisor-rechten
            {% if (global_Registration.getGroepFuncties().getCodeRechten(325)) =='schrijven' %}
            //Double Click event koppelen met Grid (=> opent modal Dialog in Editor)
            $("#grid").on("dblclick", " tbody > tr", function () {
                //om te verhinderen dat de modal dialog open, waneer op het +teken(openklappen detail grid met meer info) wordt geklikt
                if (gridWaSelectdColIndex != null) {
                    var grid = $("#grid").data("kendoGrid");
                    gridWaSelectdRowIndex = $(this).closest("tr").index();
                    gridWaSelectRowDataItem = grid.dataItem($(this));
                    CrudMode = "UPDATE";
                    WBType = "WA";
                    document.getElementById("myModalLabel").innerHTML = "Nieuwe werkaanvraag ";
                    document.getElementById("btnSubmitEditForm").innerHTML = "werkaanvraag indienen";
                    popupWindow.data("kendoWindow").title("Werkaanvraag nr. " + gridWaSelectRowDataItem.id);
                    popupWindow.show();
                    popupWindow.data("kendoWindow").open();
                }
            });
            $("#grid").on("click", "td", function (e) {
                gridWaSelectdColIndex = null;
                var row = $(this).closest("tr");
                var rowIdx = $("tr", grid.tbody).index(row);
                if ($("td", row).index(this))
                    gridWaSelectdColIndex = $("td", row).index(this);
            });
            {% endif %}

            dataSourceWB = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/webservice/werkbonnenbeheer/werkbon/?parentid=-1",
                        dataType: "Json"
                    }
                },
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: {editable: true, nullable: true},
                            parentid: {parentid: true, nullable: true},
                            titel: {editable: false, type: "string"},
                            beschrijving: {editable: false, type: "string"},
                            prioriteit_id: {type: "integer"},
                            prioriteit_naam: {type: "string"},
                            type_id: {type: "integer"},
                            type_naam: {type: "string"},
                            status_id: {type: "integer"},
                            status_naam: {type: "string"},
                            creator_id: {type: "integer"},
                            creator_email: {type: "string"},
                            creator_naam: {type: "integer"},
                            locatie: {type: "string"},
                            locatie_id: {type: "integer"},
                            inventaris: {type: "integer"},
                            begindatum: {type: "datetime", parse: customParser},
                            einddatum: {type: "datetime", parse: customParser},
                            gebruikersgroepen_kommasep: {type: "string"},
                            gebruikersnamen_kommasep: {type: "string"},
                            gebruikersids: {type: "string"}
                        }
                    }
                }
            });
            var gridWB = $("#gridWB").kendoGrid({
                sortable: true,
                groupable: false,
                scrollable: true,
                reorderable: true,
                selectable: "single row",
                height: "150px",
                navigatable: true,
                columnMenu: true,
                resizable: true,
                pageable: false,
                dataSource: dataSourceWB,
                columns: [
                    {field: "id", width: 70, title: "WB"},
                    {field: "titel", width: 250, title: "Opdracht"},
                    {field: "status_naam", title: "Status", width: 120},
                    {field: "begindatum", title: "Begindatum", width: 120, format: "{0:dd-MM-yyyy}", type: "datetime"},
                    {field: "einddatum", title: "Einddatum", width: 120, format: "{0:dd-MM-yyyy}", type: "datetime"},
                    {field: "gebruikersgroepen_kommasep", title: "Groepen", width: 250},
                    {field: "gebruikersnamen_kommasep", title: "Medewerkers", width: 250},
                    {field: "locatie", title: "Locatie", width: 330},
                    {field: "prioriteit_naam", title: "Prioriteit", width: 120}
                ],
                dataBound: function () {
                    //een cell met prioriteit 'gevaar' rood kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'gevaar') {
                            $(this).addClass('dangerCellClass')
                        }
                    })
                    //een cell met prioriteit 'hoog' oranje kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'hoog') {
                            $(this).addClass('highPriorityCellClass')
                        }
                    })
                    //een cell met prioriteit 'hoog' oranje kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'normaal') {
                            $(this).addClass('normalPriorityCellClass')
                        }
                    })
                    //een cell met prioriteit 'hoog' oranje kleuren
                    $('td').each(function () {
                        if ($(this).text() == 'laag') {
                            $(this).addClass('lowPriorityCellClass')
                        }
                    })
                    //Double Click event koppelen met Grid (=> opent modal Dialog in Editor)
                }
            }).data("kendoGrid");

            //double click voor editeren op een rij, enkel voor supervisor-rechten
            {% if (global_Registration.getGroepFuncties().getCodeRechten(325)) =='schrijven' %}
            $("#gridWB").on("dblclick", " tbody > tr", function () {
                //om te verhinderen dat de modal dialog open, waneer op het +teken(openklappen detail grid met meer info) wordt geklikt
                if (gridWbSelectdColIndex != null) {
                    var grid = $("#gridWB").data("kendoGrid");
                    gridWbSelectdRowIndex = $(this).closest("tr").index();
                    gridWbSelectRowDataItem = grid.dataItem($(this));
                    CrudMode = "UPDATE";
                    WBType = "WB";
                    popupWindow.data("kendoWindow").title("Werkbon nr. " + gridWaSelectRowDataItem.id);
                    popupWindow.show();
                    popupWindow.data("kendoWindow").open();
                }
            });
            {% endif %}
            // Click event koppelen met Grid (=> opent modal Dialog in Editor)
            $("#gridWB").on("click", "td", function (e) {
                gridWbSelectdColIndex = null;
                var row = $(this).closest("tr");
                var rowIdx = $("tr", grid.tbody).index(row);
                if ($("td", row).index(this))
                    gridWbSelectdColIndex = $("td", row).index(this);
            });
        });

        //We kunnen de default filtermenu aanpassen naar onze noden.
        //bij het initieren van de filter (net na drukken op filter knop) wordt deze functie opgeroepen
        function onFilterMenuInit(e) {
            //Voor deze Kolommen de filter vullen met een Checkbox - keuze list met distinct values
            if (e.field == "type_naam" || e.field == "prioriteit_naam" || e.field == "supervisorstatus_naam"

                    || e.field == "creator_naam") {
                initCheckboxFilter.call(this, e);
            }
            //Voor deze Kolommen de filter default op 'Bevat' of 'Contains'zetten
            if (e.field == "omschrijving" || e.field == "nummer") {
            }
            //voor deze datum-kolommen kan gefiltert worden op van-tot datum (between 2 dates)
            if (e.field == "creatiedatum.date") {
                var operator = e.container
                        .find("[data-role=dropdownlist]:eq(2)").data("kendoDropDownList");
                operator.value("lt");
                operator.trigger("change");
                e.container
                        .find("[data-role=dropdownlist]:eq(1)").data("kendoDropDownList").wrapper.hide();
            }
        }
        function initCheckboxFilter(e) {
            var popup = e.container.data("kendoPopup");
            var dataSource = this.dataSource;
            var field = e.field;
            var checkboxesDataSource = new kendo.data.DataSource({
                data: uniqueForField(dataSource.data(), field)
            });
            var helpTextElement = e.container.children(":first").children(":first");
            helpTextElement.nextUntil(":has(.k-button)").remove();
            var element = $("<div class='checkbox-ontainer'></div>").insertAfter(helpTextElement).kendoListView({
                dataSource: checkboxesDataSource,
                template: "<div><input type='checkbox' value='#:" + field + "#'/>#:" + field + "#</div>"
            });
            e.container.find("[type='submit']").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                var filter = dataSource.filter() || {logic: "and", filters: []};
                var fieldFilters = $.map(element.find(":checkbox:checked"), function (input) {
                    return {
                        field: field,
                        operator: "eq",
                        value: input.value
                    };
                });
                if (fieldFilters.length) {
                    removeFiltersForField(filter, field);
                    filter.filters.push({
                        logic: "or",
                        filters: fieldFilters
                    });
                    dataSource.filter(filter);
                }
                popup.close();
            });
        }
        function removeFiltersForField(expression, field) {
            if (expression.filters) {
                expression.filters = $.grep(expression.filters, function (filter) {
                    removeFiltersForField(filter, field);
                    if (filter.filters) {
                        return filter.filters.length;
                    } else {
                        return filter.field != field;
                    }
                });
            }
        }

        function uniqueForField(data, field) {
            var map = {};
            var result = [];
            var item;
            for (var i = 0; i < data.length; i++) {
                item = data[i];
                if (!map[item[field]]) {
                    result.push(item.toJSON());
                    map[item[field]] = true;
                }
            }
            return result;
        }
    </script>
    <!--  EINDE  popup voor een nieuwe werkaanvraag -->

    <!-- <div id="horizontal" style="height: 100%; width: 100%;">
          <div id="top-pane">
 <div class="pane-content"> -->
    <div id="grid"></div>
    <!-- Details per rij in WerkaanvragenGrid -->
    <script type="text/x-kendo-template" id="template">
        <div class="detailTabStripWA">
            <ul>
                <li class="k-state-active">
                    Uitgebreide Beschrijving
                </li>
                <li>
                    Status
                </li>
            </ul>

            <div class="algemeen">
                #= beschrijving #
            </div>


            <div class='historiek'>
                <strong><u>Status :</u></strong> #= status_naam #
                <br>
                <strong><u>Opmerking :</u></strong> #= status_opmerking #
            </div>

        </div>
    </script>

    <div id="popupStatusHistoriek" style="display:none"></div>
    <div id="gridWB"></div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Venster Sluiten</span></button>
                    <h4 class="modal-title" id="myModalLabel">Werkaanvraag/Werkbon</h4>
                </div>
                <div class="modal-body">
                    <div id='content'>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSubmitEditForm" class="btn btn-success"
                            onclick="$('#iFramePopup').contents().find('#sendButton').click();">werkaanvraag indienen
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}