{% extends 'main.twig' %}

{% block pageContent %}
        <div class="container">
            <div class="jumbotron col-sm-8 center-table">
                <h3><u>naam</u> : {{ global_Registration.GetUserText() }}</h3>
                <p><u>personeelsnummer</u> : {{ global_Registration.getPersoneelscode() }} </p>
                <p><u>groep</u> : {{ global_Registration.getGroepFuncties().getGroep().getCode() }} {{ global_Registration.getGroepFuncties().getGroep().getNaam() }}</p>
              
            
          <p><u>Werkbonnenbeheer locatie</u> :        
          <table class='table'> 
                {% for locatie in global_Registration.getGroepLocaties().getLocaties() %}
                 
                       <tr>
                           <td>
                        {{ locatie.getNaam() }}  
                                </td>
                         
                            </tr>
                    
                {% endfor %}
         </table>        
        <p><u>functies</u> :   
        <table class='table'> 
                {% for functie in global_Registration.getGroepFuncties().getFuncties() %}
                 
                       <tr>
                                <td>
                        {{ functie.getRecht() }}  
                                </td>
                                <td>
                        {{ functie.getCode() }}  
                                </td>
                                    <td>
                        {{ functie.getNaam() }}  
                                </td>
                            </tr>
                    
                {% endfor %}
         </table>
            </div>
        </div>
    
{% endblock %}
