
 
{% if errormessages|length > 0 %}
              
       
       
    <div class="alert alert-danger col-md-10 center-table">
                    <ul class="errors">
                        {% for errormsg in errormessages %}
                            <li>{{ errormsg|raw }}</li>

                        {% endfor %}
                    </ul>
                </div>  </br> {% endif %}
            {% if succesmessages|length > 0 %}
          
              <div class="alert alert-success col-md-10 center-table">
 
                    <ul class="errors">
                        {% for succesmsg in succesmessages %}
                            <li>{{ succesmsg|raw }}</li>

                        {% endfor %}
                    </ul>
                </div>        </br>
            {% endif %}
         
