{% extends 'main.twig' %}

{% block pageContent %}
    <br>
    <script>
         $(document).ready(function () {
                      var crudServiceBaseUrl = "/webservice/gebruikersrechten";
                        dataSource = new kendo.data.DataSource({
                          //  autoSync: true,  //inline  (batch moet dan uit)
                            batch: true, //edit of popup (autoSync moet dan uit)
                            transport: {
                                read:  {
                                     url: crudServiceBaseUrl + '/gebruikergroep/',
                                    dataType: "Json"
                                },
                                update: {
                                    url: crudServiceBaseUrl + '/gebruikergroep' + "/save/",
                                    dataType: "Json",
                                    type: "post"
                                 },
                               /* destroy: {
                                    url: crudServiceBaseUrl + "/Products/Destroy",
                                    dataType: "Json"
                                },*/
                               /* create: {
                                    url: crudServiceBaseUrl + "/merken/save/",
                                    dataType: "Json",
                                    type: "post"
                                },*/
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                               
                                        return {models: kendo.stringify(options.models)};
                                    }
                                }
                            },
                            
                          
                           // pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                         id: { editable: false, nullable: false },
                                        groepcode: { editable: false, nullable: false },
                                        groepnaam: { editable: false, nullable: false },
                                      
                                        personeelscode: { editable: false, nullable: false },
                                        voornaam: { editable: false, nullable: false },
                                        achternaam: { editable: false, nullable: false },
                                        subgroep: { editable: false, nullable: false },
                                        functieBeschrijving: { editable: false, nullable: false },
                                        werkplaats: { editable: false, nullable: false },
                                        email: { validation: { email: true,required: false } },
                                        telefoon: { validation: { required: false } },
                                        gsm: { validation: { required: false } },
                                        foto: { validation: { editable: false} }
                                        }
                                    }
                                }
                            
                        });

                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        sortable: true,   filterable: {
                   // mode: "row"
                },  toolbar: ["excel", "pdf"],
                excel: {
                    fileName: "groepen-gebruikers.xlsx",
                    filterable: true,
                    allPages: true
                },
                pdf: {
                    fileName: "groepen-gebruikers.pdf",
                },
                dataBound: function (e) {
                 //   g.hideColumn("id");

                },   filterable: {
                   mode: "row"
                },
                sortable: true,
                groupable: true,
                height: screen.height-200,
                resizable: true,
                scrollable: true,
                reorderable: true,
                resizable: true,
                selectable: "single row",
                navigatable: true,
             //  filterable: true,
                filterMenuInit: onFilterMenuInit,
                height: screen.height-200,
                pageable: false,
                    //    toolbar: ["create"],
                        columns: [
                            {field: "foto", title: "foto", template: '<img src="/img/medewerkers/'+ '#=foto#' +  '" width="80" height="100"/>',width: 80,filterable:false},
                    {field: "functieBeschrijving", title: "functie", width: 200, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }} ,
                     {field: "werkplaats", title: "werkplaats", width: 180, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "personeelscode", title: "pers.nr.", width: 100, attributes: {
                            "class": "table-cell",
                            style: "text-align: right;"
                        }, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "voornaam", title: "voornaam", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }},
                    {field: "achternaam", title: "achternaam", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }}, 
                   
                    {field: "email", title: "email", width: 120, filterable:false 
                   , template: "# if (email) { # <a href='mailto:#=email#'>#=email#</a> # } #"           
        
        } ,
                      {field: "telefoon", title: "telefoon", width: 120,filterable:false  
                        },
                      {field: "gsm", title: "gsm", width: 120, filterable:false  
                       }/*,
                    {field: "subgroep", title: "subgroep", width: 120, filterable: {
                            cell: {
                                operator: "contains"
                            }
                        }}  */
                      
                        ] 
                      
                    });
                });
        
        
       function onFilterMenuInit(e) {

 
            //Voor deze Kolommen de filter vullen met een Checkbox - keuze list met distinct values
            if (e.field == "functie") {
                initCheckboxFilter.call(this, e);

            }
          

        }

        function initCheckboxFilter(e) {
            var popup = e.container.data("kendoPopup");
            var dataSource = this.dataSource;
            var field = e.field;
            var checkboxesDataSource = new kendo.data.DataSource({
                data: uniqueForField(dataSource.data(), field)
            });


            var helpTextElement = e.container.children(":first").children(":first");
            helpTextElement.nextUntil(":has(.k-button)").remove();
            var element = $("<div class='checkbox-ontainer'></div>").insertAfter(helpTextElement).kendoListView({
                dataSource: checkboxesDataSource,
                template: "<div><input type='checkbox' value='#:" + field + "#'/>#:" + field + "#</div>"
            });
            e.container.find("[type='submit']").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                var filter = dataSource.filter() || {logic: "and", filters: []};
                var fieldFilters = $.map(element.find(":checkbox:checked"), function (input) {
                    return {
                        field: field,
                        operator: "eq",
                        value: input.value
                    };
                });
                if (fieldFilters.length) {
                    removeFiltersForField(filter, field);
                    filter.filters.push({
                        logic: "or",
                        filters: fieldFilters
                    });
                    dataSource.filter(filter);
                }
                popup.close();
            });
        }

        function removeFiltersForField(expression, field) {
            if (expression.filters) {
                expression.filters = $.grep(expression.filters, function (filter) {
                    removeFiltersForField(filter, field);
                    if (filter.filters) {
                        return filter.filters.length;
                    } else {
                        return filter.field != field;
                    }
                });
            }
        }

        function uniqueForField(data, field) {
            var map = {};
            var result = [];
            var item;
            for (var i = 0; i < data.length; i++) {
                item = data[i];
                if (!map[item[field]]) {
                    result.push(item.toJSON());
                    map[item[field]] = true;
                }
            }
            return result;
        }
    </script>
















</style> 


<div id="grid"></div> 
{% endblock %}
