<form class="form" id="formWO" target="form-iframe"   method="post" action="{{ global_UrlRoot }}/webservice/werkbonnenbeheer/werkopdracht/save/">
    <table class="myKendoPopup" width='98%' border='0'  >
        <tr>

            <td><label for="hiddenLocationId">Locatie:</label></td>
            <td> 
                <div id="treeview"  style=" background-color: white;z-index: 999"> </div>
                <input id="dropdownTreeView"  name="dropdownTreeView">
                <input required name="hiddenLocationId" type="hidden" id="hiddenLocationId" value=''> 
            </td>
        </tr>  
        <tr id="trInventaris">    
            <td>
                <label>Inventaris-object:</label></td><td>
                <input id="comboBoxInventaris" name="comboBoxInventaris" style="z-index: 0">
            </td>

   
        <tr>
            <td>
                <label>Type:</label> </td>  <td>
                <input id="ddType" name="ddType">
            </td>  
        </tr>  
        <tr>
            <td>
                <label>Prioriteit:</label> </td> <td> 
                <input id="ddPrioriteit" name="ddPrioriteit">
            </td>  
        </tr>
        <tr id="trDates">
            <td > 
                <label>Startdatum:</label></td><td><input id="dtBegin" name="dtBegin" style="width:150px;"/> 
                <label>Einddatum:</label> <input id="dtEinde" name="dtEinde" style="width:150px;"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="titel">Korte beschrijving:</label></td><td>
                <input type="text" id="titel" name="titel" min="1" max="255" size="60" class="k-textbox"   required style="width: 400px;" /> 
            </td>
        </tr>


        <tr id="divTechnDienstGroepen">
            <td>

                <label>Groepen techn. dienst</label></td><td>
                <input id="msTechnDienstGroepen" name="msTechnDienstGroepen">
                <input id="msTechnDienstGroepenHidden" name="msTechnDienstGroepenHidden" type="hidden">
            </td>
        </tr>  
        <tr id="divTechnDienstMedewerkers">           <td>    
                <label>Medewerkers techn. dienst</label></td><td>
                <input id="msTechnDienstMedewerkers" name="msTechnDienstMedewerkers">
                <input id="msTechnDienstMedewerkersHidden" name="msTechnDienstMedewerkersHidden" type="hidden">

            </td>
        </tr> 

        <tr>     
            <td>
                <label>uitgebreide omschrijving</label></td><td>
                <textarea id="omschrijving" name="omschrijving" rows="5" cols="20" style="height:100px;width:98%">   </textarea> 
            </td>
        </tr>   


        <tr>    
            <td></td> <td>
                <input name="id" type="hidden" id="id" value=''>
                <input name="parentid" type="hidden" id="parentid" value=''></td>
        </tr> 
        <tr>  
            <td>
    

            </td> 
            <td>
                <input type="hidden" id="woType" name="woType">
                <button class="k-button k-primary k-scheduler-update"  style="float: right;" id="btnUpdateWO" name="btnUpdateWO" value="1">Opslaan & Sluiten</button>
          <div id="divWoReadOnly"><img style='width:30px' src='../img/icons/readonly.png'>Kan enkel worden gewijzigd door de aanvrager en bij status 'Nieuwe Aanvraag'</div>

            </td> 
        </tr>       
    </table>
</form>
<iframe id="form-iframe" name="form-iframe" class="result-iframe" frameborder="0">Result</iframe>
<script>
    $(document).ready(function ()
    {
        //Kendo Validator = client side custom validation: Locatie en korte beschrijving(titel) zijn verplichte velden.X
        $("formWO").kendoValidator({
            messages: {
                required: function (input) {
                       alert('1');
                    var element = input[ 0 ],
                            label = $(element.form).find("[for=" + element.id + "]");
                 
                    if (label.text=="hiddenLocationId")
                         return "gelieve de locatie in te vullen.";
                        else 
                    return "gelieve de " + label.text().replace(":", "") + " in te vullen.";
                }
            }
        });
        var validator = $("#formWO").kendoValidator().data("kendoValidator");

        //het resultaat van de form-submit (target) wordt naar het iFrame getarget.
        //in dit iFrame komt het resultaat van de webservice.
        //Indien het resultaat begint met 'error' is er een fout opgetreden.
        //in het andere geval krijgen we een JSON binnen met informatie over het record (nieuwe id,....) . 
        $('#form-iframe').load(function () {
            checkIFrameContent('form-iframe');
        });
        function checkIFrameContent(iFrameName)
        {
            var myIFrame = document.getElementById(iFrameName);
            var content = myIFrame.contentWindow.document.body.innerHTML;

            if (content)
            {
                if (content.substring(0, 5) == "error")
                {
                    $("#btnUpdateWO").show();
                    alert('er is een fout opgetreden!');
                    $('#form-iframe').show();
                        
                }
                else
                {
 
                    //indien de CRUD-opdracht gelukt is gaan we de JSON parsen
                    obj = JSON.parse(content);
                    $("#id").val(obj.id);
              
                    window.parent.popupFormCancel = false;
                    $("#btnUpdateWO").show();
                      
                    // deze window sluiten na een succesvolle insert/update
                    $("#btnUpdateWO").closest(".k-window-content").data("kendoWindow").close();
                    
                      
                }
            }
        }
        //wanneer de form gesubmit wordt gaan we de submit knop disablen zodat
        //de webservice geen 2x kan opgeroepen worden.
         $("form").submit(function(event) {
         
         if (validator.validate()) {
       
                $("#btnUpdateWO").hide();
       
         } else {
         
         }
         });  
        /****************************************/
        /* INITIALISATIE CONTROLS EN WIDGETS  ***/
        /****************************************/
        $("#dtBegin").kendoDatePicker();
        $("#dtEinde").kendoDatePicker();
        $("#omschrijving").kendoEditor();
        /*Multiselect Medewerkers TD Begin*/
        dsTechnDienstMedewerkers = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/webservice/gebruikersrechten/gebruikergroep/?groepCode=TECHD",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    fields: {
                        id: {type: "number"},
                        naam: {type: "string"}
                    }
                }
            }
        });
        $('#msTechnDienstMedewerkers').kendoMultiSelect({
            dataTextField: 'naam',
            dataValueField: 'id',
            dataSource: dsTechnDienstMedewerkers,
            change: onChangeTechnDienstMedewerkers
        });
        /*Multiselect Medewerkers TD Einde*/
        /*Multiselect msTechnDienstGroepen TD Begin*/
        dsTechnDienstGroepen = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/webservice/gebruikersrechten/gebruikersubgroep/?groepCode=TECHD",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    fields: {
                        code: {type: "string"},
                        naam: {type: "string"}


                    }
                }
            }
        });

        $('#msTechnDienstGroepen').kendoMultiSelect({
            dataTextField: 'naam',
            dataValueField: 'code',
            dataSource: dsTechnDienstGroepen,
            change: onChangeTechnDienstGroepen
        });
        /*Multiselect msTechnDienstGroepen TD Einde*/
        /*COMBOBOX Inventaris BEGIN*/
        dsInventaris = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/webservice/inventaris/items/",
                    dataType: "json",
                    //pas wanneer de inventaris items volledig zijn ingeladen , gaan we de submit knop vrijgeven
                    complete: function (jqXHR, textStatus) {
                       // $("#btnUpdateWO").show();
                    }

                }
            },
            schema: {
                model: {
                    fields: {
                        id: {type: "number"},
                        nummer: {type: "string"},
                        omschrijving: {type: "string"},
                        leverancier: {type: "string"},
                        toestel: {type: "string"},
                        merk: {type: "string"},
                        serienummer: {type: "string"}

                    }
                }
            }
        });

        $('#comboBoxInventaris').width(400).kendoComboBox({
            dataTextField: 'omschrijving',
            dataValueField: 'id',
            template: "<table  style='font-size:0.7em'><tr><td width='100px'>${ nummer}</td><td width='250px'>${ omschrijving }</td><td width='100px'>${ leverancier }</td><td width='100px'>${ toestel }</td><td width='100px'>${ merk }</td></tr></table>",
            dataSource: dsInventaris
        });

        var combobox = $("#comboBoxInventaris").data("kendoComboBox");
        combobox.list.width(700);
        /*COMBOBOX Inventaris EINDE*/

        /*DROPDOWN Type Begin*/
        dsType = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/webservice/werkbonnenbeheer/werkaanvraag/type/",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    fields: {
                        id: {type: "number"},
                        naam: {type: "string"}
                    }
                }
            }
        });
        $('#ddType').width(220).kendoDropDownList({
            dataTextField: 'naam',
            dataValueField: 'id',
            dataSource: dsType
        });
        var ddType = $("#ddType").data("kendoDropDownList");
        ddType.list.width(300);
        /*DROPDOWN Type EINDE*/

        /*DROPDOWN Prioriteit Begin*/
        dsPrio = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/webservice/werkbonnenbeheer/werkaanvraag/prioriteit/",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    fields: {
                        id: {type: "number"},
                        naam: {type: "string"}
                    }
                }
            }
        });
        $('#ddPrioriteit').width(220).kendoDropDownList({
            dataTextField: 'naam',
            dataValueField: 'id',
            dataSource: dsPrio
        });
        var ddPrio = $("#ddPrioriteit").data("kendoDropDownList");
        ddPrio.list.width(300);
        /*DROPDOWN Prioriteit EINDE*/
        /*DROPDOWN/TREEVIEW LOCATIE BEGIN*/
        var dropdownTreeView = $("#dropdownTreeView").width(480).kendoDropDownList({
            dataSource: [{text: "", value: "-1"}],
            dataTextField: "text",
            dataValueField: "value",
            open: function (e) {
                //TreeView onder deze dropdown positioneren.
                $treeviewRootElem.css({"top": $dropdownRootElem.position().top + $dropdownRootElem.height(), "left": $dropdownRootElem.position().left});
                // If the treeview is not visible, then make it visible.
                if (!$treeviewRootElem.hasClass("k-custom-visible"))
                {
                    TreeInVisible();
                }
                else
                {
                    TreeVisible();
                }
            }
        }).data("kendoDropDownList");

        function TreeVisible()
        {
            $treeviewRootElem.slideToggle('fast', function () {
                dropdownTreeView.close();
                $treeviewRootElem.addClass("k-custom-visible");
            });
        }
        function TreeInVisible()
        {
            $treeviewRootElem.slideToggle('fast', function () {
                dropdownTreeView.close();
                $treeviewRootElem.removeClass("k-custom-visible");
            });
        }
        //Helper functie die alle parents van een Node afgaat en de strings concanteneerd.
        function getLocationFullText(tree, node, fullString)
        {
            var text = "";
            try {
                text = tree.text(node);
            } catch (err) {
            }
            if (text)
            {
                if (fullString)
                    fullString = text + "->" + fullString;
                else
                    fullString = fullString = text;
                var parent = tree.parent(node);
                return getLocationFullText(tree, parent, fullString);
            }
            return fullString;
        }
        var ds = new kendo.data.HierarchicalDataSource({
            data: {{ treeJson|raw }} 
        });

        //de locatietree
        //wanneer een locatie wordt geslecteerd moeten de combobox Inventaris opnieuw
        //geladen worden met all inventaris-objecten gelegen op deze locatie
        var treeview = $("#treeview").kendoTreeView({
            dataSource: ds,
            dataTextField: "naam",
            loadOnDemand: false,
            select: function (e) {
                var d = this.dataItem(e.node);  
                //de ID van de gekozen locatie opslaan in een hidden field van het formulier
                //zodat we deze kunnen meesturen naar de webservice.
                $("#hiddenLocationId").val(d.id);

                if ($("#woType").val() == "WB")
                {
                    //x(Voorlopig) kan een inventaris object enkel worden uitgekozen op niveau Werkbon (WB)
                    //Wanneer de locatie wordt gewijzigd moeten de Inventaris-Combobox worden geleegd en
                    //gevuld met inventaris-objecten gelegen op deze locatie. 
                    //Omdat het laden bij vele items even kan duren gaan we de Submit-Knop inactief zetten
                    //wanneer de inventaris lijst helemaal gevuld is wordt de submi-knop terug actief.
                    //zie dsInventaris event completed
                    //("#btnUpdateWO").hide();
                    $("#comboBoxInventaris").data("kendoComboBox").dataSource.options.transport.read.url = "/webservice/inventaris/items/?locatieid=" + d.id;
                    $("#comboBoxInventaris").data("kendoComboBox").dataSource.read();
                    $("#comboBoxInventaris").data("kendoComboBox").text(null);
                    $("#comboBoxInventaris").data("kendoComboBox").value(null);
                }
                //het volledige pad van gekozen de locatie tonen in textarea van de dropdown
                var text = getLocationFullText(this, e.node, "");
                $dropdownRootElem.find("span.k-input").text(text);
                //de treeview sluiten en weer onzichtbaar maken.    
                $treeviewRootElem.slideToggle('fast', function () {
                    $treeviewRootElem.removeClass("k-custom-visible");
                });
            }
        }).data("kendoTreeView");

        var $dropdownRootElem = $(dropdownTreeView.element).closest("span.k-dropdown");
        var $treeviewRootElem = $(treeview.element).closest("div.k-treeview");
        $treeviewRootElem.width($dropdownRootElem.width()).css({"border": "1px solid grey", "display": "none", "position": "absolute"});

    });

    /*DROPDOWN/TREEVIEW LOCATIE EINDE*/
    //de geselecteerde waarden van de kendo multicolumn combox worden niet gepost met de form
    //wanneer er een item toegevoegd wordt of verwijderd wordt gaan we een hidden field vullen met de id's
    //dit hidden field wordt wel gepost naar de webservice
    function onChangeTechnDienstGroepen()
    {
        var kommaSepString = multiSelect_GetSelectedItems("#msTechnDienstGroepen", "code");
        $("#msTechnDienstGroepenHidden").val(kommaSepString);
    }
    function onChangeTechnDienstMedewerkers()
    {
        var kommaSepString = multiSelect_GetSelectedItems("#msTechnDienstMedewerkers", "id");
        $("#msTechnDienstMedewerkersHidden").val(kommaSepString);
    }

</script>
