{% for historiekItem in statusHistoriekLijst %}
    <table id="tableWerkopdrachtStatusHistoriek" width="100%">
        <tr>
            <td>
                Datum :
            </td>
            <td>
                {{ historiekItem.getDatum()|date('d-m-Y') }}
            </td>
        </tr>
        <tr>
            <td>
                Status :
            </td>
            <td>
                {{ historiekItem.getWerkOprachtStatus().getNaam() | capitalize }}
            </td>
        </tr>
        <tr>
            <td>
                Opmerking :
            </td>
            <td>
                {{ historiekItem.getOpmerking() | capitalize }}
            </td>
        </tr>
        <tr>
            <td>
                Aangepast door :
            </td>
            <td>
                {{ historiekItem.getGebruiker().getVoornaam() }}   {{ historiekItem.getGebruiker().getAchternaam() }}
            </td>
        </tr>
    </table>
    <hr>
{% endfor %}



