<form class="form" id="form" target="form-iframe" method="post" action="{{ global_UrlRoot }}/webservice/werkbonnenbeheer/werkbon/save/">
    <table class="myKendoPopup" width='98%' border='0'  >
        <input type="hidden" id="woId" name="woId">
        <input type="hidden" id="woTypeHidden" name="woTypeHidden">
        <input id="ddWBStatus" name="ddWBStatus">
        <input id="ddWAStatus" name="ddWAStatus">
        <textarea id="statusOmschrijving" name="statusOmschrijving" rows="5" cols="20" style="height:100px;width:98%">   </textarea> 
        <button class="k-button k-primary k-scheduler-update"  style="float: right;" id="btnSaveStatus" name="btnSaveStatus" value="1">Opslaan & Sluiten</button>
    </table>
</form>

<!-- Target iFrame voor Formresultaat --> 
<iframe id="form-iframe" name="form-iframe" class="result-iframe" frameborder="0">Result</iframe>

<script>
    $(document).ready(function ()
    {
        //Kendo Validator = client side custom validation: Locatie en korte beschrijving(titel) zijn verplichte velden.
        $("form").kendoValidator({
            messages: {
                required: function (input) {
                    var element = input[ 0 ],
                            label = $(element.form).find("[for=" + element.id + "]");
                    return "gelieve de " + label.text().replace(":", "") + " in te vullen.";
                }
            }
        });
        //het resultaat van de form-submit (target) wordt naar het iFrame getarget.
        //in dit iFrame komt het resultaat van de webservice.
        //Indien het resultaat begint met 'error' is er een fout opgetreden.
        //in het andere geval krijgen we een JSON binnen met informatie over het record (nieuwe id,....)
        $('#form-iframe').load(function () {
            checkIFrameContent('form-iframe');
        });
        function checkIFrameContent(iFrameName)
        {

            var myIFrame = document.getElementById(iFrameName);
            var content = myIFrame.contentWindow.document.body.innerHTML;
            if (content)
            {
                if (content.substring(0, 5) == "error")
                {
                    alert('er is een fout opgetreden!');
                    $('#form-iframe').show();
                }
                else
                {
                    window.parent.popupStatusFormCancel = false;
                    $("#btnSaveStatus").closest(".k-window-content").data("kendoWindow").close();
                }
            }
        }
        /****************************************/
        /* INITIALISATIE CONTROLS EN WIDGETS  ***/
        /****************************************/
        /*DROPDOWN WBStatus Begin*/
        $("#statusOmschrijving").kendoEditor();
        var dsWBstatus = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/webservice/werkbonnenbeheer/werkopdracht/status/?type=WB&mode=user",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    fields: {
                        id: {type: "number"},
                        naam: {type: "string"}
                    }
                }
            }
        });
        $('#ddWBStatus').width(220).kendoDropDownList({
            dataTextField: 'naam',
            dataValueField: 'id',
            dataSource: dsWBstatus,
            change: onChange
        });
        var ddWBstatus = $("#ddWBStatus").data("kendoDropDownList");
        ddWBstatus.list.width(300);

        dsWAstatus = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/webservice/werkbonnenbeheer/werkopdracht/status/?type=WA&mode=user",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    fields: {
                        id: {type: "number"},
                        naam: {type: "string"}
                    }
                }
            }
        });
        $('#ddWAStatus').width(220).kendoDropDownList({
            dataTextField: 'naam',
            dataValueField: 'id',
            dataSource: dsWAstatus,
            change: onChange
        });
        var ddWAstatus = $("#ddWAStatus").data("kendoDropDownList");
        ddWAstatus.list.width(300);

        function onChange() {
            var editorOmschrijving = $("#statusOmschrijving").data("kendoEditor");
            editorOmschrijving.value("");
        }
    });
</script>
